{% extends "wagtail_base.html" %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'macros/back_to_top.html' import back_to_top -%}
{%- from 'macros/feedback.html' import feedback -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'macros/hero.html' import hero -%}
{%- from 'macros/newsletter.html' import newsletter -%}
{%- from 'macros/wagtail_streamfield.html' import wagtail_streamfield -%}

{%- set breadcrumbs_style = 'accent-light' -%}
{%- set og_title_prefix = 'Education session' -%}

{% block head %}
{{ super() }}
    <link rel="canonical" href="{{ page_data.meta.url }}">
{% endblock head %}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='education.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
{% endblock stylesheets %}

{% block content %}
<div class="tna-background-accent-light">
  {{ global_alert_banners(page_data.global_alert, page_data.mourning_notice, None, 'm') }}
  {% call hero(page_data, page_data.hero_image, {
    'layout': 'over',
    'use_small_image': True
  }) %}
    <div class="tna-large-paragraph">
      {{ page_data.intro | tna_html | safe }}
    </div>
    <dl class="tna-dl">
      <dt>
        <i class="fa-solid fa-person-chalkboard" aria-hidden="true"></i>
        Age range{{ 's' if page_data.key_stages | length > 1 else '' }}
      </dt>
      {%- for key_stage in page_data.key_stages %}
      <dd>{{ key_stage.name }} ({{ key_stage.public_age_range }})</dd>
      {%- endfor %}
      
      <dt>
        <i class="fa-solid fa-calendar" aria-hidden="true"></i>
        Date
      </dt>
      <dd>
        {%- if page_data.start_date or page_data.end_date %}
        {{ pretty_date_range(page_data.start_date, page_data.end_date) }}
        {%- else %}
        All year
        {%- endif %}
      </dd>

      {%- if page_data.session_locations | length %}
      <dt>
        <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
        Location{{ 's' if page_data.session_locations | length > 1 else '' }}
      </dt>
      <dd>
        {%- set locations_list = [] %}
        {%- for location in page_data.session_locations %}
          {%- do locations_list.append(location.venue_name or location.location_type_display) %}
        {%- endfor %}
        {{ locations_list | join(', ') }}
      </dd>
      {%- endif %}
    </dl>
  {% endcall %}
</div>

<h2 class="tna-visually-hidden">About this session</h2>
<div class="tna-container tna-!--padding-top-m tna-!--padding-bottom-s">
  <div class="tna-column tna-column--flex-1 tna-column--full-small tna-column--full-tiny tna-!--margin-top-s">
    <div class="tna-education-top-details tna-background-tint">
      <div class="tna-education-top-details__content">
        <h3 class="tna-heading-s">
          <i class="fa-solid fa-fw fa-hourglass tna-education-top-details__icon" aria-hidden="true"></i>
          Time period{{ 's' if page_data.time_periods | length > 1 else '' }}
        </h3>
        <ul class="tna-ul tna-!--margin-top-xs">
          {%- for time_period in page_data.time_periods %}
          <li>
            {{ time_period.name }}
            {% if time_period.year_from and time_period.year_to %}
              ({{ time_period.year_from }}–{{ time_period.year_to }})
            {%- endif %}
          </li>
          {%- endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="tna-column tna-column--flex-1 tna-column--full-small tna-column--full-tiny tna-!--margin-top-s">
    <div class="tna-education-top-details tna-background-tint">
      <div class="tna-education-top-details__content">
        <h3 class="tna-heading-s">
          <i class="fa-solid fa-fw fa-scroll tna-education-top-details__icon" aria-hidden="true"></i>
          Theme{{ 's' if page_data.themes | length > 1 else '' }}
        </h3>
        <ul class="tna-ul tna-!--margin-top-xs">
          {%- for theme in page_data.themes %}
          <li>{{ theme.name }}</li>
          {%- endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="tna-container tna-!--padding-bottom-l">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--padding-top-l">
    {{ wagtail_streamfield(page_data.description, 2) }}
    {%- if page_data.curriculum_connection_description %}
    <h2 class="tna-heading-l">Connections to the curriculum</h2>
    {{ page_data.curriculum_connection_description | tna_html | safe }}
    {%- endif %}
  </div>
  <div class="tna-column tna-column--width-1-3 tna-column--width-2-3-medium tna-column--width-3-4-small tna-column--full-tiny tna-!--padding-top-l">
    <div class="tna-aside tna-background-accent-light">
      <h2 class="tna-heading-l">Key details</h2>
      <dl class="tna-dl tna-dl--stacked">
        <dt>
          <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
          Location{{ 's' if page_data.session_locations | length > 1 else '' }}
        </dt>
        <dd>
          {% macro address_display(location) %}
            {%- if location.location_type == 'custom' %}
              {{ [
                location.venue_name,
                location.address_line_1,
                location.address_line_2,
                location.postcode
              ] | select | join('<br>') | safe }}
            {%- else %}
              {{ location.location_type_display }}
            {%- endif %}
          {% endmacro %}

          {%- if page_data.session_locations | length > 1 %}
          <ul class="tna-ul">
          {%- for location in page_data.session_locations %}
            <li>
              {{ address_display(location) }}
            </li>
          {%- endfor %}
          </ul>
          {%- else %}
            {{ address_display(page_data.session_locations | first) }}
          {%- endif %}
        </dd>

        <dt>
          <i class="fa-solid fa-calendar" aria-hidden="true"></i>
          Date
        </dt>
        <dd>
          {%- if page_data.start_date or page_data.end_date %}
          {{ pretty_date_range(page_data.start_date, page_data.end_date) }}
          {%- else %}
          All year
          {%- endif %}
        </dd>

        <dt>
          <i class="fa-solid fa-ticket" aria-hidden="true"></i>
          Price
        </dt>
        <dd>{{ page_data.price | pretty_price }}{% if page_data.price %} {{ page_data.price_detail }}{% endif %}</dd>

        {%- set locations_with_durations = page_data.session_locations | rejectattr('duration', 'none') | list %}
        {%- if locations_with_durations %}
        <dt>
          <i class="fa-solid fa-clock" aria-hidden="true"></i>
          Duration
        </dt>
        <dd>
          {%- if locations_with_durations | length == 1 %}
            {{ (locations_with_durations | first).duration }}
          {%- else %}
          <ul class="tna-ul">
          {%- for location in locations_with_durations %}
            {%- if location.duration %}
            <li>{{ location.venue_name if location.location_type == 'custom' else location.location_type_display }}: {{ location.duration }}</li>
            {%- endif %}
          {%- endfor %}
          </ul>
          {%- endif %}
        </dd>
        {%- endif %}

        <dt>
          <i class="fa-solid fa-person-chalkboard" aria-hidden="true"></i>
          Age range{{ 's' if page_data.key_stages | length > 1 else '' }}
        </dt>
        {%- for key_stage in page_data.key_stages %}
        <dd>{{ key_stage.name }} ({{ key_stage.public_age_range }})</dd>
        {%- endfor %}
      </dl>
      
      {%- if page_data.booking_link %}
      <div class="tna-button-group">
        {{ tnaButton({
          'text': 'Book now',
          'href': page_data.booking_link,
          'attributes': {
            'rel': 'noreferrer nofollow noopener'
          }
        }) }}
      </div>
      {%- endif %}
    </div>
  </div>
</div>

{%- if page_data.highlights %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h2 class="tna-heading-l">Highlights</h2>
      {{ wagtail_streamfield(page_data.highlights, 3) }}
    </div>
  </div>
</div>
{%- endif %}

<div class="tna-section tna-container">
  <div class="tna-column tna-column--full">
    {% call newsletter('Be the first to hear about new education resources') %}
      <p>Subscribe to our regular newsletter for education updates and early booking for online sessions.</p>
    {% endcall %}
  </div>
</div>

{%- if page_data.related_education_sessions %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h2 class="tna-heading-l">More education sessions</h2>
    </div>
  </div>
  <ul class="tna-container">
    {%- for session in page_data.related_education_sessions %}
    <li class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
      {% set card_content = {
        'supertitle': session.type_label,
        'title': session.title,
        'headingLevel': 3,
        'headingSize': 'm',
        'href': session.url,
        'meta': [
          {
            'title': 'Key stage',
            'text': session.key_stages | map(attribute='short_key_stage') | join(', '),
            'icon': 'person-chalkboard'
          }
        ],
        'text': session.teaser_text,
        'style': 'plain',
        'fullAreaClick': True,
        'style': 'plain',
        'classes': 'tna-card--full-height'
      } %}
      {%- if session.teaser_image %}
        {% set card_content = dict(card_content, **{
          'imageSrc': session.teaser_image.jpeg.full_url,
          'imageAlt': session.teaser_image.description,
          'imageWidth': session.teaser_image.jpeg.width,
          'imageHeight': session.teaser_image.jpeg.height,
          'imageSources': [
            {
              'src': session.teaser_image.webp.full_url,
              'type': 'image/webp',
              'width': session.teaser_image.webp.width,
              'height': session.teaser_image.webp.height
            }
          ]
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
    </li>
    {%- endfor %}
  </ul>
</div>
{%- endif %}

{{ feedback() }}
{{ back_to_top() }}
{% endblock content %}
