{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/sidebar/macro.html' import tnaSidebar -%}
{%- from 'macros/back_to_top.html' import back_to_top -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}

{%- set breadcrumbsStyle = 'accent-light' -%}

{% macro simplePageWithSidebar(aToZSidebar, noPadding, sidebarTitle, sidebarHeadingSize) %}
<div class="tna-container tna-section tna-!--no-padding-top">
  {% set headings = caller() | headings_list %}
  {%- if headings %}
  <div class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny tna-!--padding-top-m">
    {{ tnaSidebar({
      'title': sidebarTitle or 'Contents',
      'headingLevel': 2,
      'headingSize': sidebarHeadingSize or 'm',
      'items': headings,
      'type': 'sections' if aToZSidebar else 'contents',
      'sticky': True,
      'classes': 'tna-sidebar--static-on-mobile tna-!--padding-top-s' + (' tna-sidebar--a-z' if aToZSidebar else '')
    }) }}
  </div>
  {%- endif %}
  <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny tna-!--padding-top-m{% if noPadding %} tna-container--no-padding{% endif %}">
    {{ caller() }}
  </div>
</div>
{% endmacro %}

{% block main %}
  {% block beforeContent %}
    {{ super() }}
  {% endblock %}
  <main class="tna-main {{ mainClasses }}" id="main-content">
    <div class="tna-background-accent-light">
      {{ global_alert_banners(page_data.global_alert, page_data.mourning_notice) }}
      <div class="tna-container tna-section tna-!--padding-bottom-xl">
        <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
          {% block contentHeader %}{% endblock %}
        </div>
      </div>
    </div>
    {% block afterContentHeader %}{% endblock %}
    {% call simplePageWithSidebar(aToZSidebar or False, noPadding or False, sidebarTitle or None, sidebarHeadingSize or None) %}
    {% block content %}{% endblock %}
    {% endcall %}
    {{ back_to_top() }}
  </main>
{% endblock %}
