{% extends 'explore_the_collection/base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'macros/back_to_top.html' import back_to_top -%}
{%- from 'macros/feedback.html' import feedback -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'explore_the_collection/partials/discovery-search.html' import discoverySearch -%}

{%- set themeAccent = 'black' if page_data.mourning_notice else 'green' -%}

{% block head %}
{{ super() }}
    <link rel="canonical" href="{{ page_data.meta.html_url }}">
{% endblock %}

{% block content %}
{{ global_alert_banners(page_data.global_alert, page_data.mourning_notice) }}
{%- for item in page_data.body %}
{%- if item.type == 'large_card_links' %}
  {{ tnaHero({
    'title': page_data.title,
    'headingLevel': 1,
    'headingSize': 'xl',
    'body': '<div class="tna-large-paragraph tna-!--margin-top-s">' + page_data.intro + '</div>',
    'imageSrc': 'https://beta.nationalarchives.gov.uk/media/images/brixton-19.93e5b09d.fill-1200x480.format-webp.webpquality-60.bgcolor-fff.webp',
    'narrow': True
  }) }}
  <div class="tna-section tna-!--padding-top-s tna-background-contrast-">
    <ul class="tna-container">
      <li class="tna-column tna-column--width-1-2 tna-column--full-small tna-column--full-tiny">
        {{ tnaCard({
          'title': item.value.page_1.title,
          'headingLevel': 2,
          'headingSize': 'm',
          'href': item.value.page_1.url,
          'text': 'Our collection shines a light on many aspects of life, from the stories of states to different people\'s experiences. Browse these topics for just a taste.',
          'imageSrc': item.value.page_1.teaser_image.jpeg.full_url,
          'imageAlt': item.value.page_1.teaser_image.alt_text or '',
          'imageWidth': item.value.page_1.teaser_image.jpeg.width,
          'imageHeight': item.value.page_1.teaser_image.jpeg.height,
          'imageSources': [
            {
              'src': item.value.page_1.teaser_image.webp.full_url,
              'type': 'image/webp',
              'width': item.value.page_1.teaser_image.webp.width,
              'height': item.value.page_1.teaser_image.webp.height
            }
          ],
          'fullAreaClick': True,
          'classes': 'tna-!--margin-top-m'
        }) }}
      </li>
      <li class="tna-column tna-column--width-1-2 tna-column--full-small tna-column--full-tiny">
        {{ tnaCard({
          'title': item.value.page_2.title,
          'headingLevel': 2,
          'headingSize': 'm',
          'href': item.value.page_2.url,
          'text': 'More than a thousand years of human history live on in the records we care for. Browse stories and collection highlights by the time periods they come from.',
          'imageSrc': item.value.page_2.teaser_image.jpeg.full_url,
          'imageAlt': item.value.page_2.teaser_image.alt_text or '',
          'imageWidth': item.value.page_2.teaser_image.jpeg.width,
          'imageHeight': item.value.page_2.teaser_image.jpeg.height,
          'imageSources': [
            {
              'src': item.value.page_2.teaser_image.webp.full_url,
              'type': 'image/webp',
              'width': item.value.page_2.teaser_image.webp.width,
              'height': item.value.page_2.teaser_image.webp.height
            }
          ],
          'fullAreaClick': True,
          'classes': 'tna-!--margin-top-m'
        }) }}
      </li>
    </ul>
  </div>
{%- endif %}
{%- endfor %}

<section class="tna-section tna-background-accent tna-!--padding-top-m">
  {{ discoverySearch() }}
</section>

{{ tnaHero({
  'title': 'Stories from the collection',
  'headingLevel': 2,
  'headingSize': 'l',
  'text': 'Discover the stories behind the collection. Learn about the people, places and events featured in our records.',
  'imageSrc': 'https://beta.nationalarchives.gov.uk/media/images/Chevalier-dEo.2e16d0ba.fill-600x400.format-jpeg.jpegquality-60.bgcolor-fff.jpg',
  'actions': [
    {
      'text': 'Browse all stories',
      'href': '/explore-the-collection/stories/'
    }
  ],
  'style': 'accent',
  'layout': 'shift'
}) }}

<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h2 class="tna-heading-l">Blogs and podcasts</h2>
      {{ tnaCard({
        'supertitle': 'Blog',
        'title': 'On the record',
        'headingLevel': 3,
        'headingSize': 'm',
        'text': 'The National Archives presents On the Record, a podcast series that unearths the real life stories found in our vast collections.',
        'imageSrc': 'https://www.nationalarchives.gov.uk/wp-content/uploads/sites/24/2025/02/Screenshot-2025-02-27-164031.png',
        'actions': [
          {
            'text': 'Listen to the podcasts',
            'href': '#'
          }
        ],
        'horizontal': True,
        'horizontalOnSmall': True,
        'fullAreaClick': True,
        'style': 'accent',
        'classes': 'tna-!--margin-top-m'
      }) }}
      {{ tnaCard({
        'supertitle': 'Blog',
        'title': 'Explore the collection blog',
        'headingLevel': 3,
        'headingSize': 'm',
        'text': 'Learn how the stories hidden in our documents are uncovered by our experts. And get tips on how you can do your own research into our wealth of records.',
        'imageSrc': 'https://beta.nationalarchives.gov.uk/media/images/sophia-selling-newspaper-t.2e16d0ba.fill-600x400.format-jpeg.jpegquality-60.bgcolor-fff.jpg',
        'actions': [
          {
            'text': 'Read the latest blog post',
            'href': '#'
          }
        ],
        'horizontal': True,
        'horizontalFlipped': True,
        'horizontalOnSmall': True,
        'fullAreaClick': True,
        'style': 'accent',
        'classes': 'tna-!--margin-top-m'
      }) }}
    </div>
  </div>
</section>

{{ feedback() }}
{{ back_to_top() }}

{% endblock %}
