{% extends 'explore_the_collection/base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/index-grid/macro.html' import tnaIndexGrid -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'macros/feedback.html' import feedback -%}
{%- from 'explore_the_collection/partials/discovery-search.html' import discoverySearch -%}

{%- set themeAccent = 'black' if page_data.mourning_notice else 'yellow' -%}

{% block head %}
{{ super() }}
    <link rel="canonical" href="{{ page_data.meta.html_url }}">
{% endblock %}

{% block content %}
{{ global_alert_banners(page_data.global_alert, page_data.mourning_notice) }}
<section class="tna-section">

  NEW!!!

</section>
{{ feedback() }}

{% endblock %}
