{% extends 'explore_the_collection/base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'macros/back_to_top.html' import back_to_top -%}
{%- from 'macros/feedback.html' import feedback -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'explore_the_collection/partials/discovery-search.html' import discoverySearch -%}

{%- set themeAccent = 'black' if page_data.mourning_notice else 'green' -%}

{% block head %}
{{ super() }}
    <link rel="canonical" href="{{ page_data.meta.html_url }}">
{% endblock %}

{% block content %}
{{ global_alert_banners(page_data.global_alert, page_data.mourning_notice, None, 'm') }}

{%- set hero_intro %}
  <div class="tna-large-paragraph tna-!--margin-top-s">{{ page_data.intro | safe }}</div>
{%- endset %}

{%- set hero_image_caption %}
  {{ page_data.hero_image_caption | safe }}
  {%- if page_data.hero_image.copyright %}
    <div class="tna-hero__copyright" itemprop="copyrightNotice">{{ page_data.hero_image.copyright | tna_html | safe }}</div>
  {%- endif %}
{%- endset %}

{{ tnaHero({
  'supertitle': page_data.type_label,
  'title': page_data.title,
  'body': hero_intro,
  'imageSrc': page_data.hero_image.jpeg.full_url,
  'imageAlt': page_data.hero_image.description,
  'imageWidth': page_data.hero_image.jpeg.width,
  'imageHeight': page_data.hero_image.jpeg.height,
  'imageCaption': hero_image_caption,
  'imageSources': [
    {
      'src': page_data.hero_image_small.webp.full_url,
      'width': page_data.hero_image_small.webp.width,
      'height': page_data.hero_image_small.webp.height,
      'type': 'image/webp',
      'media': '(max-width: 48em)'
    },
    {
      'src': page_data.hero_image_small.jpeg.full_url,
      'width': page_data.hero_image_small.jpeg.width,
      'height': page_data.hero_image_small.jpeg.height,
      'type': 'image/jpeg',
      'media': '(max-width: 48em)'
    },
    {
      'src': page_data.hero_image.webp.full_url,
      'width': page_data.hero_image.webp.width,
      'height': page_data.hero_image.webp.height,
      'type': 'image/webp'
    }
  ],
  'narrow': True
}, page_data.hero_image.uuid, page_data.hero_image.title) }}

{%- for item in page_data.body %}
{%- if item.type == 'large_card_links' %}
  <div class="tna-section tna-!--padding-top-s tna-background-contrast">
    <ul class="tna-container tna-container--align-centre">
      {%- for page in ['page_1', 'page_2'] %}
      <li class="tna-column tna-column--width-5-12 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-m">
        {{ tnaCard({
          'supertitle': item.value[page].type_label,
          'title': item.value[page].title,
          'headingLevel': 2,
          'headingSize': 'm',
          'href': item.value[page].url,
          'text': item.value[page].teaser_text,
          'imageSrc': item.value[page].teaser_image.jpeg.full_url,
          'imageAlt': item.value[page].teaser_image.description,
          'imageWidth': item.value[page].teaser_image.jpeg.width,
          'imageHeight': item.value[page].teaser_image.jpeg.height,
          'imageSources': [
            {
              'src': item.value[page].teaser_image.webp.full_url,
              'type': 'image/webp',
              'width': item.value[page].teaser_image.webp.width,
              'height': item.value[page].teaser_image.webp.height
            }
          ],
          'fullAreaClick': True,
          'classes': 'tna-card--full-height'
        }) }}
      </li>
      {%- endfor %}
    </ul>
  </div>
{%- endif %}
{%- endfor %}

<section class="tna-background-accent tna-!--padding-top-m tna-!--padding-bottom-l">
  {{ discoverySearch() }}
</section>

{%- set stories_hero_image_caption = '' %}
{%- if page_data.stories_hero_image.copyright %}
  {%- set stories_hero_image_caption = stories_hero_image_caption + '<div class="tna-hero__copyright" itemprop="copyrightNotice">' + (page_data.stories_hero_image.copyright | tna_html) + '</div>' %}
{%- endif %}

{{ tnaHero({
  'title': page_data.articles_title,
  'headingLevel': 2,
  'headingSize': 'l',
  'text': page_data.articles_introduction,
  'imageSrc': page_data.stories_hero_image.jpeg.full_url,
  'imageWidth': page_data.stories_hero_image.jpeg.width,
  'imageHeight': page_data.stories_hero_image.jpeg.height,
  'imageAlt': page_data.stories_hero_image.description,
  'imageCaption': stories_hero_image_caption | safe,
  'imageSources': [
    {
      'src': page_data.stories_hero_image_small.webp.full_url,
      'width': page_data.stories_hero_image_small.webp.width,
      'height': page_data.stories_hero_image_small.webp.height,
      'type': 'image/webp',
      'media': '(max-width: 48em)'
    },
    {
      'src': page_data.stories_hero_image_small.jpeg.full_url,
      'width': page_data.stories_hero_image_small.jpeg.width,
      'height': page_data.stories_hero_image_small.jpeg.height,
      'type': 'image/jpeg',
      'media': '(max-width: 48em)'
    },
    {
      'src': page_data.stories_hero_image.webp.full_url,
      'width': page_data.stories_hero_image.webp.width,
      'height': page_data.stories_hero_image.webp.height,
      'type': 'image/webp'
    }
  ],
  'actions': [
    {
      'text': 'Browse all stories',
      'href': './stories/'
    }
  ],
  'style': 'accent',
  'narrow': True,
  'element': 'div',
  'classes': 'tna-!--margin-top-l'
}, page_data.stories_hero_image.uuid, page_data.stories_hero_image.title) }}

<section class="tna-section">
  <div class="tna-container tna-container--align-centre">
    <div class="tna-column tna-column--width-5-6 tna-column--full-medium tna-column--full-small tna-column--full-tiny">
      <h2 class="tna-heading-l">Blogs and podcasts</h2>
      {%- for section in page_data. explorer_index_page_selections %}
      {%- set flipped = loop.index % 2 == 0 %}
      {{ tnaCard({
        'supertitle': section.selected_page.type_label,
        'title': section.selected_page.title,
        'headingLevel': 3,
        'headingSize': 'm',
        'text': section.selected_page.teaser_text,
        'imageSrc': section.selected_page.teaser_image.jpeg.full_url,
        'imageWidth': section.selected_page.teaser_image.jpeg.width,
        'imageHeight': section.selected_page.teaser_image.jpeg.height,
        'imageAlt': section.selected_page.teaser_image.description,
        'actions': [
          {
            'text': section.cta_label,
            'href': section.selected_page.url
          }
        ],
        'horizontal': True,
        'horizontalFlipped': flipped,
        'fullAreaClick': True,
        'style': 'contrast',
        'classes': 'tna-!--margin-top-m'
      }) }}
      {%- endfor %}
    </div>
  </div>
</section>

{{ feedback() }}
{{ back_to_top() }}

{% endblock %}
