{% extends "base.html" %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/pagination/macro.html' import tnaPagination -%}
{%- from 'components/radios/macro.html' import tnaRadios -%}
{%- from 'components/search-field/macro.html' import tnaSearchField -%}
{%- from 'components/skip-link/macro.html' import tnaSkipLink -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'explore_the_collection/partials/discovery-search.html' import discoverySearch -%}

{%- set themeAccent = 'black' if global_alert.mourning_notice else (themeAccent or 'green') -%}
{%- set pageTitle = 'Search the website' -%}
{%- set breadcrumbs = [
  {
    'text': 'Home',
    'href': '/'
  },
  {
    'text': 'Explore the collection',
    'href': '/explore-the-collection/'
  }
] -%}
{%- set breadcrumbsStyle = 'accent-light' -%}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
{% endblock stylesheets %}

{% block skipLink %}
{{ tnaSkipLink({
  'href': 'results',
  'text': 'Skip to list of results'
}) }}
{{ super() }}
{% endblock skipLink %}

{% block content %}
<div class="tna-background-accent-light">
  {{ global_alert_banners(global_alert.global_alert, global_alert.mourning_notice) }}
  <div class="tna-!--padding-top-m tna-!--padding-bottom-l">
    <form class="tna-container" method="get" action="{{ url_for('wagtail.search_explore_the_collection') }}" role="search">
      <div class="tna-column tna-column--width-3-4 tna-column--full-medium tna-column--full-small tna-column--full-tiny">
        {{ tnaSearchField({
          'label': 'Search Explore the collection',
          'headingLevel': 1,
          'headingSize': 'l',
          'hint': 'Find articles and stories from our collection',
          'id': 'search',
          'name': 'q',
          'value': q
        }) }}
        {% if q %}
        {{ tnaRadios({
          'label': 'Order results by',
          'headingLevel': 2,
          'headingSize': 'm',
          'id': 'order',
          'name': 'order',
          'items': [
            {
              'text': 'Relevance',
              'value': 'relevance'
            },
            {
              'text': 'Date published',
              'value': 'date'
            },
            {
              'text': 'Title (A-Z)',
              'value': 'title'
            }
          ],
          'selected': request.args.order or 'relevance',
          'inline': True
        }) }}
        <div class="tna-button-group tna-button-group--small tna-!--margin-top-s">
          {{ tnaButton({
            'text': 'Update results',
            'buttonElement': True,
            'buttonType': 'submit'
          }) }}
        </div>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% if total_results %}
<section id="results">
  {% if total_results %}
  <div class="tna-container">
    <div class="tna-column tna-column--full-tiny tna-!--margin-vertical-m">
      <p>Showing {{ (children_per_page * (page - 1)) + 1 }}–{{ children_per_page * page if children_per_page * page < total_results else total_results }} of {{ total_results }} results{% if q %} for &quot;{{ q }}&quot;{% endif %}</p>
    </div>
  </div>
  {% endif %}
  <h2 class="tna-visually-hidden">Results</h2>
  <ul class="tna-container">
    {% for item in results['items'] %}
    <li class="tna-column tna-column--width-3-4 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-bottom-s">
      {% set card_content = {
        'supertitle': item.type_label,
        'headingLevel': 3,
        'headingSize': 's',
        'title': item.title,
        'href': item.url,
        'text': item.teaser_text,
        'label': 'New' if item.is_newly_published,
        'labelColour': 'green',
        'fullAreaClick': True,
        'horizontal': True,
        'horizontalSmallImage': True,
        'horizontalFlipped': True,
        'horizontalOnSmall': True,
        'style': 'tint'
      } %}
      {%- if request.args.order == 'date' -%}
        {% set card_content = dict(card_content, **{
          'meta': [
            {
              'title': 'Published',
              'text': item.first_published_at | pretty_date,
              'icon': 'calendar'
            }
          ]
        }) %}
      {%- endif -%}
      {%- if item.teaser_image %}
        {% set card_content = dict(card_content, **{
          'imageSrc': item.teaser_image.jpeg.full_url,
          'imageAlt': item.teaser_image.description,
          'imageWidth': item.teaser_image.jpeg.width,
          'imageHeight': item.teaser_image.jpeg.height,
          'imageSources': [
            {
              'src': item.teaser_image.webp.full_url,
              'type': 'image/webp',
              'width': item.teaser_image.webp.width,
              'height': item.teaser_image.webp.height
            }
          ]
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
    </li>
    {% endfor %}
  </ul>
  {% if pages > 1 %}
  <div class="tna-container">
    <div class="tna-column tna-column--full tna-!--margin-top-l">
      {{ tnaPagination(pagination) }}
    </div>
  </div>
  {% endif %}
</section>
{% elif results %}
<div class="tna-container tna-!--padding-top-l" id="results">
  <div class="tna-column tna-column--full">
    <h2 class="tna-heading-xl">No results found for &quot;{{ q }}&quot;</h2>
    <p>Try the following:</p>
    <ul class="tna-ul">
      <li>Check your spelling</li>
      <li>Try different keywords</li>
      <li>Broaden your search keywords</li>
    </ul>
  </div>
</div>
{% endif %}
<section class="tna-!--margin-top-xl tna-!--margin-bottom-l">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <div class="tna-aside tna-background-accent-light">
        {{ discoverySearch() }}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
