{% macro tnaBreadcrumbs(params) %}
{%- set containerClasses = [params.classes] if params.classes else [] -%}
{%- if params.noCollapse -%}
  {%- set containerClasses = containerClasses + ['tna-breadcrumbs--no-collapse'] -%}
{%- endif -%}
<nav class="tna-breadcrumbs {{ ' '.join(containerClasses) }}" data-module="tna-breadcrumbs" aria-label="Breadcrumb" {%- for attribute, value in params['attributes'] %} {{ attribute }}="{{ value }}"{% endfor %}>
  <ol class="tna-breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
  {% for item in params['items'] %}
    <li class="tna-breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ item.href }}" class="tna-breadcrumbs__link" {%- if item.title %} title="{{ item.title }}"{% endif %}>
        <span itemprop="name">{{ item.text }}</span></a>
      <meta itemprop="position" content="{{ loop.index }}">
    </li>
  {% endfor %}
  </ol>
</nav>
{% endmacro %}