@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-author-list {
  padding: spacing.space(1) 0 0;

  &__heading {
  }

  &__items {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    padding-top: spacing.space(2);

    p {
      margin-top: spacing.space(0.5);
    }
  }

  &__image {
  }

  &__name {
  }

  &__description {
    @include typography.relative-font-size(16);
  }
}

.etna-author-header {
  @include media.on-mobile {
    .etna-author-image {
      margin: 0 auto spacing.space(2);
    }
  }
}

.etna-author-image {
  width: 20rem;
  border-radius: 100%;

  @include media.on-small {
    width: 12rem;
  }

  @include media.on-tiny {
    width: 8rem;
  }

  &--small {
    width: 5rem;
  }
}
