@use "@nationalarchives/frontend/nationalarchives/tools/media";

.tna-button-group--back {
  @include media.on-tiny {
    align-items: flex-start;
  }
}

.etna-archive-collections-list {
  height: 20rem;

  overflow: auto;

  @include media.on-mobile {
    height: auto;
  }
}

.etna-address {
  font-style: normal;
}
