@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-sidebar {
  &__items {
    padding-left: spacing.space(1.75);

    @include typography.relative-font-size(16);
    word-break: break-word;
  }

  & &__item {
    margin-top: spacing.space(0.5);

    &::marker {
      content: "—  ";
      @include colour.colour-font("font-light", true);
      @include typography.main-font-weight;
    }
  }

  &__item-children {
    margin-top: spacing.space(0.5) !important;
    padding-left: spacing.space(2) !important;

    @include colour.thick-keyline(left);
  }

  & &__item-child {
    margin-top: spacing.space(0.25);

    &:first-child {
      margin-top: 0;
    }

    &::marker {
      content: "—  ";
      @include colour.colour-font("font-light", true);
      @include typography.main-font-weight;
    }
  }

  &--right {
  }

  &__items--a-z {
    padding-left: 0;

    display: flex;
    flex-wrap: wrap;
    gap: spacing.space(0.5);
  }

  &__items--a-z &__item {
    margin: 0;

    &::marker {
      content: none;
    }
  }

  &__items--a-z &__link {
    width: 2.5rem;
    height: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    @include typography.main-font-weight-bold;

    @include colour.colour-border("keyline", 1px);
    border-radius: 100%;

    &:hover {
      @include colour.tint;
    }
  }

  @include media.on-larger-than-mobile {
    padding-right: spacing.space(1);

    // @include colour.thick-keyline(right);

    &--right {
      padding-right: 0;
      padding-left: spacing.space(1);

      border-right: none;
      @include colour.thick-keyline(left);
    }
  }
}
