@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-sidebar {
  &__items {
    padding-left: spacing.space(1.75);

    word-break: break-word;
  }

  & &__item {
    margin-top: spacing.space(0.5);

    &::marker {
      content: "—  ";
      @include colour.colour-font("font-light", true);
      @include typography.main-font-weight;
    }
  }

  &__item-children {
    padding-left: spacing.space(0.75) !important;

    @include typography.relative-font-size(16);

    @include colour.thick-keyline(left);
  }

  &__item-child {
    margin-top: spacing.space(0.25);
  }

  &--right {
  }

  @include media.on-larger-than-mobile {
    padding-right: spacing.space(1);

    @include colour.thick-keyline(right);

    &--right {
      padding-right: 0;
      padding-left: spacing.space(1);

      border-right: none;
      @include colour.thick-keyline(left);
    }
  }
}
