@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

html.tna-template
  .tna-template__body--search
  .tna-header__navigation-item-link--selected {
  &,
  &:hover {
    @include colour.tint;
    @include colour.colour-font("font-base");
  }
}

.etna-featured-search {
  height: 100%;

  box-sizing: border-box;

  @include colour.colour-border("accent-background", 0.125rem);

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__list-item {
    p {
      margin-top: 0;
    }
  }
}

.etna-search-buckets {
  @include spacing.space-above;

  display: flex;
  gap: 1rem;

  list-style: none;

  &__item {
    flex: 1;

    &--current {
      @include colour.accent;
    }
  }

  &__link {
    height: 100%;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: stretch;
    justify-content: center;

    text-align: center;

    @include colour.colour-border("keyline-dark", 1px);

    &,
    &:link,
    &:visited {
      @include colour.colour-font("link");

      text-decoration: none;
    }
  }

  &__name {
    @include typography.main-font-weight-bold;
    text-decoration: underline;
    line-height: 1.5;
  }

  &__link:hover &__name {
    @include typography.interacted-text-decoration;
  }

  &__meta {
    display: block;

    @include typography.relative-font-size(14);
  }

  @include media.on-mobile {
    flex-direction: column;
    gap: 0.5rem;

    &__link {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;

      flex-direction: row;
      align-items: center;
      gap: 2rem;

      text-align: left;
    }

    &__name {
      flex: 1;
    }
  }
}

.etna-search-tabs {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;

  list-style: none;

  &__item {
  }

  &__item-link {
    height: 100%;
    padding: 0.5rem 1rem;

    display: block;
    box-sizing: border-box;

    text-align: center;

    border-top: 0.25rem transparent solid;

    &:not(#{&}--plain) {
      // @include typography.heading-font;
      @include typography.main-font-weight-bold;
      text-decoration: none;

      &,
      &:link,
      &:visited {
        @include colour.colour-font("font-base");
      }
    }

    &:not(#{&}--plain):not(#{&}--current) {
      background-color: rgb(255 255 255 / 25%);

      @include colour.colour-border("keyline");

      &:hover {
        @include typography.interacted-text-decoration;

        // @include colour.colour-background("page-background");
      }
    }

    &--current {
      @include colour.colour-background("page-background");

      @include colour.colour-border("accent-background");
    }

    &--plain {
    }
  }
}
