services:
  app:
    build:
      context: .
      args:
        BUILD_IMAGE_TAG: multistage-builds
        # IMAGE: ghcr.io/nationalarchives/tna-python-dev
        IMAGE: tna-python-dev
        IMAGE_TAG: multistage-builds
    environment:
      - ENVIRONMENT_NAME=localhost
      - CONFIG=config.Develop
      # - APPLICATION_PROTOCOL=http
      - DEBUG=true
      - SECRET_KEY=abc123
      - NPM_DEVELOP_COMMAND=dev
      # - NODE_ENV=development
      - WAGTAIL_API_URL=http://host.docker.internal:8000/api/v2
      # - WAGTAIL_SITE_HOSTNAME=wagtail.localhost
      - COOKIE_DOMAIN=localhost
      - CSP_IMG_SRC='self',localhost:8000,localhost:65529,*.google-analytics.com,*.gstatic.com,*.nationalarchives.gov.uk,i.ytimg.com,img.youtube.com,maps.googleapis.com
      - CSP_SCRIPT_SRC='self',*.youtube.com,localhost:65529
      - CSP_STYLE_SRC='self',localhost:65529,fonts.googleapis.com,p.typekit.net,use.typekit.net,'unsafe-inline'
      - CSP_FONT_SRC='self',fonts.gstatic.com,use.typekit.net
      - CSP_CONNECT_SRC='self',localhost:65529,*.google-analytics.com,*.analytics.google.com,noembed.com,sentry.io
      - CSP_MEDIA_SRC='self',localhost:8000
      - CSP_WORKER_SRC='self',blob:,localhost:65497
      - CSP_FRAME_SRC='self',*.youtube-nocookie.com,https://www.openstreetmap.org
      - CSP_FEATURE_PICTURE_IN_PICTURE='self',https://www.youtube-nocookie.com
      - CSP_FRAME_ANCESTORS=localhost:8000
      # - FEATURE_PHASE_BANNER=False
      - FEATURE_LOGO_ADORNMENTS_CSS=http://localhost:65529/enrichment/css/logo-adornments.css
      - FEATURE_LOGO_ADORNMENTS_JS=http://localhost:65529/enrichment/js/logo-adornments.js
      - GA4_ID=GTM-KX8ZWVZG
    ports:
      - 65497:8080
    volumes:
      - ./:/app
    healthcheck:
      start_period: 10s
      start_interval: 2s

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 65534:8000
