{% macro wagtailDoDontList(block_value, itemHeadingLevel) %}
  <div class="etna-do-dont-list">
    <div class="etna-do-dont-list__block">
      <h{{ itemHeadingLevel }} class="tna-heading-m etna-do-dont-list__heading">{{ block_value.do_heading or 'Do' }}</h{{ itemHeadingLevel }}>
      <ul class="tna-ul etna-ul-ticks">
        {%- for item in block_value.do %}
        <li>
          <i class="fa-solid fa-check" aria-hidden="true"></i>
          {{ item.text | tna_html | safe }}
        </li>
        {%- endfor %}
      </ul>
    </div>
    <div class="etna-do-dont-list__block">
      <h{{ itemHeadingLevel }} class="tna-heading-m etna-do-dont-list__heading">{{ block_value.dont_heading or 'Don\'t' }}</h{{ itemHeadingLevel }}>
      <ul class="tna-ul etna-ul-crosses">
        {%- for item in block_value.dont %}
        <li>
          <i class="fa-solid fa-xmark" aria-hidden="true"></i>
          {{ item.text | tna_html | safe }}
        </li>
        {%- endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}
