{%- from 'components/files-list/macro.html' import tnaFilesList -%}

{% macro wagtailDocuments(block_value, itemHeadingLevel) %}
  {% set files = [] %}
  {% for document in block_value.documents %}
    {% set files = files.append({
      'text': document.file.title,
      'href': document.file.url,
      'fileType': document.file.type | upper,
      'fileSize': document.file.pretty_file_size,
      'fileExtent': document.file.extent,
      'description': document.file.description
    }) %}
  {% endfor %}
  {{ tnaFilesList({
    'itemHeadingLevel': itemHeadingLevel,
    'items': files
  }) }}
{% endmacro %}
