{%- from 'components/card/macro.html' import tnaCard -%}

{% macro wagtailFeaturedRecordArticle(block_value, itemHeadingLevel) %}
  {%- if block_value.page %}
  <div class="etna-space-above">
    {% set card_content = {
      'supertitle': block_value.page.type_label,
      'title': block_value.page.title,
      'headingLevel': itemHeadingLevel,
      'headingSize': 's',
      'href': block_value.page.url,
      '_meta': [
        {
          'title': 'Date',
          'text': 'block_value.date_text',
          'icon': 'calendar'
        }
      ],
      'label': 'New' if block_value.page.is_newly_published else None,
      'labelColour': 'green',
      'text': block_value.page.teaser_text,
      'lazyImage': True,
      'fullAreaClick': True,
      'style': 'contrast'
    } %}
    {%- if block_value.page.teaser_image %}
      {% set card_content = dict(card_content, **{
        'imageSrc': block_value.page.teaser_image.jpeg.full_url,
        'imageAlt': block_value.page.teaser_image.description,
        'imageWidth': block_value.page.teaser_image.jpeg.width,
        'imageHeight': block_value.page.teaser_image.jpeg.height,
        'imageSources': [
          {
            'src': block_value.page.teaser_image.webp.full_url,
            'type': 'image/webp',
            'width': block_value.page.teaser_image.webp.width,
            'height': block_value.page.teaser_image.webp.height
          }
        ],
        'horizontal': True
      }) %}
    {%- endif %}
    {{ tnaCard(card_content) }}
  </div>
  {%- endif %}
{% endmacro %}
