{%- from 'components/card/macro.html' import tnaCard -%}

{% macro wagtailFeaturedPage(block_value, itemHeadingLevel) %}
  {% set card_content = {
    'title': block_value.page.title,
    'headingLevel': itemHeadingLevel,
    'headingSize': 's',
    'href': block_value.page.full_url,
    'label': 'New' if block_value.page.is_newly_published,
    'body': block_value.page.teaser_text | tna_html | safe,
    'fullAreaClick': True,
    'horizontal': True,
    'horizontalSmallImage': True,
    'horizontalOnSmall': True,
    'horizontalFlipped': True,
    'style': 'tint',
    'classes': 'tna-card--featured-page'
  } %}
  {% if block_value.page.type_label not in ['Hub', 'General', 'Cookies'] %}
    {% set card_content = dict(card_content, **{
      'supertitle': block_value.page.type_label
    }) %}
  {% endif %}
  {%- if block_value.page.teaser_image %}
    {% set card_content = dict(card_content, **{
      'lazyImage': True,
      'imageSrc': block_value.page.teaser_image.jpeg.full_url,
      'imageAlt': block_value.page.teaser_image.alt_text or '',
      'imageWidth': block_value.page.teaser_image.jpeg.width,
      'imageHeight': block_value.page.teaser_image.jpeg.height,
      'imageSources': [
        {
          'src': block_value.page.teaser_image.webp.full_url,
          'type': 'image/webp',
          'width': block_value.page.teaser_image.webp.width,
          'height': block_value.page.teaser_image.webp.height
        }
      ]
    }) %}
  {%- endif %}
  {{ tnaCard(card_content) }}
{% endmacro %}
