{%- from 'components/details/macro.html' import tnaDetails -%}
{%- from 'components/picture/macro.html' import tnaPicture -%}

{% macro wagtailImage(block_value, id, plain_image, hide_transcript, itemprop) %}
  {% set information_label_open = 'Open details' %}
  {% set information_label_close = 'Close details' %}
  {% set picture_information = [] %}
  {%- if not hide_transcript %}
    {%- if block_value.image.transcript %}
      {%- if not block_value.image.translation %}
        {% set information_label_open = 'Open ' + (block_value.image.transcript.heading | lower) %}
        {% set information_label_close = 'Close ' + (block_value.image.transcript.heading | lower) %}
      {%- endif %}
      {% set picture_information = picture_information + [{
        'id': 'transcript-' + id,
        'title': block_value.image.transcript.heading or 'Transcript',
        'body': block_value.image.transcript.text | tna_html | safe
      }] %}
    {%- endif %}
    {%- if block_value.image.translation %}
      {%- if not block_value.image.transcript %}
        {% set information_label_open = 'Open ' + (block_value.image.translation.heading + ' translation' if block_value.image.translation.heading != 'Translation' else block_value.image.translation.heading | lower) %}
        {% set information_label_close = 'Close ' + (block_value.image.translation.heading + ' translation' if block_value.image.translation.heading != 'Translation' else block_value.image.translation.heading | lower) %}
      {%- endif %}
      {% set picture_information = picture_information + [{
        'id': 'translation-' + id,
        'title': block_value.image.translation.heading or 'Translation',
        'body': block_value.image.translation.text | tna_html | safe
      }] %}
    {%- endif %}
  {%- endif %}
  {% set image_caption = (block_value.caption | tna_html) or '' %}
  {%- if block_value.image.copyright %}
    {% set image_caption = image_caption + '<div class="tna-picture__copyright" itemprop="copyrightNotice">' + (block_value.image.copyright | tna_html) + '</div>' %}
  {%- endif %}
  {% set picture_content = {
    'src': block_value.image.jpeg.full_url,
    'alt': block_value.alt_text or '',
    'width': block_value.image.jpeg.width,
    'height': block_value.image.jpeg.height,
    'sources': [
      {
        'src': block_value.image.webp.full_url,
        'type': 'image/webp',
        'width': block_value.image.webp.width,
        'height': block_value.image.webp.height
      }
    ],
    'caption': image_caption,
    'microdataCaption': (block_value.caption | striptags) or '',
    'informationLabelOpen': information_label_open,
    'informationLabelClose': information_label_close,
    'information': picture_information,
    'classes': 'tna-picture--plain' if plain_image else ''
  } %}
  {% if itemprop %}
    {% set picture_content = dict(picture_content, **{
      'attributes': {
        'itemprop': itemprop
      }
    }) %}
  {% endif %}
  {% set picture = tnaPicture(picture_content) %}
  {%- if block_value.image.is_sensitive %}
    {{ tnaDetails({
      'title': block_value.image.custom_sensitive_image_warning or 'This image has been marked as potentially sensitive',
      'body': picture | safe
    }) }}
  {%- else %}
    {{ picture }}
  {%- endif %}
{% endmacro %}
