{%- from 'components/details/macro.html' import tnaDetails -%}
{%- from 'components/picture/macro.html' import tnaPicture -%}

{% macro wagtailImage(block_value, id, plain_image) %}
  {% set picture_information = [] %}
  {%- if not plain_image %}
    {%- if block_value.image.transcript %}
      {% set picture_information = picture_information + [{
        'id': 'transcript-' + id,
        'title': block_value.image.transcript.heading or 'Transcript',
        'body': block_value.image.transcript.text | tna_html | safe
      }] %}
    {%- endif %}
    {%- if block_value.image.translation %}
      {% set picture_information = picture_information + [{
        'id': 'translation-' + id,
        'title': block_value.image.translation.heading or 'Translation',
        'body': block_value.image.translation.text | tna_html | safe
      }] %}
    {%- endif %}
  {%- endif %}
  {% set image_caption = (block_value.caption | tna_html) or '' %}
  {% if block_value.image.copyright %}
    {% set image_caption = image_caption + '<p>&copy; ' + block_value.image.copyright + '</p>' %}
  {% endif %}
  {% set picture = tnaPicture({
    'src': block_value.image.jpeg.full_url,
    'alt': block_value.alt_text,
    'width': block_value.image.jpeg.width,
    'height': block_value.image.jpeg.height,
    'sources': [
      {
        'src': block_value.image.webp.full_url,
        'type': 'image/webp',
        'width': block_value.image.webp.width,
        'height': block_value.image.webp.height
      }
    ],
    'caption': image_caption,
    'microdataCaption': (block_value.caption | striptags) or '',
    'microdataCopyright': block_value.image.copyright,
    'information': picture_information,
    'classes': 'tna-picture--plain' if plain_image else ''
  }) %}
  {% if block_value.image.is_sensitive %}
    {{ tnaDetails({
      'title': block_value.image.custom_sensitive_image_warning or 'This image has been marked as potentially sensitive',
      'body': picture | safe
    }) }}
  {% else %}
    {{ picture }}
  {% endif %}
{% endmacro %}
