{% macro wagtailPromotedList(block_value) %}
  <aside class="etna-space-above">
    {{ block_value.summary | tna_html | safe }}
    <ul class="etna-block-list">
      {%- for item in block_value.promoted_items %}
      <li>
        {% set supertitle = '' %}
        {% set title = item.title %}
        {% if 'blog.nationalarchives.gov.uk' in item.url %}
          {% set supertitle = 'Blog' %}
          {% set title = title.removeprefix('Blog: ') %}
        {% elif 'www.nationalarchives.gov.uk/help-with-your-research/research-guides' in item.url %}
          {% set supertitle = 'Research guide' %}
          {% set title = title.removeprefix('Research guide: ').removeprefix('Research Guide: ') %}
        {% elif 'www.nationalarchives.gov.uk/education/resources' in item.url %}
          {% if title.startswith('Teaching resource') %}
            {% set supertitle = 'Teaching resource' %}
            {% set title = title.removeprefix('Teaching resource: ').removeprefix('Teaching Resource: ') %}
          {% elif title.startswith('Classroom resource') %}
            {% set supertitle = 'Classroom resource' %}
            {% set title = title.removeprefix('Classroom resource: ').removeprefix('Classroom Resource: ') %}
          {% endif %}
        {% elif 'media.nationalarchives.gov.uk' in item.url %}
          {% set supertitle = 'Podcast' %}
          {% set title = title.removeprefix('Podcast: ') %}
        {% elif 'youtube.com' in item.url %}
          {% set supertitle = 'Film' %}
          {% set title = title.removeprefix('Film: ') %}
        {% endif %}
        {% if supertitle %}
        <hgroup class="tna-hgroup-s">
          <p class="tna-hgroup__supertitle">{{ supertitle }}</p>
          <h3 class="tna-hgroup__title">
            <a href="{{ item.url }}">{{ title }}</a>
          </h3>
        </hgroup>
        {% else %}
        <h3 class="tna-heading-s">
          <a href="{{ item.url }}">{{ title }}</a>
        </h3>
        {% endif %}
        {{ item.description | safe }}
      </li>
      {%- endfor %}
    </ul>
  </aside>
{% endmacro %}
