{%- from 'components/card/macro.html' import tnaCard -%}

{# TODO: Delete when "Featured link" block is deprecated #}

{% macro wagtailPromotedItem(block_value, itemHeadingLevel) %}
  <aside class="etna-space-above">
    {% set card_content = {
      'title': block_value.title,
      'headingLevel': itemHeadingLevel,
      'headingSize': 'm',
      'body': block_value.description | tna_html | safe,
      'actions': [
        {
          'text': block_value.cta_label,
          'href': block_value.url,
          'title': block_value.cta_label + ' (opens a new tab)' if block_value.target_blank else None,
          'attributes': {
            'target': '_blank' if block_value.target_blank
          }
        }
      ],
      'fullAreaClick': True,
      'style': 'tint'
    } %}
    {%- if block_value.type_label == 'External' %}
      {% set card_content = dict(card_content, **{
        'hrefAttributes': {
          'aria-label': block_value.title + ' (opens ' + (block_value.url | get_url_domain) + ')',
          'rel': 'noreferrer nofollow noopener'
        },
      }) %}
    {%- endif %}
    {%- if block_value.image.image %}
      {% set card_content = dict(card_content, **{
        'horizontal': True,
        'imageSrc': block_value.image.image.jpeg.full_url,
        'imageAlt': block_value.image.image.alt_text or '',
        'imageWidth': block_value.image.image.jpeg.width,
        'imageHeight': block_value.image.image.jpeg.height,
        'imageSources': [
          {
            'src': block_value.image.image.webp.full_url,
            'type': 'image/webp',
            'width': block_value.image.image.webp.width,
            'height': block_value.image.image.webp.height
          }
        ],
        'classes': 'tna-card--promoted-item'
      }) %}
    {%- endif %}
    {{ tnaCard(card_content) }}
  </aside>
{% endmacro %}
