{%- from 'components/records-list/macro.html' import tnaRecordsList -%}

{% macro wagtailRecordLinks(block_value) %}
  {% set items = [] %}
  {%- for i in block_value['items'] %}
  {%- if i.record and i.record.iaid %}
    {%- if i.thumbnail_image %}
    {{ items.append({
      'imageSrc': i.thumbnail_image.jpeg.full_url,
      'width': i.thumbnail_image.jpeg.width,
      'height': i.thumbnail_image.jpeg.height,
      'collection': i.record.reference_number,
      'title': i.descriptive_title,
      '_href': url_for('search.catalogue_item', id=i.record.iaid),
      'href': 'https://discovery.nationalarchives.gov.uk/details/r/' + i.record.iaid,
      'date': i.record_dates
    }) or '' }}
    {%- else %}
    {{ items.append({
      'collection': i.record.reference_number,
      'title': i.descriptive_title,
      '_href': url_for('search.catalogue_item', id=i.record.iaid),
      'href': 'https://discovery.nationalarchives.gov.uk/details/r/' + i.record.iaid,
      'date': i.record_dates
    }) or '' }}
    {%- endif %}
    {%- endif %}
  {%- endfor %}
  {{ tnaRecordsList({
    'items': items
  }) }}
{% endmacro %}
