{%- from 'components/records-list/macro.html' import tnaRecordsList -%}

{% macro wagtailRecordLinks(block_value) %}
  {% set items = [] %}
  {%- for i in block_value['items'] %}
    {# {% with parent = i.record_data.hierarchy | last %} #}
    {# TODO: Get parent.identifier from CMS #}
    {%- if i.thumbnail_image %}
    {{ items.append({
      'imageSrc': i.thumbnail_image.jpeg.full_url,
      'width': i.thumbnail_image.jpeg.width,
      'height': i.thumbnail_image.jpeg.height,
      'collection': 'parent.identifier',
      'title': i.descriptive_title,
      'href': url_for('search.catalogue_item', id=i.record),
      'date': i.record_dates
    }) or '' }}
    {%- else %}
    {{ items.append({
      'collection': 'parent.identifier',
      'title': i.descriptive_title,
      'href': url_for('search.catalogue_item', id=i.record),
      'date': i.record_dates
    }) or '' }}
    {%- endif %}
    {# {% endwith %} #}
  {%- endfor %}
  {{ tnaRecordsList({
    'items': items
  }) }}
{% endmacro %}
