{% macro wagtailTable(block_value, id) %}
  {% if block_value.table %}
  {% set table_data = block_value.table | wagtail_table_parser %}
  <div class="tna-table-wrapper" role="group" aria-describedby="table-caption-{{ id }}">
    <table class="tna-table">
    {% if block_value.table.table_caption %}
      <caption class="tna-table__caption" id="table-caption-{{ id }}">
        {{ block_value.table.table_caption }}
      </caption>
    {% endif %}
    {% if table_data.head %}
      <thead class="tna-table__head">
      {% for row in table_data.head %}
        <tr class="tna-table__row">
        {% for cell in row %}
        {% if cell.head %}
          <th class="tna-table__header{% for alignment in cell.align %} tna-table__header--align-{{ alignment }}{% endfor %}">{{ cell.data }}</th>
        {% else %}
          <td class="tna-table__cell{% for alignment in cell.align %} tna-table__cell--align-{{ alignment }}{% endfor %}">{{ cell.data }}</td>
        {% endif %}
        {% endfor %}
        </tr>
      {% endfor %}
      </thead>
    {% endif %}
      <tbody class="tna-table__body">
      {% for row in table_data.body %}
        <tr class="tna-table__row">
        {% for cell in row %}
        {% if cell.head %}
          <th class="tna-table__header{% for alignment in cell.align %} tna-table__header--align-{{ alignment }}{% endfor %}">{{ cell.data }}</th>
        {% else %}
          <td class="tna-table__cell{% for alignment in cell.align %} tna-table__cell--align-{{ alignment }}{% endfor %}">{{ cell.data }}</td>
        {% endif %}
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
{% endmacro %}
