{%- from 'components/details/macro.html' import tnaDetails -%}

{% macro wagtailYouTubeVideo(block_value, id) %}
  <div class="etna-media-block">
    <a href="https://www.youtube.com/watch?v={{ block_value.video_id }}" id="{{ id }}" class="etna-video etna-video--youtube video-js" rel="noreferrer nofollow noopener">
      {% if block_value.preview_image %}
      <img src="{{ block_value.preview_image.jpeg.full_url }}" width="{{ block_value.preview_image.jpeg.width }}" height="{{ block_value.preview_image.jpeg.height }}" class="etna-video__preview-image" alt="">
      {% endif %}
      <span class="etna-video__label">
        <span class="tna-visually-hidden">Watch</span>
        {{ block_value.title }}
        <span class="tna-visually-hidden">on YouTube</span>
        <span class="etna-video__label-cookies-message"><span class="tna-visually-hidden">- </span>Opens in YouTube. To watch on this page, <span class="etna-video__label-cookies-message-js">enable JavaScript and </span>accept marketing cookies.</span>
      </span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="etna-video__icon" aria-hidden="true" height="64"><!--!Font Awesome Free v7.3.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path fill="#fff" d="M 200 200 H 440 V 440 H 200 L 200 200"/><path fill="#ff0033" d="M581.7 188.1C575.5 164.4 556.9 145.8 533.4 139.5C490.9 128 320.1 128 320.1 128C320.1 128 149.3 128 106.7 139.5C83.2 145.8 64.7 164.4 58.4 188.1C47 231 47 320.4 47 320.4C47 320.4 47 409.8 58.4 452.7C64.7 476.3 83.2 494.2 106.7 500.5C149.3 512 320.1 512 320.1 512C320.1 512 490.9 512 533.5 500.5C557 494.2 575.5 476.3 581.8 452.7C593.2 409.8 593.2 320.4 593.2 320.4C593.2 320.4 593.2 231 581.8 188.1zM264.2 401.6L264.2 239.2L406.9 320.4L264.2 401.6z"/></svg>
    </a>
    {%- if block_value.transcript %}
    <div class="tna-background-contrast etna-media-block__transcript">
      {{ tnaDetails({
        'title': 'Video transcript for "' ~ block_value.title ~ '"',
        'body': block_value.transcript | tna_html
      }) }}
    </div>
    {%- endif %}
    {%- if block_value.captions_available %}
    <p class="tna-!--margin-top-s">This video can also be viewed on YouTube with optional closed captions. <a href="https://www.youtube.com/watch?v={{ block_value.video_id }}">Watch &quot;{{ block_value.title }}&quot; on YouTube.</a></p>
    {%- endif %}
  </div>
{% endmacro %}
