@use "sass:math";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-author-list {
  &__heading {
    padding-bottom: spacing.space(0.5);
  }

  &__items {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    list-style: none;
  }

  &__item {
    padding-bottom: spacing.space(1);

    display: flex;
    gap: spacing.space(1);
  }

  &__image {
    width: 5rem;
    height: 5rem;

    border-radius: 100%;
  }

  &__details {
  }

  &__name {
  }

  &__description {
    margin-top: 0;

    @include typography.font-size(16);
  }

  &--horizontal {
  }

  &--horizontal &__items {
    display: block;

    columns: 3;
    column-gap: spacing.space(2);
    column-fill: balance;

    @include media.on-medium {
      columns: 2;
    }

    @include media.on-mobile {
      columns: 1;
    }
  }

  &--horizontal &__item {
    break-inside: avoid;
  }
}

.etna-author-header {
  @include media.on-mobile {
    .etna-author-image {
      margin: 0 auto spacing.space(2);
    }
  }
}

.etna-author-image {
  width: 20rem;

  border-radius: 100%;

  @include media.on-small {
    width: 12rem;
  }

  @include media.on-tiny {
    width: 8rem;
  }

  &--small {
    width: 5rem;
  }
}
