@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-author-list {
  &__heading {
    padding-bottom: spacing.space(0.5);
  }

  &__items {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    list-style: none;
  }

  &__item {
    display: flex;
    gap: spacing.space(1);
  }

  &__image {
    width: 5rem;
    height: 5rem;

    border-radius: 100%;
  }

  &__details {
  }

  &__name {
  }

  &__description {
    margin-top: 0;

    @include typography.font-size(16);
  }

  &--horizontal {
  }

  &--horizontal &__items {
    display: block;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: spacing.space(1) spacing.space(3);

    @include media.on-medium {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media.on-mobile {
      grid-template-columns: 1fr;
    }
  }

  &--horizontal &__item {
    break-inside: avoid;
  }
}
