@use "@nationalarchives/frontend/nationalarchives/tools/a11y";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/grid";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.tna-button-group {
  &--full {
    justify-content: stretch;

    @include media.on-mobile {
      flex-direction: column;

      align-items: stretch;
    }

    .tna-button {
      margin: 0;

      flex: 1;
    }
  }
}

.tna-ol {
  &--footnotes {
    @include typography.font-size(16);

    counter-reset: footnotes;

    &:has(li[data-footnoteidshort]) {
      padding-left: spacing.space(4);
    }

    li {
      padding-right: spacing.space(0.375);
      padding-left: spacing.space(0.375);
      counter-increment: footnotes;

      clear: both;

      &::marker {
        @include colour.colour-font("font-base");

        content: "[" counter(footnotes) "] ";

        font-size: 80%;
        @include typography.main-font-weight;
      }

      &:target {
        @include colour.tint;
      }

      &[data-footnoteidshort] {
        &::marker {
          content: "[" attr(data-footnoteidshort) "] ";
        }
      }

      a[href^="#footnote-"] {
        margin-right: spacing.space(0.25);

        display: inline-block;

        float: left;

        &:focus {
          position: relative;
          z-index: 1;
        }
      }
    }
  }
}

sup[data-footnoteid] {
  border-radius: 0.1px;

  &:target a.tna-footnote {
    @include a11y.focus-outline-without-offset;
  }
}

.tna-card {
  &__promoted-item {
    @include colour.thick-keyline-accent(top);

    .tna-card__inner {
      &:not(:has(.tna-card__image-container)) {
        padding-top: spacing.space(1);

        border-top: none;
      }
    }
  }

  &--person &__image-container {
    aspect-ratio: 1;

    background: none;
  }

  &--person &__image {
    overflow: hidden;

    border-radius: 100%;
    @include colour.thick-keyline;
  }

  &--person:hover &__image,
  &--person:focus &__image {
    @include colour.colour-border("keyline-dark");
  }
}

.tna-form {
  &__hint {
    p,
    .tna-ul {
      margin-top: spacing.space(0.5);

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.tna-picture {
  @include media.on-small {
    .tna-column & {
      width: calc(100% + #{grid.gutter-width-double()});
      margin-right: 0;
      margin-left: 0;

      position: relative;
      left: -#{grid.gutter-width()};
    }

    .tna-column &__image {
      width: 100%;
      max-height: none;
    }
  }
}

.tna-table-wrapper {
  &[tabindex="0"] {
    border-radius: 0.1px;

    &:active {
      @include a11y.focus-outline;
    }
  }
}

.tna-table {
  &__caption {
    &--scroll {
      &::after {
        content: " (scroll to see more)";
      }
    }
  }

  &__header--align-left,
  &__cell--align-left {
    text-align: left;
  }

  &__header--align-centre,
  &__cell--align-centre {
    text-align: center;
  }

  &__header--align-right,
  &__cell--align-right {
    text-align: right;
  }

  &__header--align-justify,
  &__cell--align-justify {
    text-align: justify;
  }

  &__header--align-top,
  &__cell--align-top {
    vertical-align: top;
  }

  &__header--align-middle,
  &__cell--align-middle {
    vertical-align: middle;
  }

  &__header--align-bottom,
  &__cell--align-bottom {
    vertical-align: bottom;
  }
}
