@use "@nationalarchives/frontend/nationalarchives/tools/a11y";
@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/grid";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";
@use "@nationalarchives/frontend/nationalarchives/components/card/card";

// H1UserAgentFontSizeInSection
// https://github.com/GoogleChrome/lighthouse/issues/16404#issuecomment-2754716763
:where(h1) {
  margin-block: 0.67em;

  font-size: 2em;
}

.tna-heading-xl,
.tna-hgroup-xl .tna-hgroup__title {
  overflow-wrap: break-word;
}

.tna-ol {
  &--footnotes {
    @include typography.font-size(16);

    counter-reset: footnotes;

    &:has(li[data-footnoteidshort]) {
      padding-left: spacing.space(4);
    }

    li {
      padding-right: spacing.space(0.375);
      padding-left: spacing.space(0.375);
      counter-increment: footnotes;

      clear: both;

      &::marker {
        @include colour.colour-font("font-base");

        content: "[" counter(footnotes) "] ";

        font-size: 80%;
        @include typography.main-font-weight;
      }

      &:target {
        @include colour.tint;
      }

      &[data-footnoteidshort] {
        &::marker {
          content: "[" attr(data-footnoteidshort) "] ";
        }
      }

      a[href^="#footnote-"] {
        margin-right: spacing.space(0.25);

        display: inline-block;

        float: left;

        &:focus {
          position: relative;
          z-index: 1;
        }
      }
    }
  }
}

.tna-dl {
  &--left-biased {
    @include media.on-larger-than-tiny {
      dt {
        width: 60%;
      }

      dd {
        width: 40%;
      }
    }
  }
}

sup[data-footnoteid] {
  border-radius: 0.1px;

  &:target a.tna-footnote {
    @include a11y.focus-outline-without-offset;
  }
}

.tna-card {
  z-index: 1;

  &--small-body &__body {
    @include typography.font-size(16);
  }

  &--full-height {
    height: 100%;

    box-sizing: border-box;

    @include colour.on-high-contrast-and-forced-colours {
      height: auto;
    }
  }

  &--promoted-item {
    @include colour.thick-keyline-accent(top);

    .tna-card__inner {
      &:not(:has(.tna-card__image-container)) {
        padding-top: spacing.space(1);

        border-top: none;
      }
    }
  }

  &--featured-link {
    .tna-card__heading {
      margin-top: spacing.space(0.25) !important;
    }

    .tna-card__heading:has(.tna-hgroup__supertitle) {
      margin-top: 0 !important;
    }

    & + & {
      margin-top: spacing.space(1);
    }

    &:not(:has(.tna-card__image-container)) {
      padding-top: 0;
    }
  }

  @include media.on-larger-than-mobile {
    @include card.horizontal-card-layout("--featured-link", 1);
  }

  &--person &__image-container {
    width: 75%;
    aspect-ratio: 1;
    margin-right: auto;
    margin-left: auto;

    overflow: hidden;

    background: none;

    border-radius: 100%;

    @include media.on-tiny {
      width: 50%;
    }

    @include colour.on-high-contrast-and-forced-colours {
      margin-top: spacing.space(1);
    }
  }

  @include colour.on-forced-colours {
    @include colour.colour-border("keyline", 1px);
  }
}

.tna-chip {
  &--inline {
    display: inline-flex;
  }
}

// Search Discovery promo box
.tna-form {
  &__hint {
    p,
    .tna-ul {
      margin-top: spacing.space(0.5);

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.tna-picture__caption,
.tna-hero__information {
  /* stylelint-disable no-descending-specificity */
  p + p {
    margin-top: spacing.space(0.5);
  }
  /* stylelint-enable no-descending-specificity */
}

.tna-gallery__copyright {
  /* stylelint-disable no-descending-specificity */
  p + p {
    margin-top: 0;
  }
  /* stylelint-enable no-descending-specificity */
}

.tna-gallery__copyright,
.tna-picture__copyright {
  margin-top: spacing.space(0.5);
}

.tna-gallery,
.tna-picture,
.tna-hero {
  &__copyright {
    &:not(:has(p))::before,
    p:first-child::before {
      content: "\00A9" " " / "Copyright ";
    }
  }
}

@property --left-fade {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --right-fade {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@keyframes scrollfade {
  /* stylelint-disable keyframe-block-no-duplicate-selectors */
  0% {
    --left-fade: 0;
  }

  15%,
  100% {
    --left-fade: 3rem;
  }

  0%,
  85% {
    --right-fade: 3rem;
  }

  100% {
    --right-fade: 0;
  }
  /* stylelint-enable keyframe-block-no-duplicate-selectors */
}

.tna-table-wrapper {
  mask: linear-gradient(
    to right,
    #0000,
    #ffff var(--left-fade) calc(100% - var(--right-fade)),
    #0000
  );
  animation: scrollfade;
  animation-timeline: --scrollfade;
  scroll-timeline: --scrollfade x;
}

.tna-table {
  &__header--align-left,
  &__cell--align-left {
    text-align: left;
  }

  &__header--align-centre,
  &__cell--align-centre {
    text-align: center;
  }

  &__header--align-right,
  &__cell--align-right {
    text-align: right;
  }

  &__header--align-justify,
  &__cell--align-justify {
    text-align: justify;
  }

  &__header--align-top,
  &__cell--align-top {
    vertical-align: top;
  }

  &__header--align-middle,
  &__cell--align-middle {
    vertical-align: middle;
  }

  &__header--align-bottom,
  &__cell--align-bottom {
    vertical-align: bottom;
  }
}
