@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.tna-template--touched:not(.tna-template--tabbed) *:focus {
  outline: none;
}

.tna-button-group {
  &--full {
    justify-content: stretch;

    @include media.on-mobile {
      flex-direction: column;

      align-items: stretch;
    }

    .tna-button {
      margin: 0;

      flex: 1;
    }
  }
}

.tna-card {
  &__promoted-item {
    @include colour.thick-keyline-accent(top);

    .tna-card__inner {
      &:not(:has(.tna-card__image-container)) {
        padding-top: spacing.space(1);

        border-top: none;
      }
    }
  }

  &--person &__image-container {
    padding-bottom: 100%;

    background: none;
  }

  &--person &__image {
    overflow: hidden;

    border-radius: 100%;
    @include colour.thick-keyline;
  }

  &--person:hover &__image {
    @include colour.colour-border("keyline-dark");
  }
}

.tna-files-list {
  &__items {
    padding-bottom: 0;

    gap: spacing.space(1.5) spacing.space(4);
  }

  &__item-meta,
  &__item-description {
    margin-top: spacing.space(0.25);
  }
}

.tna-dl {
  dd {
    @include typography.font-size(16);
  }
}

.tna-table {
  &__header--align-left,
  &__cell--align-left {
    text-align: left;
  }

  &__header--align-centre,
  &__cell--align-centre {
    text-align: center;
  }

  &__header--align-right,
  &__cell--align-right {
    text-align: right;
  }

  &__header--align-justify,
  &__cell--align-justify {
    text-align: justify;
  }

  &__header--align-top,
  &__cell--align-top {
    vertical-align: top;
  }

  &__header--align-middle,
  &__cell--align-middle {
    vertical-align: middle;
  }

  &__header--align-bottom,
  &__cell--align-bottom {
    vertical-align: bottom;
  }
}
