@use "@nationalarchives/frontend/nationalarchives/variables/borders" as
  borderVars;

@use "@nationalarchives/frontend/nationalarchives/tools/a11y";
@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-space-above {
  @include spacing.space-above;
}

.etna-thick-keyline-accent-top {
  @include colour.thick-keyline-accent(top);
}

abbr {
  cursor: help;
}

.etna-cta {
  @include spacing.space-above;

  @include colour.thick-keyline-accent(left);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  @include media.on-mobile {
    .tna-button-group {
      margin-top: spacing.space(1);
    }
  }
}

.etna-inset {
  @include spacing.space-above;

  @include colour.thick-keyline(left);
  padding: spacing.space(0.5) 0 spacing.space(0.5) spacing.space(1);
}

.etna-audio {
  width: 100%;
  @include spacing.space-above;

  display: block;
}

// .etna-background-list {
//   margin: spacing.space(1) 0 0 spacing.space(2);

//   display: flex;
//   flex-direction: column;
//   gap: spacing.space(1);

//   list-style: none;

//   &:first-child {
//     margin-top: 0;
//   }

//   li {
//     padding: spacing.space(1);

//     @include colour.colour-background("background-tint");

//     @include colour.thick-keyline-accent(left);

//     .tna-heading-s {
//       ~ p {
//         margin-top: spacing.space(0.5);
//       }
//     }
//   }

//   @include media.on-mobile {
//     margin-left: 0;
//   }
// }

.etna-etc-search .tna-form__hint {
  margin-top: spacing.space(0.25);
  margin-bottom: spacing.space(0.5);

  @include colour.colour-font("font-base");
  @include typography.font-size(18);

  @include media.on-mobile {
    @include typography.font-size(17);
  }
}

/* stylelint-disable no-descending-specificity */
.tna-ol > li {
  list-style-type: decimal;

  & & {
    list-style-type: lower-alpha;
  }

  & & & {
    list-style-type: lower-roman;
  }

  & & & & {
    list-style-type: decimal;
  }
}
/* stylelint-enable no-descending-specificity */

p.etna-small-paragraph {
  margin-top: 0;
  margin-bottom: spacing.space(0.5);

  @include typography.font-size(16);
}

.etna-email {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: spacing.space(0.75);
  overflow-wrap: anywhere;
}

#page-body {
  > :first-child {
    margin-top: spacing.space(3);
  }

  > [class^="tna-heading-"]:first-child,
  > [class*=" tna-heading-"]:first-child,
  > .tna-section:first-child {
    margin-top: 0;
  }
}

.tna-background-accent-light + .tna-background-accent,
.tna-background-accent + .tna-background-accent-light {
  .tna-template--dark-theme & {
    @include colour.colour-border("keyline", 1px, dotted, top);
  }

  .tna-template--system-theme & {
    @media (prefers-color-scheme: dark) {
      @include colour.colour-border("keyline", 1px, dotted, top);
    }
  }
}

:first-child[hidden] {
  + .tna-hgroup-xl,
  + .tna-hgroup-l,
  + .tna-hgroup-m,
  + .tna-hgroup-s,
  + .tna-heading-s,
  + .tna-heading-m,
  + .tna-heading-l,
  + .tna-heading-xl {
    margin-top: 0;
    padding-top: 0;
  }
}
