@use "@nationalarchives/frontend/nationalarchives/variables/borders" as
  borderVars;

@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-space-above {
  @include spacing.space-above;
}

.etna-thick-keyline-accent-top {
  @include colour.thick-keyline-accent(top);
}

abbr {
  cursor: help;
}

.etna-cta {
  @include spacing.space-above;

  @include colour.thick-keyline-accent(left);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  @include media.on-mobile {
    .tna-button-group {
      margin-top: spacing.space(1);
    }
  }
}

.etna-inset {
  @include spacing.space-above;

  @include colour.thick-keyline(left);
  padding: spacing.space(0.5) 0 spacing.space(0.5) spacing.space(1);
}

.etna-audio {
  width: 100%;
  @include spacing.space-above;

  display: block;
}

.etna-background-list {
  margin: spacing.space(1) 0 0 spacing.space(2);

  display: flex;
  flex-direction: column;
  gap: spacing.space(1);

  list-style: none;

  &:first-child {
    margin-top: 0;
  }

  li {
    padding: spacing.space(1);

    @include colour.colour-background("background-tint");

    @include colour.thick-keyline-accent(left);

    .tna-heading-s {
      ~ p {
        margin-top: spacing.space(0.5);
      }
    }
  }

  @include media.on-mobile {
    margin-left: 0;
  }
}

.etna-etc-search .tna-form__hint {
  margin-top: spacing.space(0.25);
  margin-bottom: spacing.space(0.5);

  @include colour.colour-font("font-base");
  @include typography.font-size(18);

  @include media.on-mobile {
    @include typography.font-size(17);
  }
}

.etna-do-dont-list {
  @include spacing.space-above;

  display: flex;
  gap: spacing.space(1);

  @include media.on-mobile {
    flex-direction: column;
  }

  &__block {
    padding: spacing.space(0.5) spacing.space(1);

    flex: 1;

    @include colour.tint;

    @include borders.rounded-border;
  }

  &__heading {
    @include colour.thick-keyline-dark(bottom);
  }

  .etna-ul-ticks,
  .etna-ul-crosses {
    margin-top: spacing.space(0.5);

    list-style: none;

    li {
      position: relative;
    }

    .fa-solid {
      width: spacing.space(1.75);

      position: absolute;
      top: 0;
      right: 100%;

      line-height: inherit;
      text-align: left;

      + p {
        margin-top: 0;
      }
    }

    .fa-check {
      color: colour.brand-colour("green");
    }

    .fa-xmark {
      color: colour.brand-colour("pink");
    }
  }
}

p.etna-small-paragraph {
  margin-top: 0;
  margin-bottom: spacing.space(0.5);

  @include typography.font-size(16);
}

.etna-partner-logos {
  @include spacing.space-above;

  padding: spacing.space(2);

  @include colour.tint;

  @include borders.rounded-border;

  &__heading {
    margin-bottom: spacing.space(2);

    line-height: 1;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: spacing.space(2) spacing.space(2);

    list-style: none;
  }

  &__item {
    text-align: center;

    & + & {
      padding-left: spacing.space(2);
      @include colour.colour-border("keyline", 1px, solid, left);
    }
  }

  &__image {
    width: auto;
    height: 5rem;

    display: inline-block;

    img {
      width: auto;
      height: 100%;
    }

    .tna-template--system-theme & {
      @media (prefers-color-scheme: dark) {
        &--light {
          display: none !important;
        }

        &--dark {
          display: block !important;
        }
      }
    }

    .tna-template--dark-theme & {
      &--light {
        display: none !important;
      }

      &--dark {
        display: block !important;
      }
    }
  }

  @include media.on-tiny {
    padding: spacing.space(1);

    &__items {
      flex-direction: column;
      gap: spacing.space(1);
    }

    &__item {
      & + & {
        padding-top: spacing.space(1);
        padding-left: 0;
        border-left: none;
        @include colour.colour-border("keyline", 1px, solid, top);
      }
    }
  }
}

.etna-email {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: spacing.space(0.75);
  overflow-wrap: anywhere;
}

#page-body {
  > :first-child {
    margin-top: spacing.space(3);
  }
}

.tna-background-accent-light + .tna-background-accent,
.tna-background-accent + .tna-background-accent-light {
  .tna-template--dark-theme & {
    @include colour.colour-border("keyline", 1px, dotted, top);
  }

  .tna-template--system-theme & {
    @media (prefers-color-scheme: dark) {
      @include colour.colour-border("keyline", 1px, dotted, top);
    }
  }
}

.tna-records-list {
  @include spacing.space-above;
  margin-bottom: 0;
  padding: 0;

  list-style: none;

  @include colour.thick-keyline-accent(top);

  &__item {
    padding: spacing.space(1) spacing.space(1.5);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: spacing.space(2);

    @include colour.colour-border("keyline", 1px);
    border-top-width: 0;

    &:last-child {
      border-radius: 0 0 borderVars.$rounded-border-radius
        borderVars.$rounded-border-radius;
    }
  }

  &__image {
    width: 6rem;
    height: auto;
  }

  &__details {
    margin: 0;

    flex: 1;
  }

  &__title-label,
  &__date-label {
    display: none;
  }

  &__collection-description,
  &__title-description,
  &__date-description {
    width: 100%;
    margin: 0;
  }

  &__collection-label,
  &__collection-description {
    display: inline-block;
  }

  &__collection-label {
    &::after {
      content: ":";
      content: ":" / "";
    }
  }

  &__collection-description {
  }

  &__title-label {
  }

  &__title-description {
    padding-bottom: spacing.space(0.25);

    @include typography.detail-font(true);
  }

  &__date-label {
  }

  &__date-description {
    @include colour.colour-font("font-light");
    @include typography.font-size(16);
  }

  @include media.on-tiny {
    &__item {
      padding: spacing.space(1);

      flex-direction: column;
      align-items: flex-start;

      gap: spacing.space(1);
    }
  }
}

:first-child[hidden] {
  + .tna-hgroup-xl,
  + .tna-hgroup-l,
  + .tna-hgroup-m,
  + .tna-hgroup-s,
  + .tna-heading-s,
  + .tna-heading-m,
  + .tna-heading-l,
  + .tna-heading-xl {
    margin-top: 0;
    padding-top: 0;
  }
}
