@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-space-above {
  @include spacing.space-above;
}

.etna-thick-keyline-accent-top {
  @include colour.thick-keyline-accent(top);
}

.etna-global-alert {
  @include spacing.space-above;

  @include colour.always-light;
  @include colour.thick-keyline;
  @include colour.colour-font("font-base");
  @include colour.colour-background("background");

  padding: spacing.space(0.75) spacing.space(1);

  position: relative;

  &--high {
    @include colour.thick-keyline-error;
  }

  &--medium {
    @include colour.yellow-accent;

    @include colour.thick-keyline-accent;
  }

  &--low {
    @include colour.blue-accent;

    @include colour.thick-keyline-accent;
  }

  &__heading {
    @include colour.thick-keyline-dark(bottom);

    margin-right: 9rem;

    display: inline-block;
  }

  &__body {
    margin-top: spacing.space(0.25);

    @include typography.font-size(16);

    p + p {
      margin-top: spacing.space(0.25);
    }
  }

  &__dismiss {
    height: 1.5rem;
    padding: 0 1.75rem 0 0.25rem;

    position: absolute;
    top: spacing.space(0.5);
    right: spacing.space(0.5);

    // font-size: 0;
    font-family: inherit;

    background: transparent;

    border: none;

    opacity: 0.5;

    cursor: pointer;

    &::before,
    &::after {
      content: "";

      width: 1.5rem;
      height: 4px;

      position: absolute;
      top: calc(50% - 2px);
      right: 0;

      @include colour.colour-background("font-dark");
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover,
    &:focus {
      text-decoration: underline;

      opacity: 1;
      @include typography.interacted-text-decoration;
    }
  }
}

.etna-cta {
  @include spacing.space-above;

  @include colour.thick-keyline-accent(left);
}

.etna-inset {
  @include spacing.space-above;

  @include colour.thick-keyline(left);
  padding: spacing.space(0.5) 0 spacing.space(0.5) spacing.space(1);
}

.etna-background-masked-image {
  position: relative;

  @include colour.contrast;
  background-color: transparent;

  &__image:first-child {
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;
    object-fit: cover;

    z-index: -2;

    + * {
      margin-top: 0;
      padding-top: 0;
    }
  }

  &::after {
    content: "";

    position: absolute;
    inset: 0;
    z-index: -1;

    background-color: rgb(0 0 0 / 85%);
    background-blend-mode: multiply;
  }
}

.etna-audio {
  width: 100%;
  @include spacing.space-above;

  display: block;
}

.etna-block-list {
  margin: spacing.space(1) 0 0 spacing.space(2);

  display: flex;
  flex-direction: column;
  gap: spacing.space(1);

  list-style: none;

  &:first-child {
    margin-top: 0;
  }

  li {
    padding: spacing.space(1);

    @include colour.colour-background("background-tint");

    @include colour.thick-keyline-accent(left);

    .tna-heading-s {
      ~ p {
        margin-top: spacing.space(0.5);
      }
    }
  }

  @include media.on-mobile {
    margin-left: 0;
  }
}

.etna-do-dont-list {
  @include spacing.space-above;

  display: flex;
  gap: spacing.space(1);

  @include media.on-mobile {
    flex-direction: column;
  }

  &__block {
    padding: spacing.space(0.5) spacing.space(1);

    flex: 1;

    @include colour.tint;
  }

  &__heading {
    @include colour.thick-keyline-dark(bottom);
  }

  .etna-ul-ticks,
  .etna-ul-crosses {
    margin-top: spacing.space(0.5);

    list-style: none;

    li {
      position: relative;
    }

    .fa-solid {
      width: spacing.space(1.75);

      position: absolute;
      top: 0;
      right: 100%;

      line-height: inherit;
      text-align: left;

      + p {
        margin-top: 0;
      }
    }

    .fa-check {
      color: colour.brand-colour("green");
    }

    .fa-xmark {
      color: colour.brand-colour("pink");
    }
  }
}

p.etna-small-paragraph {
  margin-top: 0;
  margin-bottom: spacing.space(0.5);

  @include typography.font-size(16);
}

// TEMP FIX
// .tna-heading-s,
// .tna-heading-m,
// .tna-heading-l,
// .tna-heading-xl,
// .tna-form__heading,
// .tna-form__heading--s,
// .tna-form__heading--m,
// .tna-form__heading--l,
// .tna-form__heading--xl,
// .tna-hgroup-s .tna-hgroup__title,
// .tna-hgroup-m .tna-hgroup__title,
// .tna-hgroup-l .tna-hgroup__title,
// .tna-hgroup-xl .tna-hgroup__title {
//   &:not(.tna-heading--no-link-arrow) {
//     a {
//       vertical-align: top;
//     }
//   }
// }

:first-child[hidden] {
  + .tna-hgroup-xl,
  + .tna-hgroup-l,
  + .tna-hgroup-m,
  + .tna-hgroup-s,
  + .tna-heading-s,
  + .tna-heading-m,
  + .tna-heading-l,
  + .tna-heading-xl {
    margin-top: 0;
    padding-top: 0;
  }
}
