.tna-records-list {
  @include spacing.space-above;
  margin-bottom: 0;
  padding: 0;

  list-style: none;

  @include colour.thick-keyline-accent(top);

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: spacing.space(2);

    position: relative;

    @include colour.colour-border("keyline", 1px);
    border-top-width: 0;

    @include a11y.faux-full-outline(".tna-records-list__title-description a");

    &:last-child {
      border-radius: 0 0 borderVars.$rounded-border-radius
        borderVars.$rounded-border-radius;
    }
  }

  &__image {
    width: 6rem;
    height: auto;
  }

  &__details {
    margin: 0;
    padding: spacing.space(0.5) spacing.space(1) spacing.space(0.5)
      spacing.space(2.5);

    flex: 1;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      bottom: 0;
      left: spacing.space(1.5);
      @include colour.colour-border("keyline", 1px, dotted, left);
    }

    &::after {
      content: "";

      width: spacing.space(0.5);
      height: spacing.space(0.5);

      position: absolute;
      top: 50%;
      left: spacing.space(0.5);

      border-radius: 100%;

      box-shadow: inset 0 1px 1.5px rgb(0 0 0 / 50%);

      transform: translateY(-50%);
    }
  }

  &__title-label,
  &__date-label {
    display: none;
  }

  &__collection-description,
  &__title-description,
  &__date-description {
    width: 100%;
    margin: 0;
  }

  &__collection-label,
  &__collection-description {
    display: inline-block;
  }

  &__collection-label {
    &::after {
      content: ":";
      content: ":" / "";
    }
  }

  &__collection-description {
  }

  &__title-label {
  }

  &__title-description {
    padding-bottom: spacing.space(0.25);

    @include typography.detail-font(true);
  }

  &__date-label {
  }

  &__date-description {
    @include colour.colour-font("font-light");
    @include typography.font-size(16);
  }

  @include media.on-tiny {
    &__item {
      flex-direction: column;
      align-items: flex-start;

      gap: spacing.space(1);
    }

    &__details {
      padding-top: spacing.space(0.5);
      padding-right: spacing.space(1);
      padding-bottom: spacing.space(0.5);
    }
  }
}
