@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.tna-sidebar {
  &--a-z {
    .tna-sidebar__items {
      padding-left: spacing.space(0.5);

      flex-flow: row wrap;

      gap: spacing.space(0.5);
    }

    .tna-sidebar__item {
      margin: 0;

      &::marker {
        content: none;
      }
    }

    .tna-sidebar__link {
      width: 2.5rem;
      height: 2.5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      @include typography.main-font-weight-bold;

      @include colour.colour-border("keyline", 1px);
      border-radius: 100%;

      &:hover {
        @include colour.tint;
      }
    }
  }

  @include media.on-larger-than-mobile {
    &--a-z {
      padding-right: spacing.space(1);
    }
  }
}
