@property --left-fade {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --right-fade {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@keyframes scrollfade {
  /* stylelint-disable keyframe-block-no-duplicate-selectors */
  0% {
    --left-fade: 0;
  }

  15%,
  100% {
    --left-fade: 3rem;
  }

  0%,
  85% {
    --right-fade: 3rem;
  }

  100% {
    --right-fade: 0;
  }
  /* stylelint-enable keyframe-block-no-duplicate-selectors */
}

.tna-table-wrapper {
  mask: linear-gradient(
    to right,
    #0000,
    #ffff var(--left-fade) calc(100% - var(--right-fade)),
    #0000
  );
  animation: scrollfade;
  animation-timeline: --scrollfade;
  scroll-timeline: --scrollfade x;
}

.tna-table {
  &__header--align-left,
  &__cell--align-left {
    text-align: left;
  }

  &__header--align-centre,
  &__cell--align-centre {
    text-align: center;
  }

  &__header--align-right,
  &__cell--align-right {
    text-align: right;
  }

  &__header--align-justify,
  &__cell--align-justify {
    text-align: justify;
  }

  &__header--align-top,
  &__cell--align-top {
    vertical-align: top;
  }

  &__header--align-middle,
  &__cell--align-middle {
    vertical-align: middle;
  }

  &__header--align-bottom,
  &__cell--align-bottom {
    vertical-align: bottom;
  }
}
