{% extends "errors/base.html" %}

{%- from 'components/button/macro.html' import tnaButton -%}

{% block error_content %}
<p>A version of the old page can still be viewed in the <a href="https://www.nationalarchives.gov.uk/webarchive/">UK Government Web Archive</a>.</p>
{% if last_archived_date %}
<p>The archive shows the page as it appeared on <strong><time datetime="{{ last_archived_date }}">{{ last_archived_date_pretty }}</time></strong> ({{ last_archived_age }}).</p>
{% endif %}
<div class="tna-button-group">
  {{ tnaButton({
    "text": "View archived page",
    "href": archived_page_url | escape
  }) }}
</div>
{% endblock error_content %}
