{% extends 'base.html' %}

{%- set pageTitle = 'Page not found' -%}
{%- set status_code = 404 -%}

{% block content %}
<div class="tna-container tna-section">
  <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny">
    <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
    <p>If you typed the web address, check it is correct.</p>
    <p>If you pasted the web address, check you copied the entire address.</p>
    <p>If the web address is correct or you selected a link or button, <a href="https://www.nationalarchives.gov.uk/contact-us/">contact us</a> to let us help.</p>
    <div class="tna-aside tna-accent-yellow tna-background-accent">
      <h2 class="tna-heading-l">Helpful links</h2>
      <ul class="tna-ul">
        <li>Check the UK Government Web Archive for an <a href="https://webarchive.nationalarchives.gov.uk/ukgwa/+/{{ request.base_url }}" id="wa_link">archived version of this page</a></li>
        <li>Return to the <a href="/">homepage</a></li>
        <li>Search <a href="https://discovery.nationalarchives.gov.uk">Discovery</a>, our catalogue</li>
        <li>Use a <a href="https://www.nationalarchives.gov.uk/help-with-your-research/research-guides/">research guide</a> to help with your historical research</li>
        <li>Find something in the <a href="https://www.nationalarchives.gov.uk/help/a-to-z/">A-Z</a></li>
        <li>Visit the online <a href="https://shop.nationalarchives.gov.uk/">shop</a></li>
        <li>See <a href="https://www.nationalarchives.gov.uk/whats-on/">what’s on</a> at The National Archives</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
