{% extends 'base.html' %}

{%- set status_code = 401 -%}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/error-summary/macro.html' import tnaErrorSummary -%}
{%- from 'components/text-input/macro.html' import tnaTextInput -%}

{% block content %}
<div class="tna-container">
  <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-section">
    <form method="post" action="{{ url_for('wagtail.preview_protected_page', page_id=page_data.id) }}" novalidate>
      {%- if page_data.error %}
      {{ tnaErrorSummary({
        'title': 'There is a problem',
        'headingLevel': 2,
        'items': [
          {
            'text': page_data.error,
            'href': '#password'
          }
        ]
      }) }}
      {%- endif %}
      <h1 class="tna-heading-xl">Password required</h1>
      <p>You need a password to access this page.</p>
      {% set textInputData = {
        'label': 'Enter the password',
        'headingLevel': 2,
        'headingSize': 'm',
        'id': 'password',
        'name': 'password',
        'size': 'm',
        'password': True
      } %}
      {%- if page_data.error %}
        {% set textInputData = dict(textInputData, **{
          'error': {
            'text': page_data.error
          }
        }) %}
      {%- endif %}
      {{ tnaTextInput(textInputData) }}
      <div class="tna-button-group">
        {{ tnaButton({
          'text': 'View page',
          'buttonElement': True,
          'buttonType': 'submit'
        }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}