@use "@nationalarchives/frontend/nationalarchives/variables/grid";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-article {
  &__sidebar {
    max-height: 100vh;
    max-height: 100dvh;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    position: sticky;
    top: 0;
  }

  &__sidebar-items {
    width: 100%;
    margin: 0;
    padding: spacing.space(0.5);

    box-sizing: content-box;

    overflow-y: auto;

    position: relative;
    left: -#{spacing.space(0.5)};

    flex: 1;
  }

  &__sidebar-item {
    margin-bottom: spacing.space(0.25);
    padding: spacing.space(0.25) spacing.space(0.625);

    display: block;

    // text-decoration: none;
    @include typography.font-size(16);

    &,
    &:link,
    &:visited {
      // @include colour.colour-font("font-base");
      @include colour.colour-font("link");
    }

    &--current {
      @include colour.accent;
    }
  }

  &__sections {
    @include media.on-mobile {
      &::after {
        content: "";

        width: 100%;

        display: block;

        @include colour.colour-border("keyline", 1px, solid, bottom);
      }
    }
  }

  &__section {
    padding-bottom: spacing.space(2);

    &:focus {
      .tna-template--clicked & {
        outline: none !important;
      }
    }

    @include media.on-larger-than-mobile {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__section-button-header {
    margin: 0;
    padding: 0;

    display: none;

    &:first-of-type {
      margin-top: spacing.space(2);
    }

    @include media.on-mobile {
      display: block;
    }
  }

  &__section-button-icon {
    width: 1.5rem;
    height: 1.5rem;

    @include colour.colour-fill("font-base");

    &--up {
      display: none;
    }
  }

  &__section-button {
    width: 100%;
    padding: spacing.space(1) 0 !important;

    appearance: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: spacing.space(2);

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: left;

    background: none;

    border: none;

    cursor: pointer;
    @include colour.colour-border("keyline", 1px, solid, top);

    &[aria-expanded="true"] &-icon {
      &--up {
        display: block;
      }

      &--down {
        display: none;
      }
    }

    &-label {
      flex: 1;
    }

    &:hover,
    &:active {
      .etna-article__section-button-label {
        @include typography.interacted-text-decoration;
      }
    }
  }

  @include media.on-mobile {
    &--interactive &__sidebar,
    &__section--hidden {
      display: none;
    }

    &__section-heading {
      .tna-template--js-enabled & {
        display: none;
      }
    }
  }

  @include media.on-print {
    .etna-article__section-button-header {
      display: none !important;
    }

    .etna-article__section,
    .etna-article__section-heading {
      display: block !important;
    }
  }

  .tna-featured-records {
    margin-left: spacing.space(2);

    @include media.on-mobile {
      margin-left: 0;
    }
  }
}

.etna-author-list {
  &__heading {
    padding-bottom: spacing.space(0.5);
  }

  &__items {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    list-style: none;
  }

  &__item {
    padding-bottom: spacing.space(1);

    display: flex;
    gap: spacing.space(1);
  }

  &__image {
    width: 5rem;
    height: 5rem;

    border-radius: 100%;
  }

  &__details {
  }

  &__name {
  }

  &__description {
    margin-top: 0;

    @include typography.font-size(16);
  }

  &--horizontal {
  }

  &--horizontal &__items {
    display: block;

    columns: 3;
    column-gap: spacing.space(2);
    column-fill: balance;

    @include media.on-medium {
      columns: 2;
    }

    @include media.on-mobile {
      columns: 1;
    }
  }

  &--horizontal &__item {
    break-inside: avoid;
  }
}
