@use "@nationalarchives/frontend/nationalarchives/variables/grid";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-article {
  &__sections {
    @include media.on-mobile {
      &::after {
        content: "";

        width: 100%;

        display: block;

        @include colour.colour-border("keyline", 1px, solid, bottom);
      }
    }
  }

  &__section {
    padding-bottom: spacing.space(2);

    &:focus {
      .tna-template--clicked & {
        outline: none !important;
      }
    }

    @include media.on-larger-than-mobile {
      &:last-child {
        padding-bottom: 0;
      }
    }

    .tna-card + .tna-card {
      margin-top: spacing.space(1);
    }
  }

  &__section-button-header {
    margin: 0;
    padding: 0;

    display: none;

    &:first-of-type {
      margin-top: spacing.space(2);
    }

    @include media.on-mobile {
      display: block;
    }
  }

  &__section-button-icon {
    width: 1.5rem;
    height: 1.5rem;

    @include colour.colour-fill("font-base");

    &--up {
      display: none;
    }
  }

  &__section-button {
    width: 100%;
    padding: spacing.space(1) 0 !important;

    appearance: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: spacing.space(2);

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: left;

    background: none;

    border: none;
    border-radius: 0.1px;

    cursor: pointer;
    @include colour.colour-border("keyline", 1px, solid, top);

    &[aria-expanded="true"] &-icon {
      &--up {
        display: block;
      }

      &--down {
        display: none;
      }
    }

    &-label {
      flex: 1;
    }

    &:hover,
    &:focus,
    &:active {
      .etna-article__section-button-label {
        @include typography.interacted-text-decoration;
      }
    }
  }

  @include media.on-mobile {
    &__section--hidden {
      display: none;
    }

    &__section-heading {
      .tna-template--js-enabled & {
        // display: none;
      }
    }
  }

  @include media.on-print {
    .etna-article__section-button-header {
      display: none !important;
    }

    .etna-article__section,
    .etna-article__section-heading {
      display: block !important;
    }
  }

  .tna-featured-records {
    margin-left: spacing.space(2);

    @include media.on-mobile {
      margin-left: 0;
    }
  }

  .tna-picture__image-wrapper:fullscreen {
    padding: 0;

    background-color: #010101;

    box-shadow: none;

    .tna-picture__image {
      width: 100vw;
      height: 100vh;
      max-height: none;
      object-fit: contain;
    }
  }
}
