@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

// <div class="tna-background-accent tna-!--margin-bottom-m">
//   <nav class="etna-secondary-navigation">
//     <div class="tna-container">
//       <ul class="tna-column tna-column--full etna-secondary-navigation__items">
//         <li class="etna-secondary-navigation__item etna-secondary-navigation__item--current">
//           <a href="#" class="etna-secondary-navigation__link">Alpha</a>
//         </li>
//         <li class="etna-secondary-navigation__item">
//           <a href="#" class="etna-secondary-navigation__link">Beta</a>
//         </li>
//         <li class="etna-secondary-navigation__item">
//           <a href="#" class="etna-secondary-navigation__link">Gamma</a>
//         </li>
//       </ul>
//     </div>
//   </nav>
// </div>

.etna-secondary-navigation {
  @include colour.colour-border("keyline", 1px, solid, bottom);

  .tna-background-accent & {
    border-bottom: none;
  }

  &__items {
    display: flex;
    align-items: flex-end;
    gap: spacing.space(2);

    list-style: none;
  }

  &__item {
    @include colour.thick-keyline-transparent(bottom);

    &--current {
      @include colour.thick-keyline-accent(bottom);
    }
  }

  &__link {
    padding: spacing.space(0.5) 0;

    display: block;
  }

  &__item--current &__link {
    text-decoration: none;
    @include colour.colour-font("base-font");
  }

  @include media.on-mobile {
    &__items {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }

    &__item {
      border-bottom: none;
      @include colour.thick-keyline-transparent(left);

      &--current {
        @include colour.thick-keyline-accent(left);
      }
    }

    &__link {
      padding: spacing.space(0.25) spacing.space(0.75);
      @include colour.colour-border("keyline", 1px, solid, bottom);
    }

    &__item:last-child &__link {
      border-bottom: none;
    }
  }
}

// <div class="etna-pictures etna-pictures--layout-1">
//   <img src="https://picsum.photos/600/400?1">
//   <img src="https://picsum.photos/600/400?2">
//   <img src="https://picsum.photos/600/400?3">
//   <img src="https://picsum.photos/600/600?4">
// </div>
// <div class="etna-pictures etna-pictures--layout-2">
//   <img src="https://picsum.photos/600/600?5">
//   <img src="https://picsum.photos/600/400?6">
//   <img src="https://picsum.photos/400/400?7">
//   <img src="https://picsum.photos/600/400?8">
// </div>
// <div class="etna-pictures etna-pictures--layout-3">
//   <img src="https://picsum.photos/600/400?9">
//   <img src="https://picsum.photos/600/400?10">
//   <img src="https://picsum.photos/600/400?11">
// </div>

.etna-pictures {
  @include spacing.space-above;

  aspect-ratio: 3 / 2;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  place-items: stretch;
  gap: spacing.space(1);

  img {
    object-fit: cover;

    position: relative;
    z-index: 1;

    @include colour.colour-border("keyline", 1px);
  }

  &--layout-1 {
    img:nth-child(1) {
      grid-column: 2 / 6;
      grid-row: 2 / 5;
    }

    img:nth-child(2) {
      grid-column: 7 / 11;
      grid-row: 1 / 5;

      z-index: 3;
    }

    img:nth-child(3) {
      grid-column: 4 / 10;
      grid-row: 3 / 11;

      z-index: 2;
    }

    img:nth-child(4) {
      grid-column: 1 / 5;
      grid-row: 5 / 10;

      z-index: 3;
    }
  }

  &--layout-2 {
    img:nth-child(1) {
      grid-column: 1 / 5;
      grid-row: 2 / 9;
    }

    img:nth-child(2) {
      grid-column: 4 / 8;
      grid-row: 3 / 8;

      z-index: 2;
    }

    img:nth-child(3) {
      grid-column: 7 / 10;
      grid-row: 1 / 4;

      z-index: 3;
    }

    img:nth-child(4) {
      grid-column: 6 / 11;
      grid-row: 5 / 11;
    }
  }

  &--layout-3 {
    img:nth-child(1) {
      grid-column: 1 / 6;
      grid-row: 2 / 7;

      z-index: 3;
    }

    img:nth-child(2) {
      grid-column: 4 / 9;
      grid-row: 4 / 11;

      z-index: 2;
    }

    img:nth-child(3) {
      grid-column: 7 / 11;
      grid-row: 1 / 6;
    }
  }
}
