@use "@nationalarchives/frontend/nationalarchives/variables/borders" as
  borderVars;
@use "@nationalarchives/frontend/nationalarchives/variables/grid" as gridVars;
@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

$source-list-marker-size: 3;
$source-list-marker-spacing: 1;
$source-list-line-width: 3px;

.tna-hero {
  &__enquiry-question {
    @include spacing.space-above;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: spacing.space(0.75);

    @include spacing.space-above;

    .fa-solid {
      font-size: 2em;
      // @include colour.colour-font("icon-light");
    }

    p {
      margin-top: 0;
      @include typography.main-font-weight-bold;
      line-height: 1.5;
    }

    @include media.on-tiny {
      padding-left: spacing.space(0.75);
      padding-block: spacing.space(0.5);

      flex-direction: column;
      align-items: flex-start;

      @include colour.thick-keyline-accent(left);
    }
  }
}

.tna-education-top-details {
  height: 100%;

  display: flex;
  flex-direction: row;

  &__icon {
    padding: spacing.space(1) spacing.space(0.75);

    font-size: 1.5em;

    @include colour.accent;

    border-top-left-radius: borderVars.$rounded-border-radius;
    border-bottom-left-radius: borderVars.$rounded-border-radius;
  }

  &__content {
    padding: spacing.space(0.75) spacing.space(1) spacing.space(1);

    flex: 1;

    border-left-width: 0 !important;
    @include colour.colour-border("keyline", 1px, solid);
    border-top-right-radius: borderVars.$rounded-border-radius;
    border-bottom-right-radius: borderVars.$rounded-border-radius;
  }

  @include media.on-tiny {
    flex-direction: column;
    align-items: stretch;

    &__icon {
      width: auto;
      padding: spacing.space(0.75);

      font-size: 1em;
      text-align: left;

      border-top-right-radius: borderVars.$rounded-border-radius;
      border-bottom-left-radius: 0;
    }

    &__content {
      border-top-width: 0 !important;
      border-left-width: 1px !important;
      border-top-right-radius: 0;
      border-bottom-left-radius: borderVars.$rounded-border-radius;
    }
  }
}

.tna-education-sources-overview {
  &__list {
    margin-top: spacing.space(1);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    align-items: start;
    gap: spacing.space(2);

    list-style: none;
    counter-reset: sources-overview;
  }

  &__list-item {
    counter-increment: sources-overview;
  }

  &__list-item-link {
    @include typography.font-size(16);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: spacing.space(0.25);

    position: relative;

    &::before {
      content: counter(sources-overview) / "";

      width: spacing.space(2);
      aspect-ratio: 2;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      line-height: spacing.space(2);
      text-align: center;
      @include typography.main-font-weight-bold;

      @include colour.contrast;

      @include borders.rounded-border;
    }

    &::after {
      content: "";

      aspect-ratio: 1;

      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;

      @include colour.colour-border("keyline-dark", 3px);
    }

    img {
      width: auto;
      aspect-ratio: 1;

      object-fit: cover;
      @include colour.contrast;
    }
  }
}

.tna-education-ol {
  display: flex;
  flex-direction: column;
  gap: spacing.space(3);

  list-style: none;
  counter-reset: sources;

  @include spacing.space-above;

  &__item {
    padding-top: spacing.space(1);
    // margin-left: -#{spacing.space(
    //   gridVars.$gutter-width / 2
    // )};

    position: relative;

    counter-increment: sources;

    &::before {
      content: "";

      width: $source-list-line-width;

      display: block;

      position: absolute;
      top: spacing.space(1);
      bottom: 0;
      left: calc(
        #{spacing.space($source-list-marker-size / 2)} -
          #{$source-list-line-width / 2}
      );

      @include colour.contrast;

      @include borders.rounded-border;
    }
  }

  &__item-header {
    margin-left: spacing.space(
      $source-list-marker-size + $source-list-marker-spacing
    );

    position: relative;

    font-size: inherit;

    @include typography.main-font;
    @include typography.main-font-weight;

    &::before {
      content: counter(sources);

      min-width: spacing.space($source-list-marker-size - 1);
      aspect-ratio: 1;
      padding: 0 spacing.space(0.5);

      display: block;

      position: absolute;
      top: 0;
      right: calc(100% + spacing.space($source-list-marker-spacing));

      font-size: 1.25em;

      line-height: spacing.space($source-list-marker-size);
      text-align: center;
      @include typography.main-font-weight-bold;

      @include colour.contrast;

      @include borders.rounded-border;
    }
  }

  &__item-header-super {
    margin-bottom: spacing.space(0.25);

    display: block;
  }

  &__item-body {
    @include spacing.space-above;
    padding-left: spacing.space(
      $source-list-marker-size + $source-list-marker-spacing
    );
  }
}
