@use "sass:math";

@use "@nationalarchives/frontend/nationalarchives/variables/grid" as gridVars;

@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/grid";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

$hero-shift-units: 2;
$hero-padding-units: 3 !default;

.tna-hero {
  margin-bottom: spacing.space($hero-shift-units);

  &__details {
    max-width: gridVars.$largest-container-width;
    margin: 0 auto;

    position: relative;
  }

  & &__details-summary {
    top: spacing.space(1.5);
    right: spacing.space(1.5);
  }

  &__information {
    max-width: 50%;

    box-sizing: border-box;

    top: spacing.space(1);
    right: spacing.space(1);

    @include borders.rounded-border;
  }

  &__figure {
    min-height: auto;
    padding-top: spacing.space($hero-padding-units);
    padding-bottom: spacing.space($hero-padding-units);

    align-items: center;

    box-sizing: border-box;
  }

  &__image {
    max-width: calc(
      #{math.div(gridVars.$largest-container-width, 2)} - #{grid.gutter-width()}
    );
    margin-right: 32px;

    overflow: hidden;

    top: spacing.space($hero-shift-units);
    bottom: spacing.space($hero-shift-units * -1);

    left: 50%;

    @include borders.rounded-border;

    box-shadow:
      0 0.25rem 1rem -0.25rem rgb(0 0 0 / 25%),
      0 0.125rem 0.5rem -0.25rem rgb(0 0 0 / 75%);
  }

  &__content {
    width: 50%;
    padding-right: grid.gutter-width();
  }

  &__content-inner {
    padding: 0;
  }

  @include media.on-mobile {
    margin-bottom: 0;

    & &__details-summary {
      top: spacing.space(0.5);
      right: spacing.space(0.5);
    }

    &__information {
      width: auto;
      max-width: none;

      top: 0;
      right: 0;

      border-radius: 0;
    }

    &__figure {
      min-height: auto;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__image {
      max-width: none;
      margin-right: 0;

      border-radius: 0;

      box-shadow: none;
    }

    &__content {
      width: 100%;
      padding-right: grid.gutter-width-half();
    }

    &__content-inner {
      padding-top: spacing.space(2);
      padding-bottom: spacing.space(2);
    }
  }
}

.etna-event-details {
  @include colour.thick-keyline-accent(top);
  border-radius: 0;
}

.tna-column--align-centre {
  .tna-button-group {
    justify-content: stretch;

    .tna-button {
      flex: 1;
    }
  }
}
