@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";

.tna-hero {
  &:not(.tna-background-accent) &__content-inner {
    @include media.on-larger-than-mobile {
      @include colour.colour-border("accent-border", 1rem, solid, left);
    }
  }
}

.tna-aside {
  &--top-bottom-borders {
    @include colour.colour-border("keyline-dark", 1px, solid, top);
    @include colour.colour-border("keyline-dark", 1px, solid, bottom);
  }
}

.tna-exhibition-quote {
  text-align: center;

  &__body {
    quotes: auto;
    quotes: "‘" "’";

    :first-child::before {
      content: open-quote;
    }

    :last-child::after {
      content: close-quote;
    }
  }

  &__attribution {
    cite {
      font-style: normal;
    }
  }
}
