@use "@nationalarchives/frontend/nationalarchives/tools/a11y";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

@use "@nationalarchives/frontend/nationalarchives/components/forms";

#cookie-settings-success {
  border-radius: 0.1px;

  &[tabindex="0"]:focus {
    @include a11y.focus-outline;
  }
}

.tna-form__group {
  &--full-sized-hint {
    .tna-form__hint {
      color: inherit;
      font-size: inherit;
    }
  }
}
