@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

@use "@nationalarchives/frontend/nationalarchives/components/forms";

#cookie-settings-success {
  @include borders.rounded-border;
}

.tna-fieldset__hint {
  p,
  .tna-ul {
    margin-top: spacing.space(0.5);
  }
}
