@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

$foreground-brand-colour: "navy";
$background-brand-colour: "yellow";

.tna-hero {
  &--home &__figure {
    min-height: max(96px, 20rem);
  }

  &--home &__inner--custom {
    position: relative;
    z-index: 4;
  }

  &--home &__content-inner {
    padding: 0;

    background: transparent;
  }

  .tna-heading-xl,
  .tna-large-paragraph {
    display: inline-block;

    position: relative;

    @include colour.colour-background("background");

    @include borders.rounded-border;
  }

  .tna-heading-xl {
    padding: 0.125em 0.25em 0.0625em;
  }

  .tna-large-paragraph {
    padding: 0.0625em 0.5em;
  }

  .tna-button-group {
    gap: spacing.space(0.5) spacing.space(1);
  }

  @include media.on-mobile {
    &--home &__figure {
      padding-top: spacing.space(5);
      padding-bottom: spacing.space(2);
    }

    &--home &__inner {
      background: transparent !important;
    }

    &--home &__content-inner {
      padding-top: spacing.space(2);
    }

    &--home &__image {
      overflow: hidden;

      position: absolute;

      img {
        height: 100%;
      }
    }
  }
}

.tna-card {
  &--wider-horizontal-image {
    grid-template-columns: clamp(20rem, 33%, 25rem) 1fr;
  }
}

.tna-footer {
  margin-top: 0 !important;
}
