@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

$foreground-brand-colour: "navy";
$background-brand-colour: "yellow";

.etna-homepage-hero {
  overflow: hidden;

  position: relative;

  background-color: colour.brand-colour($background-brand-colour);

  &__image {
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;
    z-index: 1;

    object-fit: cover;
  }

  &__content {
    padding-top: clamp(10rem, 30vw, 25rem);

    position: relative;
    z-index: 4;
  }

  .tna-heading-xl,
  .tna-large-paragraph {
    display: inline-block;

    position: relative;

    @include colour.colour-background("background");

    @include borders.rounded-border;
  }

  .tna-heading-xl {
    padding: 0.125em 0.25em 0.0625em;
  }

  .tna-large-paragraph {
    padding: 0.0625em 0.5em;
  }

  .tna-button-group {
    gap: spacing.space(0.5) spacing.space(1);
  }
}

.tna-footer {
  margin-top: 0 !important;
}
