.tna-global-header__logo--link,
.tna-global-header__navigation-item-link {
  &,
  &:link,
  &:visited {
    color: #fff;
  }
}

.tna-global-header__navigation-item-link {
  border-bottom: 0.5px rgb(255 255 255 / 50%) solid;
}

.tna-global-header__top-navigation-item {
  & + & {
    margin-left: 2rem;
  }
}

.tna-global-header__top-navigation-link {
  &,
  &:link,
  &:visited {
    color: rgb(255 255 255 / 58%);

    &:hover {
      color: #fff;
    }
  }
}

.tna-footer {
  .tna-logo {
    height: 96px;
  }
}

.tna-form__group-contents {
  flex: none;
}
