/* stylelint-disable */

.tna-global-header__logo--link,
.tna-global-header__navigation-item-link {
  &,
  &:link,
  &:visited {
    color: #fff;
  }
}

.tna-global-header__navigation-item-link {
  border-bottom: 0.5px rgba(255, 255, 255, 0.5) solid;
}

.tna-global-header__top-navigation-item {
  & + & {
    margin-left: 2rem;
  }
}

.tna-global-header__top-navigation-link {
  &,
  &:link,
  &:visited {
    color: rgba(255, 255, 255, 0.58);

    &:hover {
      color: #fff;
    }
  }
}

.tna-footer {
  .tna-logo {
    height: 96px;
  }
}

.tna-hero {
  &__image {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.tna-form__group-contents {
  flex: none;
}

.tna-chip {
  background: #fff;
}
