.tna-global-header {
  &__logo {
    position: relative;

    .tna-logo {
      position: relative;
      z-index: 3;
    }

    &::before,
    &::after {
      content: "";

      width: 49%;
      height: 32.3%;

      overflow: hidden;

      position: absolute;
      top: 1%;
      right: 1%;
      z-index: 2;
    }

    &::before {
      z-index: 1;
    }
  }

  &--logo-flag-pride &__logo::after {
    background: linear-gradient(
      red 16.66%,
      orange 0 33.33%,
      yellow 0 50%,
      green 0 66.66%,
      blue 0 83.33%,
      indigo 0
    );
  }

  &--logo-flag-progress &__logo::after {
    background: conic-gradient(
        at 14% 50%,
        #0000 221.25deg,
        white 222deg 318deg,
        #0000 318.25deg
      ),
      conic-gradient(
        at 23% 50%,
        #0000 221.25deg,
        #ffa6b9 222deg 318deg,
        #0000 318.25deg
      ),
      conic-gradient(
        at 32% 50%,
        #0000 221.25deg,
        #00d2ff 222deg 318deg,
        #0000 318.25deg
      ),
      conic-gradient(
        at 41% 50%,
        #0000 221.25deg,
        #753000 222deg 318deg,
        #0000 318.25deg
      ),
      conic-gradient(
        at 50% 50%,
        #0000 221.25deg,
        black 222deg 318deg,
        #0000 318.25deg
      ),
      linear-gradient(
        red 0 16.66%,
        orange 0 33.33%,
        yellow 0 50%,
        green 0 66.66%,
        blue 0 83.33%,
        indigo 0
      );
  }

  &--logo-flag-black-history &__logo::after {
    background: linear-gradient(#c12029 0 33.33%, #e1a223 0 66.66%, #206031 0);
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0.25% 100%,
      3.32% 90.51%,
      4.5% 85.75%,
      8.89% 84.75%,
      14.92% 87.91%,
      20% 89.38%,
      25.77% 86.57%,
      26.26% 79.28%,
      27.33% 77.2%,
      29.25% 74%,
      27.95% 71.13%,
      30.45% 67.89%,
      29.78% 66.13%,
      28% 64.25%,
      28.39% 61.03%,
      30.5% 59.75%,
      31.75% 59%,
      32.5% 55.75%,
      30.5% 52%,
      28.25% 48.25%,
      26.25% 45.5%,
      24.5% 42.25%,
      25.49% 39.19%,
      25.98% 33.18%,
      24.23% 21.78%,
      21.74% 15.39%,
      16.5% 9%,
      8.84% 3.71%
    );
  }

  &--logo-remembrance &__logo::after {
    height: 46%;

    top: -8%;

    z-index: 4;

    background-image: url("/static/images/logo-adornments/poppy.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(3px 3px 3px rgb(0 0 0 / 75%));
  }

  &--logo-comic-relief &__logo::before {
    width: calc(43% - 5px);
    height: 43%;

    top: -5%;
    right: 4%;

    z-index: 4;

    background-color: red;

    border-radius: 100%;

    box-shadow: 3px 0 3px rgb(0 0 0 / 65%);

    transform: rotate(45deg);

    border-right: rgb(0 0 0 / 25%) 5px solid;
  }

  &--logo-comic-relief &__logo::after {
    width: 19%;
    height: 9%;

    top: 1%;
    right: 25%;

    z-index: 5;

    background-color: rgb(255 255 255 / 50%);

    border-radius: 100%;

    transform: rotate(-45deg);
  }
}
