.tna-global-header {
  &__logo {
    position: relative;

    .tna-logo {
      position: relative;
      z-index: 3;
    }

    &::before,
    &::after {
      content: "";

      width: 49%;
      height: 32.3%;

      overflow: hidden;

      position: absolute;
      top: 1%;
      right: 1%;
      z-index: 2;
    }

    &::before {
      z-index: 1;
    }
  }

  &--logo-flag-pride &__logo::after {
    background: linear-gradient(
      red 16.66%,
      orange 0 33.33%,
      yellow 0 50%,
      green 0 66.66%,
      blue 0 83.33%,
      indigo 0
    );
  }

  &--logo-flag-progress &__logo::after {
    background: conic-gradient(
        at 14% 50%,
        #0000 221.25deg,
        white 222deg 318deg,
        #0000 318.25deg
      ),
      conic-gradient(
        at 23% 50%,
        #0000 221.25deg,
        #ffa6b9 222deg 318deg,
        #0000 318.25deg
      ),
      conic-gradient(
        at 32% 50%,
        #0000 221.25deg,
        #00d2ff 222deg 318deg,
        #0000 318.25deg
      ),
      conic-gradient(
        at 41% 50%,
        #0000 221.25deg,
        #753000 222deg 318deg,
        #0000 318.25deg
      ),
      conic-gradient(
        at 50% 50%,
        #0000 221.25deg,
        black 222deg 318deg,
        #0000 318.25deg
      ),
      linear-gradient(
        red 0 16.66%,
        orange 0 33.33%,
        yellow 0 50%,
        green 0 66.66%,
        blue 0 83.33%,
        indigo 0
      );
  }

  &--logo-flag-black-history &__logo::after {
    background: linear-gradient(#c12029 0 33.33%, #e1a223 0 66.66%, #206031 0);

    clip-path: polygon(
      15.68% 0%,
      23.56% 6.49%,
      27.55% 11.57%,
      29.76% 17.95%,
      30.62% 24.64%,
      30.81% 29.23%,
      31% 33.24%,
      30.43% 36.96%,
      30.43% 39.26%,
      32.51% 44.41%,
      34.4% 48.71%,
      35.16% 51.29%,
      34.78% 52.72%,
      34.03% 54.44%,
      32.33% 55.87%,
      32.51% 58.17%,
      33.84% 59.89%,
      33.84% 61.89%,
      32.89% 63.61%,
      31.95% 64.47%,
      32.7% 65.9%,
      32.89% 67.62%,
      32.51% 68.77%,
      31.95% 69.34%,
      31.19% 71.35%,
      31.19% 73.93%,
      31.38% 76.79%,
      30.95% 79.41%,
      28.47% 81.42%,
      26.02% 81.42%,
      21.93% 78.22%,
      20.23% 77.65%,
      18.15% 78.8%,
      17.58% 82.23%,
      16.82% 86.82%,
      17.58% 90.83%,
      20.23% 93.98%,
      23.06% 96.85%,
      25.78% 100%,
      100% 100%,
      100% 0%
    );
  }

  &--logo-remembrance &__logo::after {
    height: 46%;

    top: -8%;

    z-index: 4;

    background-image: url("/static/images/logo-adornments/poppy.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(3px 3px 3px rgb(0 0 0 / 75%));
  }

  &--logo-comic-relief &__logo::before {
    width: calc(43% - 5px);
    height: 43%;

    top: -5%;
    right: 4%;

    z-index: 4;

    background-color: red;

    border-radius: 100%;

    box-shadow: 3px 0 3px rgb(0 0 0 / 65%);

    transform: rotate(45deg);

    border-right: rgb(0 0 0 / 25%) 5px solid;
  }

  &--logo-comic-relief &__logo::after {
    width: 19%;
    height: 9%;

    top: 1%;
    right: 25%;

    z-index: 5;

    background-color: rgb(255 255 255 / 50%);

    border-radius: 100%;

    transform: rotate(-45deg);
  }
}
