@use "@nationalarchives/frontend/nationalarchives/variables/typography" with (
  $use-local-fonts: true,
  $heading-m-font-size-default: 36,
  $heading-m-font-size-medium: 30,
  $heading-m-font-size-small: 28,
  $heading-m-font-size-tiny: 25,
  $heading-m-line-height: 1.6
);

@use "@nationalarchives/frontend/nationalarchives/tools/grid";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

@use "@nationalarchives/frontend/nationalarchives/utilities";

.tna-template {
  &__body {
    max-width: max-content;
    margin: 0 auto;

    padding: grid.gutter-width();

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: spacing.space(2);

    box-sizing: border-box;

    @include media.on-tiny {
      padding: grid.gutter-width-tiny();
    }
  }
}

#logo {
  transition: transform 1000ms;

  &.spin {
    transform: rotate(360deg);
  }
}
