@use "sass:math";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-person-image {
  width: 20rem;

  box-sizing: border-box;

  border-radius: 100%;
  @include colour.thick-keyline-brand("", "white");

  // box-shadow:
  //   0 0.25rem 1rem -0.25rem rgb(0 0 0 / 25%),
  //   0 0.125rem 0.5rem -0.25rem rgb(0 0 0 / 75%);

  @include media.on-mobile {
    margin: 0 auto spacing.space(2);
  }

  @include media.on-small {
    width: 12rem;
  }

  @include media.on-tiny {
    width: 8rem;
  }

  &--small {
    width: 5rem;
  }
}
