@use "@nationalarchives/frontend/nationalarchives/print";

@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-\!--full-width-on-print {
  width: 100% !important;
}

a:not(
  [href^="#"],
  [href^="?"],
  [href^="/"],
  .tna-card__heading-link,
  .tna-files-list__link,
  .tna-skip-link,
  #top
) {
  &::after {
    content: " (" attr(href) ")";

    font-style: italic;
    word-break: break-all;
  }
}
