@use "@nationalarchives/frontend/nationalarchives/print";

@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.etna-\!--full-width-on-print {
  width: 100% !important;
}

.plyr {
  aspect-ratio: 16 / 9;

  position: relative;

  &__control,
  &__controls,
  &__video-wrapper {
    display: none !important;
  }

  &::after {
    content: "[VIDEO]";

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    inset: 0;
    z-index: 4;

    @include typography.font-size(48);
    @include typography.main-font-weight-bold;

    @include colour.colour-border("keyline-dark", 0.5rem, dashed);
  }
}

a:not([href^="#"], [href^="?"], [href^="/"]) {
  &::after {
    content: " (" attr(href) ")";

    font-style: italic;
    word-break: break-all;
  }
}
