@use "sass:math";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.tna-template {
  --base-background: var(--background);
  --base-font-base: var(--font-base);
}

// html.tna-template
//   .tna-template__body--search
//   .tna-header__navigation-item-link--selected {
//   &,
//   &:hover {
//     @include colour.tint;
//     @include colour.colour-font("font-base");
//   }
// }

.etna-search-tabs {
  display: flex;
  flex-wrap: nowrap;
  gap: spacing.space(1);

  list-style: none;

  &__item {
  }

  &__item-link {
    height: 100%;
    padding: spacing.space(0.5) spacing.space(1);

    display: block;
    box-sizing: border-box;

    text-align: center;

    // border-top: 0.25rem transparent solid;

    &:not(#{&}--plain) {
      // @include typography.heading-font;
      @include typography.main-font-weight-bold;
      text-decoration: none;

      &,
      &:link,
      &:visited {
        @include colour.colour-font("font-base");
      }
    }

    &:not(#{&}--plain):not(#{&}--current) {
      background-color: rgb(255 255 255 / 15%);

      // @include colour.colour-border("keyline");

      &:hover {
        @include typography.interacted-text-decoration;

        // @include colour.colour-background("background");
      }
    }

    &--current {
      // @include colour.plain;

      --font-base: var(--base-font-base);

      // @include colour.colour-background("background");
      @include colour.colour-background("base-background");

      // @include colour.colour-border("accent-background");
    }

    &--plain {
      padding-right: spacing.space(0.5);
      padding-left: spacing.space(0.5);
    }
  }

  @include media.on-mobile {
    gap: spacing.space(0.5);

    @include typography.font-size(16);

    &__item-link {
      padding: spacing.space(0.25) spacing.space(0.5);
    }
  }

  @include media.on-tiny {
    @include typography.font-size(14);

    &__item-link {
      padding-right: spacing.space(0.25);
      padding-left: spacing.space(0.25);
    }
  }
}

mark {
  // @include colour.accent-background;

  // a &,
  // a:link & {
  //   @include colour.colour-font("link");
  // }

  // a:visited & {
  //   @include colour.colour-font("link-visited");
  // }

  @include colour.accent;

  a &,
  a:link &,
  a:visited & {
    @include colour.colour-font("font-base");
  }
}

.etna-featured-search {
  height: 100%;

  box-sizing: border-box;

  @include colour.colour-border("accent-background", 0.125rem);

  &__list {
    display: flex;
    flex-direction: column;
    gap: spacing.space(1);
  }

  &__list-item {
    p {
      margin-top: 0;
    }
  }
}

.etna-search-buckets {
  margin-top: spacing.space(2);

  display: flex;
  gap: spacing.space(1);

  list-style: none;

  &__item {
    flex: 1;
  }

  &__button {
    width: 100%;
    height: 100%;
    padding: spacing.space(0.5);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;

    font-family: inherit;

    font-size: inherit;
    line-height: inherit;
    text-align: center;

    background-color: transparent;

    cursor: pointer;

    @include colour.colour-border("keyline-dark", 1px);

    @include media.on-mobile {
      @include typography.font-size(16);
    }

    &--current {
      @include colour.accent;

      @include colour.colour-background("accent-background");
    }
  }

  &__name {
    @include colour.colour-font("link");
    @include typography.main-font-weight-bold;
    line-height: 1.5;
    text-decoration: underline;
  }

  &__button:hover &__name {
    @include typography.interacted-text-decoration;
  }

  &__meta {
    display: block;

    @include colour.colour-font("base-font");
    @include typography.font-size(14);
  }

  @include media.on-mobile {
    flex-direction: column;
    gap: spacing.space(0.5);

    &__button {
      padding-top: spacing.space(0.25);
      padding-bottom: spacing.space(0.25);

      flex-direction: row;
      align-items: center;
      gap: spacing.space(2);

      text-align: left;
    }

    &__name {
      flex: 1;
    }
  }
}

.etna-search-sort-view {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;

  .tna-form__group-contents {
    flex: 1;
  }

  .tna-form__group--inline,
  .tna-button-group {
    flex-direction: row;
  }

  .tna-button-group {
    gap: spacing.space(0.25);
  }

  .tna-form__group--inline + .tna-button-group {
    margin-top: 0;
    margin-left: spacing.space(0.5);
  }
}

.etna-search-sidebar {
  &__expand-button {
    width: 100%;

    display: none;
  }

  @include media.on-mobile {
    &__expand-button {
      display: block;
    }

    &__content {
      display: none;

      &--expanded {
        display: block;
      }
    }
  }

  .tna-aside {
    margin-top: 1rem;

    @include colour.colour-border("keyline", 1px);
  }
}

.etna-search-result {
  &__description,
  .tna-card__body {
    display: -webkit-box;
    overflow: hidden;

    text-overflow: ellipsis;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.etna-ul-hierarchy {
  $hierarchy-keyline-width: 1.5px;

  list-style: none;

  ul {
    margin-left: spacing.space(0.5);

    list-style: none;

    li {
      padding-left: spacing.space(1);

      position: relative;

      &::before,
      &::after {
        content: "";

        display: block;

        position: absolute;

        @include colour.colour-background("keyline");
      }

      &::before {
        width: $hierarchy-keyline-width;

        top: 0;
        bottom: 0;
        left: 0;
      }

      &::after {
        width: 0.5rem;
        height: $hierarchy-keyline-width;

        top: 1rem;
        left: $hierarchy-keyline-width;
      }

      &:last-child {
        &::before {
          height: calc(1rem + $hierarchy-keyline-width);

          bottom: auto;
        }
      }
    }
  }
}

.tna-search-filters {
  @include spacing.space-above;

  &__title {
  }

  &__update {
    display: block;
  }

  .tna-heading-s {
    margin: 0;
    padding: 0;
  }

  &__fieldset {
    border: none;
  }

  &__legend {
    width: 100%;
  }

  &__heading-inner,
  &__item-toggle {
    padding: spacing.space(0.5) spacing.space(0.75);

    @include colour.colour-border("keyline", 1px, solid);
    border-bottom-width: 0;
  }

  &__heading-inner {
    margin-top: spacing.space(1);
    padding: spacing.space(0.5) spacing.space(0.75);
  }

  &__item-toggle {
    width: 100%;
    margin: 0;
    padding-right: spacing.space(2.5);

    display: block;

    position: relative;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;

    background: none;

    cursor: pointer;

    &::before {
      content: "";

      width: 0;
      height: 0;

      position: absolute;
      top: calc(50% - #{math.div(math.sqrt(3), 4)}rem);
      right: spacing.space(0.75);

      border-width: #{math.div(math.sqrt(3), 2)}rem 0.5rem 0 0.5rem;
      border-color: colour.colour-var("font-light") transparent transparent
        transparent;
      border-style: solid;
    }

    &:hover,
    &:active {
      @include typography.interacted-text-decoration;

      background: none;

      &::before {
        border-top-color: colour.colour-var("font-dark");
      }
    }

    &[aria-expanded="true"] {
      &::before {
        top: calc(50% - #{math.div(math.sqrt(3), 4)}rem);

        border-width: 0 0.5rem #{math.div(math.sqrt(3), 2)}rem 0.5rem;
        border-color: transparent transparent colour.colour-var("font-light")
          transparent;
      }

      &:hover {
        &::before {
          border-bottom-color: colour.colour-var("font-dark");
        }
      }
    }
  }

  &__item-toggle-label {
  }

  &__item-toggle-info {
    display: block;

    @include typography.main-font-weight;
    @include typography.font-size(14);
  }

  &__item {
    padding: spacing.space(0.75);

    @include colour.tint;

    @include colour.colour-border("keyline", 1px);
    border-width: 0 1px 1px;
  }

  &__hint {
    margin-bottom: spacing.space(0.75);

    @include typography.font-size(16);
    @include colour.colour-font("font-light");
  }

  &__inline-fields {
    display: flex;
    flex-wrap: wrap;
    gap: spacing.space(0.5) spacing.space(2);
  }

  &__label {
    display: block;
  }

  &__footer {
    padding: spacing.space(0.75);

    display: none;

    @include colour.colour-border("keyline", 1px);
  }

  &--js-enabled &__title {
    margin-bottom: spacing.space(1);
  }

  &--js-enabled &__footer {
    display: block;
  }

  &--js-enabled &__item {
    border-bottom: none;
  }

  &--js-enabled &__update-item {
    display: none;
  }

  &__fieldset[data-type="multiple"] &__item {
    max-height: 15rem;

    overflow: auto;
  }

  @include colour.on-forced-colours {
    &__item-toggle {
      &::before {
        content: "\2193";

        width: auto;
        height: auto;

        top: calc(50% - 0.5rem);

        line-height: 1rem;

        border: none;
      }

      &[aria-expanded="true"] {
        &::before {
          content: "\2191";

          border: none;
        }
      }
    }
  }
}
