{% extends 'base.html' %}

{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}

{%- set themeAccent = 'black' if global_alert.mourning_notice else 'yellow' -%}
{%- set breadcrumbs = [
  {
    'text': 'Home',
    'href': '/'
  }
] -%}
{%- set breadcrumbsStyle = 'accent' -%}

{%- set pageTitle = 'Browse' -%}

{% block content %}
<div class="tna-background-accent">
  {{ global_alert_banners(global_alert.global_alert, global_alert.mourning_notice) }}
</div>
<div class="tna-background-accent tna-!--padding-top-l tna-!--padding-bottom-xl">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">Explore 1,000 years of history</h1>
      <p class="tna-large-paragraph">We are the official archive of England and Wales.</p>
    </div>
  </div>
</div>
<ul class="tna-container tna-!--no-margin-top">
  <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <div class="tna-accent-green etna-thick-keyline-accent-top tna-!--padding-top-xs">
      <h2 class="tna-heading-m">
        <a href="#" class="tna-link--no-visited-state">Visit</a>
      </h2>
      <p>Plan your visit to The National Archives in Kew. Our building, including our reading rooms and exhibition spaces, is now open to everyone.</p>
      <ul class="tna-ul tna-accent-black">
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Planning your visit</a>
          </h3>
          <p class="etna-small-paragraph">Plan your journey here with our address in Kew, maps and information about local public transport links.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Accessibility at Kew</a>
          </h3>
          <p class="etna-small-paragraph">The National Archives is fully accessible to disabled visitors. Find out about accessible travel and our on site facilities.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Book a visit to view documents</a>
          </h3>
          <p class="etna-small-paragraph">Find out what type of research you can do with our collection and how to get started.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Food, drink and facilities</a>
          </h3>
          <p class="etna-small-paragraph">Our café is open between 09:00 and 17:00 on Tuesday and Thursday and between 09:00 and 16:00 on Wednesday, Friday and Saturday.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Group visits</a>
          </h3>
          <p class="etna-small-paragraph">We welcome group visits and coach bookings.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Family visits</a>
          </h3>
          <p class="etna-small-paragraph">We are free to visit and open to everyone, providing a warm welcome to visitors of all ages, including children and family groups.</p>
        </li>
      </ul>
    </div>
  </li>
  <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <div class="tna-accent-yellow etna-thick-keyline-accent-top tna-!--padding-top-xs">
      <h2 class="tna-heading-m">
        <a href="#" class="tna-link--no-visited-state">What’s on</a>
      </h2>
      <p>Discover our exhibitions, events and family activities programme for all – online and at Kew. You can find <a href="#" class="tna-link--no-visited-state">research and academic events</a> here.</p>
      <ul class="tna-ul tna-accent-black">
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Exhibitions and displays</a>
          </h3>
          <p class="etna-small-paragraph">Our dedicated exhibition spaces host immersive exhibitions and curated collections of records held at The National Archives.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Online events</a>
          </h3>
          <p class="etna-small-paragraph">Discover the past through our series of online talks, webinars and ‘in conversations’, brought to you by our collections experts and special guests.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Events at Kew</a>
          </h3>
          <p class="etna-small-paragraph">Delve into our exciting range of on site events, hosted at The National Archives in Kew.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Family events: Time Travel Club</a>
          </h3>
          <p class="etna-small-paragraph">Travel through time with our family activities. Our Time Travel Club family events are a great way for you and your children to learn and have fun.</p>
        </li>
      </ul>
    </div>
  </li>
  <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <div class="tna-accent-pink etna-thick-keyline-accent-top tna-!--padding-top-xs">
      <h2 class="tna-heading-m">
        <a href="#" class="tna-link--no-visited-state">Explore the collection</a>
      </h2>
      <p>What might you find in The National Archives? Browse some of our most important and unusual records right here.</p>
      <ul class="tna-ul tna-accent-black">
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Explore by topic</a>
          </h3>
          <p class="etna-small-paragraph">Our collection shines a light on many aspects of life, from the stories of states to different people's experiences. Browse these topics for just a taste.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Explore by time period</a>
          </h3>
          <p class="etna-small-paragraph">More than a thousand years of human history live on in the records we care for. Browse stories and collection highlights by the time periods they come from.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Stories from the collection</a>
          </h3>
          <p class="etna-small-paragraph">Discover the stories behind the collection. Learn about the people, places and events featured in our records.</p>
        </li>
      </ul>
    </div>
  </li>
  <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <div class="tna-accent-blue etna-thick-keyline-accent-top tna-!--padding-top-xs">
      <h2 class="tna-heading-m">
        <a href="#" class="tna-link--no-visited-state">Help using the archive</a>
      </h2>
      <p>If you are new to The National Archives and want some help getting started with your family history or any other kind of research, you’re in the right place.</p>
      <ul class="tna-ul tna-accent-black">
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">
              Get familiar with archives
            </a>
          </h3>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Search our records</a>
          </h3>
          <p class="etna-small-paragraph">Access records held by The National Archives and more than 2,500 other archives.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Help using Discovery</a>
          </h3>
          <p class="etna-small-paragraph">Use Discovery to access records relating to Britain and British history held at The National Archives, archives and institutions across the UK as well as some archives and institutions abroad.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Find a research guide</a>
          </h3>
          <p class="etna-small-paragraph">Use our curated research guides to help you find what you need.</p>
        </li>
      </ul>
    </div>
  </li>
  <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <div class="tna-accent-black etna-thick-keyline-accent-top tna-!--padding-top-xs">
      <h2 class="tna-heading-m">
        <a href="#" class="tna-link--no-visited-state">Education</a>
      </h2>
      <p>Online resources and taught sessions.</p>
      <ul class="tna-ul tna-accent-black">
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Resources and workshops for teachers</a>
          </h3>
          <p class="etna-small-paragraph">We are experts in the teaching of history through original sources.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Explore and learn as a student</a>
          </h3>
          <p class="etna-small-paragraph">This section is for anyone studying history in school.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Projects and exhibitions</a>
          </h3>
          <p class="etna-small-paragraph">The Outreach Team is a core part of the public engagement offer at The National Archives.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Events and activities for families</a>
          </h3>
          <p class="etna-small-paragraph">Travel through time with our family activities.</p>
        </li>
      </ul>
    </div>
  </li>
  <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <div class="tna-accent-orange etna-thick-keyline-accent-top tna-!--padding-top-xs">
      <h2 class="tna-heading-m">
        <a href="#" class="tna-link--no-visited-state">Professional guidance and services</a>
      </h2>
      <p>We are expert advisers in information and records management and fulfil a leadership role for the archive sector. We are also a heritage institution, with a wide variety of records, expertise and services to share.</p>
      <ul class="tna-ul tna-accent-black">
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Information management</a>
          </h3>
          <p class="etna-small-paragraph">We provide a range of guidance, tools and templates in records management and transfer.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Archives sector</a>
          </h3>
          <p class="etna-small-paragraph">We encourage an innovative archives sector through collaboration and partnerships.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Collection Care</a>
          </h3>
          <p class="etna-small-paragraph">Our Collection Care department is responsible for the long-term preservation of our collection.</p>
        </li>
        <li>
          <h3 class="tna-heading-s">
            <a href="#" class="tna-link--no-visited-state">Commercial services</a>
          </h3>
          <p class="etna-small-paragraph">Our wide range of services includes digitisation, licensing, loans and venue hire.</p>
        </li>
      </ul>
    </div>
  </li>
</ul>
<div class="tna-!--padding-bottom-l">
  <div class="tna-container">
    <div class="tna-column tna-column--width-1-2 tna-column--full-small tna-column--full-tiny">
      <div class="tna-aside tna-accent-black tna-background-tint etna-thick-keyline-accent-top tna-!--margin-top-l">
        <h2 class="tna-heading-m">
          <a href="#" class="tna-link--no-visited-state">Search</a>
        </h2>
        <p>Discovery holds more than 37 million descriptions of records held by The National Archives and more than 3,500 archives across the country. Over 9 million records are available for download.</p>
        <ul class="tna-ul">
          <li>
            <h3 class="tna-heading-s">
              <a href="#" class="tna-link--no-visited-state">Search our website</a>
            </h3>
          </li>
          <li>
            <h3 class="tna-heading-s">
              <a href="#" class="tna-link--no-visited-state">Search our records in Doscovery</a>
            </h3>
            <p class="etna-small-paragraph">Access records held by The National Archives and more than 2,500 other archives.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="tna-column tna-column--width-1-2 tna-column--full-small tna-column--full-tiny">
      <div class="tna-aside tna-accent-black tna-background-tint etna-thick-keyline-accent-top tna-!--margin-top-l">
        <h2 class="tna-heading-m">
          <a href="#" class="tna-link--no-visited-state">Shop</a>
        </h2>
        <p>Discover a range of gifts and books inspired by the treasures of The National Archives.</p>
        <ul class="tna-ul">
          <li>
            <h3 class="tna-heading-s">
              <a href="#" class="tna-link--no-visited-state">Gifts</a>
            </h3>
          </li>
          <li>
            <h3 class="tna-heading-s">
              <a href="#" class="tna-link--no-visited-state">Replicas</a>
            </h3>
          </li>
          <li>
            <h3 class="tna-heading-s">
              <a href="#" class="tna-link--no-visited-state">Custom prints</a>
            </h3>
            <p class="etna-small-paragraph">Inspiring art for your home - chosen from our collection.</p>
          </li>
          <li>
            <h3 class="tna-heading-s">
              <a href="#" class="tna-link--no-visited-state">Sale</a>
            </h3>
            <p class="etna-small-paragraph">Great savings on a selection of products.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
