{% extends 'main/general.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/radios/macro.html' import tnaRadios -%}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
{% endblock %}

{% block cookies %}
{% endblock %}

{% block content %}
<form method="post" action="{{ url_for('main.set_cookies') }}" id="cookie-settings">
  <div class="tna-aside tna-accent-green tna-background-accent" role="alert" id="cookie-settings-success"{% if request.args.saved == 'true' %} tabindex="0" autofocus{% else %} hidden{% endif %}>
    <h2 class="tna-heading-l">Success</h2>
    <p>Your cookie settings were saved.</p>
  </div>
  <h2 class="tna-heading-l">Cookie settings</h2>
  <p>This page has a brief explanation of each of the four types of cookie The National Archives uses. You can choose which cookies you’re happy for us to use.</p>
  {%- if details_page %}
  <p>For a full breakdown, see <a href="{{ details_page.url }}">our detailed cookie information</a>.</p>
  {%- endif %}
  <h3 class="tna-heading-m">Types of cookie</h3>
  <dl class="tna-dl tna-dl--stacked">
    <dt>Essential</dt>
    <dd>
      <p>These cookies are necessary for the website to function and cannot be switched off in our systems. You can set your browser to block or alert you about these cookies, but some parts of the site will not then work.</p>
      <p>These cookies do not store any personally identifiable information.</p>
    </dd>
    <dt>
      <a href="#usage">Usage</a>
    </dt>
    <dd>
      <p>These cookies allow us to count visits and traffic sources so we can measure and improve the performance of our site. They help us to know which pages are the most and least popular and see how visitors move around the site.</p>
      <p>All information these cookies collect is aggregated and therefore anonymous.</p>
      <p>These cookies collect information about:</p>
      <ul class="tna-ul tna-!--no-margin-top">
        <li>how you got to these sites</li>
        <li>the pages you visit and how long you spend on each page</li>
        <li>what you click on while you’re visiting these sites</li>
      </ul>
      <p>We do not allow Google to use or share this data for their own purposes.</p>
    </dd>
    <dt>
      <a href="#settings">Settings</a>
    </dt>
    <dd>These cookies allow the website to remember choices you make and can provide enhanced, more personal features.</dd>
    <dt>
      <a href="#marketing">Marketing</a>
    </dt>
    <dd>These cookies track your preferences for marketing purposes. They are often used by third party services such as YouTube to allow better video suggestions.</dd>
  </dl>
  <!-- <h3 class="tna-heading-m tna-!--no-padding-top">Strictly necessary cookies</h3>
  <p>These essential cookies do things like allow you to remain logged in to some of our services.</p>
  <p>They always need to be on.</p> -->
  {{ tnaRadios({
    'label': 'Do you want to accept cookies that measure website use?',
    'headingLevel': 3,
    'headingSize': 's',
    'id': 'usage',
    'name': 'usage',
    'items': [
      {
        'text': 'Yes',
        'value': 'true'
      },
      {
        'text': 'No',
        'value': 'false'
      }
    ],
    'selected': 'true' if cookie_preference('usage') else 'false',
    'classes': 'tna-form__group--full-sized-hint'
  }) }}
  {{ tnaRadios({
    'label': 'Do you want to accept cookies that remember your settings?',
    'headingLevel': 3,
    'headingSize': 's',
    'id': 'settings',
    'name': 'settings',
    'items': [
      {
        'text': 'Yes',
        'value': 'true'
      },
      {
        'text': 'No',
        'value': 'false'
      }
    ],
    'selected': 'true' if cookie_preference('settings') else 'false',
    'classes': 'tna-form__group--full-sized-hint'
  }) }}
  {{ tnaRadios({
    'label': 'Do you want to accept cookies that are used for marketing?',
    'headingLevel': 3,
    'headingSize': 's',
    'id': 'marketing',
    'name': 'marketing',
    'items': [
      {
        'text': 'Yes',
        'value': 'true'
      },
      {
        'text': 'No',
        'value': 'false'
      }
    ],
    'selected': 'true' if cookie_preference('marketing') else 'false',
    'classes': 'tna-form__group--full-sized-hint'
  }) }}
  <input type="hidden" name="referrer" value="{{ page_data.meta.html_url }}">
  <div class="tna-button-group">
    {{ tnaButton({
      'text': 'Save changes',
      'buttonElement': True,
      'buttonType': 'submit'
    }) }}
  </div>
</form>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{ url_for('static', filename='cookies.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
{% endblock %}
