{% extends "main/general.html" %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/radios/macro.html' import tnaRadios -%}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
{% endblock stylesheets %}

{% block cookies %}
{% endblock cookies %}

{% block content %}
<form method="post" action="{{ url_for('main.set_cookies') }}" id="cookie-settings">
  <div class="tna-aside tna-accent-green tna-background-accent" role="alert" id="cookie-settings-success"{% if request.args.saved == 'true' %} tabindex="0" autofocus{% else %} hidden{% endif %}>
    <h2 class="tna-heading-l">Success</h2>
    <p>Your cookie settings were saved.</p>
  </div>
  <p>This page has a brief explanation of each of the four types of cookie The National Archives uses. You can choose which cookies you’re happy for us to use.</p>
  {%- if details_page %}
  <p>For a full breakdown, see <a href="{{ details_page.url }}">our detailed cookie information</a>.</p>
  {%- endif %}
  <h2 class="tna-heading-l">Cookie preferences</h2>
  <p>We use 4 types of cookie. You can choose which cookies you’re happy for us to use.</p>

  <h2 class="tna-heading-l tna-!--margin-top-l">Cookies that measure website use</h2>
  <p>We use Google Analytics cookies to measure how you use National Archives websites.</p>
  <p class="tna-!--margin-top-xs">These cookies collect information about:</p>
  <ul class="tna-ul tna-!--margin-top-xs">
    <li>how you got to these sites</li>
    <li>the pages you visit and how long you spend on each page</li>
    <li>what you click on while you’re visiting these sites</li>
  </ul>
  <p class="tna-!--margin-top-xs">We do not allow Google to use or share this data for their own purposes.</p>
  {{ tnaRadios({
    'label': 'Do you allow cookies that measure website use?',
    'headingSize': 's',
    'id': 'usage',
    'name': 'usage',
    'items': [
      {
        'text': 'Use cookies that measure my website use',
        'value': 'true'
      },
      {
        'text': 'Do not use cookies that measure my website use',
        'value': 'false'
      }
    ],
    'selected': 'true' if cookie_preference('usage') else 'false',
    'formItemClasses': 'tna-!--margin-top-s'
  }) }}

  <h2 class="tna-heading-l tna-!--margin-top-l">Cookies that help with our communications and marketing</h2>
  <p>These cookies may be set by third party websites and do things like measure how you view YouTube videos that are on our websites.</p>
  {{ tnaRadios({
    'label': 'Do you allow cookies that help with communications and marketing?',
    'headingSize': 's',
    'id': 'marketing',
    'name': 'marketing',
    'items': [
      {
        'text': 'Use cookies that help with communications and marketing',
        'value': 'true'
      },
      {
        'text': 'Do not use cookies that help with communications and marketing',
        'value': 'false'
      }
    ],
    'selected': 'true' if cookie_preference('marketing') else 'false',
    'formItemClasses': 'tna-!--margin-top-s'
  }) }}

  <h2 class="tna-heading-l tna-!--margin-top-l">Cookies that remember your settings</h2>
  <p>These cookies do things like remember your preferences and the choices you make, to personalise your experience of using the site.</p>
  {{ tnaRadios({
    'label': 'Do you allow cookies that remember your settings?',
    'headingSize': 's',
    'id': 'settings',
    'name': 'settings',
    'items': [
      {
        'text': 'Use cookies that remember my settings on the site',
        'value': 'true'
      },
      {
        'text': 'Do not use cookies that remember my settings on the site',
        'value': 'false'
      }
    ],
    'selected': 'true' if cookie_preference('settings') else 'false',
    'formItemClasses': 'tna-!--margin-top-s'
  }) }}

  <h2 class="tna-heading-l tna-!--margin-top-l">Strictly necessary cookies</h2>
  <p>These essential cookies do things like allow you to progress through a form or to remain logged in to some of our services.</p>
  <p>They always need to be on.</p>

  <input type="hidden" name="referrer" value="{{ page_data.meta.url }}">
  <div class="tna-button-group">
    {{ tnaButton({
      'text': 'Save changes',
      'buttonElement': True,
      'buttonType': 'submit'
    }) }}
  </div>
</form>
{% endblock content %}

{% block bodyEnd %}
{{ super() }}
    <script src="{{ url_for('static', filename='cookies.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
{% endblock bodyEnd %}
