{% extends 'base.html' %}

{%- from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}

{%- set themeAccent = 'black' if global_alert.mourning_notice else 'orange' -%}
{%- set pageTitle = 'Blog feeds' -%}

{% block content %}
<div class="tna-container">
  <div class="tna-column tna-column--full">
    {{ tnaBreadcrumbs({
      'items': [
        {
          'text': 'Home',
          'href': '/'
        }
      ],
      'structuredData': True,
      'classes': 'tna-!--padding-vertical-s'
    }) }}
  </div>
</div>
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">Blog feeds</h1>
      <dl class="tna-dl">
        <dt>All blog posts</dt>
        <dd>
          <a href="{{ url_for('main.blog_all_feed') }}" aria-label="Atom feed for all blogs" title="Atom feed for all blogs">{{ url_for('main.blog_all_feed', _external=True) }}</a>
        </dd>
        {%- for blog in blogs %}
        <dt>{{ blog.title }}</dt>
        <dd>
          <a href="{{ url_for('main.blog_feed', blog_id=blog.id) }}" aria-label="Atom feed for {{ blog.title }}" title="Atom feed for {{ blog.title }}">{{ url_for('main.blog_feed', blog_id=blog.id, _external=True) }}</a>
        </dd>
        {%- endfor %}
      </dl>
    </div>
  </div>
</div>
{% endblock %}
