{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'components/sidebar/macro.html' import tnaSidebar -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'macros/meta.html' import meta -%}
{%- from 'macros/wagtail_block.html' import wagtail_block -%}

{%- set themeAccent = 'black' if page_data.mourning_notice else 'blue' -%}
{%- set pageTitle = page_data.title -%}
{%- set showSidebar = page_data.page_sidebar and ((page_data.page_sidebar == 'pages' and (page_siblings | length > 1)) or page_data.page_sidebar != 'pages') -%}
{%- set sidebarPositionRight = page_data.page_sidebar == 'pages' -%}

{%- set bodyContainsMedia = page_data.body | wagtail_streamfield_contains_media -%}

{% block head %}
{{ super() }}
{{ meta(page_data) }}
{% endblock %}

{% block skipLink %}
<a id="top"></a>
{{ super() }}
{% endblock %}

{% block stylesheets %}
{{ super() }}
    {% if bodyContainsMedia %}
    <link rel="stylesheet" href="{{ url_for('static', filename='video.css') }}">
    {% endif %}
{% endblock %}

{% set page_sections = [] %}
{% for section in page_data.body %}
  {% if section.type == 'content_section' %}
    {% set page_sections_ns = namespace(section_children=[], section_grandchildren=[]) %}
    {% for block in section.value.content | reverse %}
      {% if block.type == 'sub_heading' %}
        {% set page_sections_ns.section_children = page_sections_ns.section_children + [{
          'text': block.value.heading,
          'href': '#' + (block.value.heading | slugify) + '-' + block.id,
          'children': page_sections_ns.section_grandchildren | reverse if page_sections_ns.section_grandchildren else None
        }] %}
        {% set page_sections_ns.section_grandchildren = [] %}
      {% elif block.type == 'sub_sub_heading' %}
        {% set page_sections_ns.section_grandchildren = page_sections_ns.section_grandchildren + [{
          'text': block.value.heading,
          'href': '#' + (block.value.heading | slugify) + '-' + block.id
        }] %}
      {% endif %}
    {% endfor %}
    {% set page_sections = page_sections.append({
      'text': section.value.heading,
      'href': '#' + (section.value.heading | slugify) + '-' + section.id,
      'children': page_sections_ns.section_children | reverse if page_sections_ns.section_children else None
    }) %}
  {% endif %}
{% endfor %}

{% block main %}
  {% if breadcrumbs and breadcrumbs | length > 0 %}
    {% if not page_data.hero_image %}
    <div class="tna-background-accent">
    {% endif %}
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        {{ tnaBreadcrumbs({
          'items': breadcrumbs,
          'structuredData': True
        }) }}
      </div>
    </div>
    {% if not page_data.hero_image %}
    </div>
    {% endif %}
  {% endif %}
  <main class="tna-main {{ mainClasses }}" id="main-content">
  {% if page_data.hero_image %}
    {{ global_alert_banners(page_data.global_alert, page_data.mourning_notice, None, 'm') }}
    {% set hero_image_caption = page_data.hero_image_caption or '' %}
    {% if page_data.hero_image.copyright %}
      {% set hero_image_caption = hero_image_caption + '<p>&copy; ' + page_data.hero_image.copyright + '</p>' %}
    {% endif %}
    {{ tnaHero({
      'title': page_data.title,
      'body': (('<div class="tna-large-paragraph tna-!--margin-top-s">' + page_data.intro + '</div>') | tna_html | safe) if page_data.intro else '',
      'imageSrc': page_data.hero_image.jpeg.full_url,
      'imageAlt': '',
      'imageWidth': page_data.hero_image.jpeg.width,
      'imageHeight': page_data.hero_image.jpeg.height,
      'imageCaption': hero_image_caption,
      'imageSources': [
        {
          'src': page_data.hero_image_small.webp.full_url,
          'width': page_data.hero_image_small.webp.width,
          'height': page_data.hero_image_small.webp.height,
          'type': 'image/webp',
          'media': '(max-width: 48em)'
        },
        {
          'src': page_data.hero_image_small.jpeg.full_url,
          'width': page_data.hero_image_small.jpeg.width,
          'height': page_data.hero_image_small.jpeg.height,
          'type': 'image/jpeg',
          'media': '(max-width: 48em)'
        },
        {
          'src': page_data.hero_image.webp.full_url,
          'width': page_data.hero_image.webp.width,
          'height': page_data.hero_image.webp.height,
          'type': 'image/webp'
        }
      ],
      'narrow': True,
      'style': 'accent',
      'layout': 'shift'
    }) }}
  {% else %}
    {% if page_data.global_alert or page_data.mourning_notice %}
    <div class="tna-background-accent">
      {{ global_alert_banners(page_data.global_alert, page_data.mourning_notice) }}
    </div>
    {% endif %}
    <div class="tna-background-accent tna-!--padding-top-l tna-!--padding-bottom-xl">
      <div class="tna-container">
        <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
          <h1 class="tna-heading-xl">{{ page_data.title }}</h1>
          {% if page_data.intro %}
          <div class="tna-large-paragraph tna-!--margin-top-s">
            {{ page_data.intro | tna_html | safe }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  {% if not showSidebar and page_data.body | length > 1 %}
  <div class="tna-section tna-!--no-padding-bottom tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-hide-on-print">
      <h2 class="tna-heading-m">Contents</h2>
      <ul class="tna-ul tna-ul--dashed">
      {% for section in page_sections %}
        <li>
          <a href="{{ section.href }}">{{ section.text }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% else %}
  <div class="tna-!--padding-top-m"><!-- TODO: BETTER SPACER --> </div>
  {% endif %}
  <div class="tna-!--padding-top-s">
    <div class="tna-container">
      {% if showSidebar and not sidebarPositionRight %}
      <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--hide-on-print tna-!--margin-bottom-l">
        {{ tnaSidebar({
          'title': 'Contents' if page_data.page_sidebar == 'contents' else 'On this page' if page_data.page_sidebar == 'sections' else 'Index',
          'headingLevel': 2,
          'items': page_sections,
          'type': page_data.page_sidebar,
          'sticky': True,
          'classes': 'tna-!--padding-top-s',
          'attributes': {
            'id': 'page-sidebar'
          }
        }) }}
      </div>
      {% endif %}
      <div id="page-body" class="tna-column tna-column--width-2-3{% if not showSidebar %} tna-column--width-5-6-medium{% endif %} tna-column--full-small tna-column--full-tiny etna-!--full-width-on-print">
      {%- set ns = namespace(next_heading_level=2) %}
      {% for body_item in page_data.body %}
        {% if body_item.type == 'content_section' %}
          {% set ns.next_heading_level = 3 %}
          <h2 class="tna-heading-l tna-!--padding-top-s" id="{{ body_item.value.heading | slugify }}">{{ body_item.value.heading }}</h2>
          {% for block in body_item.value.content %}
            {% if block.type == 'sub_heading' %}
              {% set ns.next_heading_level = 4 %}
            {% elif block.type == 'sub_sub_heading' %}
              {% set ns.next_heading_level = 5 %}
            {% endif %}
            {{ wagtail_block(block, ns.next_heading_level, True) }}
          {% endfor %}
        {% else %}
          {% if body_item.type == 'sub_heading' %}
            {% set ns.next_heading_level = 3 %}
          {% elif body_item.type == 'sub_sub_heading' %}
            {% set ns.next_heading_level = 4 %}
          {% endif %}
          {{ wagtail_block(body_item, ns.next_heading_level, True) }}
        {% endif %}
      {% endfor %}
      </div>
      {% if showSidebar and sidebarPositionRight %}
      <div class="tna-column tna-column--width-1-4 tna-column--margin-left-1-12 tna-column--width-1-3-medium tna-column--no-margin-left-medium tna-column--full-small tna-column--no-margin-left-small tna-column--full-tiny tna-column--no-margin-left-tiny tna-!--padding-top-m tna-!--hide-on-print">
        {% set sidebarItems = [] %}
        {% for sibling in page_siblings %}
          {% set sidebarItem = {
            'text': sibling.title,
            'href': sibling.url
          } %}
          {% if sibling.url == page_data.meta.url %}
            {% set sidebarItem = dict(sidebarItem, **{
              'current': True,
              'children': page_sections
            }) %}
          {% endif %}
          {% set sidebarItems = sidebarItems.append(sidebarItem) %}
        {% endfor %}
        {{ tnaSidebar({
          'title': page_data.meta.parent.title,
          'headingLevel': 2,
          'items': sidebarItems,
          'type': 'pages'
        }) }}
      </div>
      {% endif %}
      <div class="tna-column tna-column--full tna-hide-on-print">
        <hr class="tna-!--margin-top-xl">
        <div class="tna-button-group tna-!--margin-top-s">
          {{ tnaButton({
            'text': 'Back to top',
            'href': '#top',
            'icon': 'arrow-up',
            'small': True,
            'plain': True
          }) }}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
    {% if bodyContainsMedia %}
    <script src="{{ url_for('static', filename='video.min.js') }}" defer></script>
    {% endif %}
    {% if page_data.page_sidebar == 'sections' %}
    <script src="{{ url_for('static', filename='sidebar.min.js') }}" defer></script>
    {% endif %}
{% endblock %}
