{% extends "base.html" %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'components/pagination/macro.html' import tnaPagination -%}
{%- from 'components/sidebar/macro.html' import tnaSidebar -%}
{%- from 'macros/back_to_top.html' import back_to_top -%}
{%- from 'macros/feedback.html' import feedback -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'macros/meta.html' import meta -%}
{%- from 'macros/wagtail_streamfield.html' import wagtail_streamfield -%}

{%- set themeAccent = 'black' if page_data.mourning_notice else (themeAccent or 'blue') -%}
{%- set pageTitle = page_data.short_title or page_data.title -%}
{%- set breadcrumbsStyle = '' if page_data.hero_image else 'accent-light' -%}
{%- set showSidebar = page_data.page_sidebar == 'contents' or page_data.page_sidebar == 'sections' or (page_data.page_sidebar == 'pages' and page_siblings | length > 1) -%}
{%- set sidebarPositionRight = page_data.page_sidebar == 'pages' -%}
{%- set bodyContainsMedia = page_data.body | wagtail_streamfield_contains_media -%}
{%- set alert_banner_top_margin = None if breadcrumbs or (page_data and page_data.meta and page_data.meta.breadcrumbs) else 'm' %}

{% block head %}
{{ super() }}
{{- meta(page_data) }}
    <link rel="canonical" href="{{ page_data.meta.html_url }}">
{% endblock head %}

{% block stylesheets %}
{{ super() }}
    {%- if bodyContainsMedia %}
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
    {%- endif %}
    {%- if page_data.page_sidebar == 'section_tabs' or page_data.page_sidebar == 'pages_tabs' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='secondary-navigation.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
    {%- endif %}
{% endblock stylesheets %}

{% set sidebar_items = {'body': page_data.body, 'footnotes': page_data.footnotes} | sidebar_items_from_wagtail_streamfield %}

{% block main %}
  {% block beforeContent %}
    {{ super() }}
  {% endblock beforeContent %}
  <main class="tna-main {{ mainClasses }}" id="main-content">
  {% block hero %}
  {%- if page_data.hero_image %}
    {{ global_alert_banners(page_data.global_alert, page_data.mourning_notice, alert_banner_top_margin, 'm') }}
    {%- set hero_image_caption %}
      {{- page_data.hero_image_caption | safe -}}
      {%- if page_data.hero_image.copyright -%}
        <div class="tna-hero__copyright" itemprop="copyrightNotice">{{ page_data.hero_image.copyright | tna_html | safe }}</div>
      {%- endif -%}
    {%- endset %}
    {{ tnaHero({
      'title': page_data.title,
      'body': (('<div class="tna-large-paragraph tna-!--margin-top-s">' ~ page_data.intro ~ '</div>') | tna_html | safe) if page_data.intro else '',
      'imageSrc': page_data.hero_image.jpeg.full_url,
      'imageAlt': page_data.hero_image.description,
      'imageWidth': page_data.hero_image.jpeg.width,
      'imageHeight': page_data.hero_image.jpeg.height,
      'imageCaption': hero_image_caption,
      'imageSources': [
        {
          'src': page_data.hero_image_small.webp.full_url,
          'width': page_data.hero_image_small.webp.width,
          'height': page_data.hero_image_small.webp.height,
          'type': 'image/webp',
          'media': '(max-width: 48em)'
        },
        {
          'src': page_data.hero_image_small.jpeg.full_url,
          'width': page_data.hero_image_small.jpeg.width,
          'height': page_data.hero_image_small.jpeg.height,
          'type': 'image/jpeg',
          'media': '(max-width: 48em)'
        },
        {
          'src': page_data.hero_image.webp.full_url,
          'width': page_data.hero_image.webp.width,
          'height': page_data.hero_image.webp.height,
          'type': 'image/webp'
        }
      ],
      'narrow': True,
      'style': 'accent',
      'layout': 'shift'
    }, page_data.hero_image.uuid, page_data.hero_image.title) }}
    {%- if page_data.page_sidebar == 'section_tabs' and (sidebar_items | length) %}
    <nav id="secondary-navigation" class="etna-secondary-navigation tna-!--padding-top-m" aria-label="Page sections" hidden>
      <div class="tna-container">
        <h2 class="tna-column tna-column--full-medium tna-column--full-small tna-column--full-tiny tna-heading-s etna-secondary-navigation__heading">
          On this page
        </h2>
        <div class="tna-column tna-column--flex-1">
          <div class="etna-secondary-navigation__items" role="tablist">
          {% for section in sidebar_items %}
            <button id="tab-{{ section.href.replace('#', '') }}" class="etna-secondary-navigation__link" aria-controls="section-{{ section.href.replace('#', '') }}" role="tab" type="button">{{ section.text }}</button>
          {% endfor %}
          </div>
        </div>
      </div>
    </nav>
    {%- elif page_data.page_sidebar == 'pages_tabs' %}
    <nav id="secondary-navigation" class="etna-secondary-navigation tna-!--margin-top-m" aria-label="Sibling pages">
      <div class="tna-container">
        <h2 class="tna-column tna-column--full-medium tna-column--full-small tna-column--full-tiny tna-heading-s etna-secondary-navigation__heading">
          {{ page_data.meta.parent.title }}
        </h2>
        <div class="tna-column tna-column--flex-1">
          <ul class="etna-secondary-navigation__items">
          {% for sibling in page_siblings %}
            <li class="etna-secondary-navigation__item{%- if sibling.url == request.path %} etna-secondary-navigation__item--current{%- endif %}">
              <a href="{{ sibling.url }}" class="etna-secondary-navigation__link">{{ sibling.title }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    {%- endif %}
  {%- else %}
    {%- if page_data.global_alert or page_data.mourning_notice %}
    <div class="tna-background-accent-light">
      {{ global_alert_banners(page_data.global_alert, page_data.mourning_notice, alert_banner_top_margin) }}
    </div>
    {%- endif %}
    <div class="tna-background-accent-light tna-!--padding-top-m tna-!--padding-bottom-l">
      <div class="tna-container">
        <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
          <h1 class="tna-heading-xl">{{ page_data.title }}</h1>
          {%- if page_data.intro %}
          <div class="tna-large-paragraph tna-!--margin-top-s">
            {{ page_data.intro | tna_html | safe }}
          </div>
          {%- endif %}
        </div>
      </div>
    </div>
    {%- if page_data.page_sidebar == 'section_tabs' and (sidebar_items | length) %}
    <div class="tna-background-accent-light">
      <nav id="secondary-navigation" class="etna-secondary-navigation" aria-label="Page sections" hidden>
        <div class="tna-container">
          <h2 class="tna-column tna-column--full-medium tna-column--full-small tna-column--full-tiny tna-heading-s etna-secondary-navigation__heading">
            On this page
          </h2>
          <div class="tna-column tna-column--flex-1">
            <div class="etna-secondary-navigation__items" role="tablist">
            {% for section in sidebar_items %}
              <button id="tab-{{ section.href.replace('#', '') }}" class="etna-secondary-navigation__link" aria-controls="section-{{ section.href.replace('#', '') }}" role="tab" type="button">{{ section.text }}</button>
            {% endfor %}
            </div>
          </div>
        </div>
      </nav>
    </div>
    {%- elif page_data.page_sidebar == 'pages_tabs' %}
    <div class="tna-background-accent-light">
      <nav id="secondary-navigation" class="etna-secondary-navigation" aria-label="Sibling pages">
        <div class="tna-container">
          <h2 class="tna-column tna-column--full-medium tna-column--full-small tna-column--full-tiny tna-heading-s etna-secondary-navigation__heading">
            {{ page_data.meta.parent.title }}
          </h2>
          <div class="tna-column tna-column--flex-1">
            <ul class="etna-secondary-navigation__items">
            {% for sibling in page_siblings %}
              <li class="etna-secondary-navigation__item{%- if sibling.url == request.path %} etna-secondary-navigation__item--current{%- endif %}">
                <a href="{{ sibling.url }}" class="etna-secondary-navigation__link">{{ sibling.title }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    {%- endif %}
  {%- endif %}
  {% endblock hero %}
  {%- if (not showSidebar and page_data.body | length > 1) and page_data.page_sidebar != 'pages_tabs' and (sidebar_items | length) %}
  <div id="page-contents-list" class="tna-!--padding-top-l tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--hide-on-print">
      <h2 class="tna-heading-m">Contents</h2>
      <ul class="tna-ul tna-ul--dashed">
      {% for section in sidebar_items %}
        <li>
          <a href="{{ section.href }}">{{ section.text }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {%- endif %}
  <div class="tna-container">
    {%- if showSidebar and not sidebarPositionRight and (sidebar_items | length) %}
    <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--hide-on-print tna-!--margin-bottom-l tna-!--no-margin-bottom-large tna-!--no-margin-bottom-medium">
      {{ tnaSidebar({
        'title': 'Contents' if page_data.page_sidebar == 'contents' else 'On this page' if page_data.page_sidebar == 'sections' else 'Index',
        'headingLevel': 2,
        'items': sidebar_items,
        'type': page_data.page_sidebar,
        'sticky': True,
        'classes': 'tna-sidebar--static-on-mobile tna-!--padding-top-s tna-!--margin-top-m',
        'attributes': {
          'id': 'page-sidebar'
        }
      }) }}
    </div>
    {%- endif %}
    <div id="page-body" class="tna-column tna-column--width-2-3{%- if not showSidebar %} tna-column--width-5-6-medium{%- endif %} tna-column--full-small tna-column--full-tiny etna-!--full-width-on-print">
    {% block content %}
      {{ wagtail_streamfield(page_data.body, 2, page_data.footnotes) }}
      {%- if page_data.page_sidebar == 'section_tabs' %}
      <div id="page-section-navigation" class="tna-pagination tna-pagination--spaced tna-!--margin-top-l" hidden>
        <div class="tna-pagination__prev">
          <button id="page-section-navigation__previous" class="tna-button tna-button--plain" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"></path></svg>
            <span id="page-section-navigation__previous-text"></span>
          </button>
        </div>
        <!-- <p id="page-section-navigation__current-item-text" class="tna-pagination__current-item-text"></p> -->
        <div class="tna-pagination__next">
          <button id="page-section-navigation__next" class="tna-button tna-button--icon-right tna-button--plain" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg>
            <span id="page-section-navigation__next-text"></span>
          </button>
        </div>
      </div>
      {%- endif %}
    {% endblock content %}
    </div>
    {%- if showSidebar and sidebarPositionRight and (sidebar_items | length) %}
    <div class="tna-column tna-column--width-1-4 tna-column--margin-left-1-12 tna-column--width-1-3-medium tna-column--no-margin-left-medium tna-column--full-small tna-column--no-margin-left-small tna-column--full-tiny tna-column--no-margin-left-tiny tna-!--margin-bottom-l tna-!--hide-on-print">
      {% set sidebarItems = [] %}
      {% for sibling in page_siblings %}
        {% set sidebarItem = {
          'text': sibling.title,
          'href': sibling.url
        } %}
        {%- if sibling.url == page_data.meta.url %}
          {% set sidebarItem = dict(sidebarItem, **{
            'current': True,
            'children': sidebar_items
          }) %}
        {%- endif %}
        {% set sidebarItems = sidebarItems.append(sidebarItem) %}
      {% endfor %}
      {{ tnaSidebar({
        'title': page_data.meta.parent.title,
        'headingLevel': 2,
        'items': sidebarItems,
        'type': 'pages',
        'classes': 'tna-!--padding-top-s tna-!--margin-top-m'
      }) }}
    </div>
    {%- endif %}
  </div>
  {{ feedback('xl') }}
  {{ back_to_top('l') }}
</main>
{% endblock main %}

{% block bodyEnd %}
{{ super() }}
    {%- if bodyContainsMedia %}
    <script src="{{ url_for('static', filename='media.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
    {%- endif %}
    {%- if page_data.footnotes %}
    <script src="{{ url_for('static', filename='footnotes.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
    {%- endif %}
    {%- if page_data.page_sidebar == 'sections' %}
    <script src="{{ url_for('static', filename='sidebar.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
    {%- endif %}
    {%- if page_data.page_sidebar == 'section_tabs' or page_data.page_sidebar == 'pages_tabs' %}
    <script src="{{ url_for('static', filename='secondary-navigation.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
    {%- endif %}
{% endblock bodyEnd %}
