{% extends 'base.html' %}

{%- from 'macros/meta.html' import meta -%}
{%- from 'blocks/wagtail_block.html' import wagtail_block -%}

{%- set themeAccent = 'blue' -%}
{%- set pageTitle = page_data.title -%}

{% block head %}
{{ super() }}
{{ meta(page_data) }}
{% endblock %}

{% block beforeContent %}
{% if breadcrumbs and breadcrumbs | length > 0 %}
<div class="tna-background-accent">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {{ tnaBreadcrumbs({
        'items': breadcrumbs,
        'structuredData': True
      }) }}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="tna-background-accent tna-!--padding-top-l tna-!--padding-bottom-xl">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">{{ page_data.title }}</h1>
      <p class="tna-large-paragraph">{{ page_data.teaser_text }}</p>
    </div>
  </div>
</div>
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      {% for section in page_data.body %}
      <h2 class="tna-heading-l">{{ section.value.heading }}</h2>
      {% for block in section.value.content %}
      {{ wagtail_block(block, merge_dict_if) }}
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
