{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'macros/meta.html' import meta -%}

{%- set themeAccent = 'black' if page_data.mourning_notice else 'green' -%}

{% block head %}
{{ super() }}
{{- meta(page_data) }}
    <link rel="canonical" href="{{ page_data.meta.html_url }}">
{% endblock %}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
{% endblock %}

{% block content %}
{{ global_alert_banners(page_data.global_alert, page_data.mourning_notice, 'm') }}
{%- if page_data.hero_image %}
<div class="tna-container tna-section">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
    <h1 class="tna-heading-xl">{{ page_data.title }}</h1>
    <div class="tna-large-paragraph tna-large-paragraph--bold">{{ page_data.intro | tna_html | safe }}</div>
  </div>
  <div class="tna-column tna-column--full tna-!--margin-top-m">
    <div class="tna-button-group">
      {{ tnaButton({
        'text': 'Help with your research',
        'href': '/help-with-your-research/',
        'icon': 'chevron-right',
        'rightAlignIcon': True,
        'classes': 'tna-button--solid-hover'
      }) }}
      {{ tnaButton({
        'text': 'Search the catalogue',
        'href': 'https://discovery.nationalarchives.gov.uk/',
        'icon': 'chevron-right',
        'rightAlignIcon': True,
        'classes': 'tna-button--solid-hover'
      }) }}
      {{ tnaButton({
        'text': 'Plan your visit',
        'href': '/about/visit-us/',
        'icon': 'chevron-right',
        'rightAlignIcon': True,
        'classes': 'tna-button--solid-hover'
      }) }}
    </div>
  </div>
</div>
{% set hero_image_caption = page_data.hero_image_caption or '' %}
{%- if page_data.hero_image.copyright %}
  {% set hero_image_caption = hero_image_caption ~ '<div class="tna-hero__copyright" itemprop="copyrightNotice">' ~ (page_data.hero_image.copyright | tna_html) ~ '</div>' %}
{%- endif %}
{{ tnaHero({
  'imageSrc': page_data.hero_image.jpeg.full_url,
  'imageAlt': page_data.hero_image.description,
  'imageWidth': page_data.hero_image.jpeg.width,
  'imageHeight': page_data.hero_image.jpeg.height,
  'imageCaption': hero_image_caption | safe,
  'imageSources': [
    {
      'src': page_data.hero_image_small.webp.full_url,
      'width': page_data.hero_image_small.webp.width,
      'height': page_data.hero_image_small.webp.height,
      'type': 'image/webp',
      'media': '(max-width: 48em)'
    },
    {
      'src': page_data.hero_image_small.jpeg.full_url,
      'width': page_data.hero_image_small.jpeg.width,
      'height': page_data.hero_image_small.jpeg.height,
      'type': 'image/jpeg',
      'media': '(max-width: 48em)'
    },
    {
      'src': page_data.hero_image.webp.full_url,
      'width': page_data.hero_image.webp.width,
      'height': page_data.hero_image.webp.height,
      'type': 'image/webp'
    }
  ],
  'narrow': True
}, page_data.hero_image.uuid, page_data.hero_image.title) }}
{%- endif %}

<section class="tna-section tna-container">
  {%- for page in page_data.primary_promo %}
  <div class="tna-column tna-column--full">
    {%- if page.type == 'featured_page' %}
      {% set card_content = {
        'supertitle': page.value.page.type_label,
        'title': page.value.page.title,
        'headingLevel': 2,
        'headingSize': 'l',
        'href': page.value.page.url,
        'text': page.value.page.teaser_text,
        'style': 'accent',
        'fullAreaClick': True,
        'horizontal': True,
        'horizontalSmallImage': True,
        'classes': 'tna-card--wider-horizontal-image'
      } %}
      {%- if page.value.page.teaser_image %}
        {% set card_content = dict(card_content, **{
          'imageSrc': page.value.page.teaser_image.jpeg.url,
          'imageAlt': page.value.page.teaser_image.description,
          'imageWidth': page.value.page.teaser_image.jpeg.width,
          'imageHeight': page.value.page.teaser_image.jpeg.height,
          'imageSources': [
            {
              'src': page.value.page.teaser_image.webp.url,
              'width': page.value.page.teaser_image.webp.width,
              'height': page.value.page.teaser_image.webp.height,
              'type': 'image/webp'
            }
          ]
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
    {%- elif page.type == 'featured_external_link' %}
      {% set card_content = {
        'supertitle': page.value.supertitle,
        'title': page.value.title,
        'headingLevel': 2,
        'headingSize': 's',
        'href': page.value.url,
        'text': page.value.description,
        'style': 'contrast',
        'fullAreaClick': True,
        'horizontal': True,
        'horizontalSmallImage': True,
        'classes': 'tna-card--wider-horizontal-image'
      } %}
      {%- if page.value.image %}
        {% set card_content = dict(card_content, **{
          'imageSrc': page.value.image.jpeg.full_url,
          'imageAlt': page.value.image.description,
          'imageWidth': page.value.image.jpeg.width,
          'imageHeight': page.value.image.jpeg.height,
          'imageSources': [
            {
              'src': page.value.image.webp.full_url,
              'type': 'image/webp',
              'width': page.value.image.webp.width,
              'height': page.value.image.webp.height
            }
          ]
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
    {%- endif %}
  </div>
  {%- endfor %}
  {%- for page in page_data.secondary_promos %}
    <div class="tna-column tna-column--width-1-3 tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-m">
      {%- if page.type == 'featured_page' %}
        {% set card_content = {
          'supertitle': page.value.page.type_label,
          'title': page.value.page.title,
          'headingLevel': 2,
          'headingSize': 's',
          'href': page.value.page.url,
          'text': page.value.page.teaser_text,
          'style': 'plain',
          'fullAreaClick': True,
          'classes': 'tna-card--full-height'
        } %}
        {%- if page.value.page.teaser_image %}
          {% set card_content = dict(card_content, **{
            'imageSrc': page.value.page.teaser_image.jpeg.full_url,
            'imageAlt': page.value.page.teaser_image.description,
            'imageWidth': page.value.page.teaser_image.jpeg.width,
            'imageHeight': page.value.page.teaser_image.jpeg.height,
            'imageSources': [
              {
                'src': page.value.page.teaser_image.webp.full_url,
                'type': 'image/webp',
                'width': page.value.page.teaser_image.webp.width,
                'height': page.value.page.teaser_image.webp.height
              }
            ]
          }) %}
        {%- endif %}
        {{ tnaCard(card_content) }}
      {%- elif page.type == 'featured_external_link' %}
        {% set card_content = {
          'supertitle': page.value.supertitle,
          'title': page.value.title,
          'headingLevel': 2,
          'headingSize': 's',
          'href': page.value.url,
          'text': page.value.description,
          'style': 'plain',
          'fullAreaClick': True,
          'classes': 'tna-card--full-height'
        } %}
        {%- if page.value.image %}
          {% set card_content = dict(card_content, **{
            'imageSrc': page.value.image.jpeg.full_url,
            'imageAlt': page.value.image.description,
            'imageWidth': page.value.image.jpeg.width,
            'imageHeight': page.value.image.jpeg.height,
            'imageSources': [
              {
                'src': page.value.image.webp.full_url,
                'type': 'image/webp',
                'width': page.value.image.webp.width,
                'height': page.value.image.webp.height
              }
            ]
          }) %}
        {%- endif %}
        {{ tnaCard(card_content) }}
      {%- endif %}
    </div>
  {%- endfor %}
</section>

<section class="tna-section tna-background-accent-light tna-!--padding-top-s">
  <div class="tna-container">
    <div class="tna-column tna-column--width-1-4 tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-m">
      {{ tnaCard({
        'title': 'Our research & academic collaboration',
        'headingLevel': 2,
        'headingSize': 's',
        'href': '#',
        'text': 'Learn about our work as an Independent Research Organisation.'
      }) }}
    </div>
    <div class="tna-column tna-column--width-1-4 tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-m">
      {{ tnaCard({
        'title': 'Archives sector',
        'headingLevel': 2,
        'headingSize': 's',
        'href': '#',
        'text': 'Get help to develop your collections and archives services.'
      }) }}
    </div>
    <div class="tna-column tna-column--width-1-4 tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-m">
      {{ tnaCard({
        'title': 'Education',
        'headingLevel': 2,
        'headingSize': 's',
        'href': '#',
        'text': 'View award-winning resources for students and teachers.'
      }) }}
    </div>
    <div class="tna-column tna-column--width-1-4 tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-m">
      {{ tnaCard({
        'title': 'Information management',
        'headingLevel': 2,
        'headingSize': 's',
        'href': '#',
        'text': 'Access best practice in records management and transfer, and information re-use.'
      }) }}
    </div>
  </div>
</section>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "GovernmentOrganization",
        "name": "The National Archives",
        "url": "https://www.nationalarchives.gov.uk/",
        "areaServed": {
          "@type": "AdministrativeArea",
          "name": "England and Wales"
        },
        "foundingDate": "2003-04",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Kew",
          "addressRegion": "Richmond, London",
          "addressCountry": "UK",
          "postalCode": "TW9 4DU",
          "streetAddress": "Bessant Drive"
        },
        "parentOrganization": {
          "@type": "Organization",
          "name": "Department for Culture, Media and Sport",
          "url": "https://www.gov.uk/government/organisations/department-for-culture-media-and-sport"
        },
        "logo": "{{ url_for('static', filename='assets/images/icon-1024x1024.png') }}",
        "sameAs": [
            "https://twitter.com/UKNatArchives",
            "https://www.youtube.com/c/TheNationalArchivesUK",
            "https://www.facebook.com/TheNationalArchives",
            "https://www.flickr.com/photos/nationalarchives",
            "https://www.instagram.com/nationalarchivesuk/",
            "https://www.tiktok.com/@uknatarchives",
            "https://en.wikipedia.org/wiki/The_National_Archives_(United_Kingdom)",
            "https://www.gov.uk/government/organisations/the-national-archives"
        ]
      }
    </script>
{% endblock %}
