{% extends 'base.html' %}

{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'macros/meta.html' import meta -%}

{%- set themeAccent = 'black' if page_data.mourning_notice else 'yellow' -%}

{% block head %}
{{ super() }}
{{ meta(page_data) }}
{% endblock %}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='dev.css') }}">
{% endblock %}

{% block content %}
{{ global_alert_banners(page_data.global_alert, page_data.mourning_notice, 'l') }}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">{{ page_data.title }}</h1>
      {{ page_data.intro | tna_html | safe }}
      {%- for content_item in page_data.body %}
      {%- if content_item.type == 'paragraph_with_heading' %}
      <h2 class="tna-heading-l">{{ content_item.value.heading }}</h2>
      {{ content_item.value.paragraph | tna_html | safe }}
      {%- endif %}
      {%- endfor %}

      <h2 class="tna-heading-l">Compound image examples</h2>
      <h3 class="tna-heading-m">Layout 1</h3>
      <div class="etna-pictures etna-pictures--layout-1">
        <img src="https://picsum.photos/600/400?1">
        <img src="https://picsum.photos/600/400?2">
        <img src="https://picsum.photos/600/400?3">
        <img src="https://picsum.photos/600/600?4">
      </div>
      <h3 class="tna-heading-m">Layout 2</h3>
      <div class="etna-pictures etna-pictures--layout-2">
        <img src="https://picsum.photos/600/600?5">
        <img src="https://picsum.photos/600/400?6">
        <img src="https://picsum.photos/400/400?7">
        <img src="https://picsum.photos/600/400?8">
      </div>
      <h3 class="tna-heading-m">Layout 3</h3>
      <div class="etna-pictures etna-pictures--layout-3">
        <img src="https://picsum.photos/600/400?9">
        <img src="https://picsum.photos/600/400?10">
        <img src="https://picsum.photos/600/400?11">
      </div>
    </div>
  </div>
</div>
{% endblock %}