{% extends 'base.html' %}

{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'macros/global_alert_banner.html' import global_alert_banner -%}
{%- from 'macros/meta.html' import meta -%}

{%- set themeAccent = 'green' -%}
{%- set pageTitle = page_data.title -%}

{% block head %}
{{ super() }}
{{ meta(page_data) }}
{% endblock %}

{% block main %}
  {% if breadcrumbs and breadcrumbs | length > 0 %}
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {{ tnaBreadcrumbs({
        'items': breadcrumbs,
        'structuredData': True
      }) }}
    </div>
  </div>
  {% endif %}
  <main class="tna-main {{ mainClasses }}" id="main-content">
    {% if page_data.teaser_image %}
    {{ global_alert_banner(page_data.global_alert, None, 'm') }}
    {{ tnaHero({
      'title': page_data.title,
      'text': (page_data.intro or "") | tna_html | safe,
      'imageSrc': page_data.teaser_image.jpeg.full_url,
      'imageAlt': '',
      'imageWidth': page_data.teaser_image.jpeg.width,
      'imageHeight': page_data.teaser_image.jpeg.height,
      'narrow': True,
      'style': 'accent',
      'layout': 'split'
    }) }}
    {% else %}
    {{ global_alert_banner(page_data.global_alert) }}
    <div class="tna-section">
      <div class="tna-container">
        <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
          <h1 class="tna-heading-xl">{{ page_data.title }}</h1>
          {% if page_data.intro %}
          <p class="tna-large-paragraph">{{ page_data.intro | tna_html | safe }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    <nav class="tna-section" aria-label="Child pages">
      <ul class="tna-container">
        {% for child in children %}
        <li class="tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
          {{ tnaCard({
            'title': child.title,
            'headingLevel': 2,
            'headingSize': 'm',
            'href': child.url,
            'label': 'About',
            'text': child.teaser_text
          }) }}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </main>
{% endblock %}
