{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}

{%- set themeAccent = 'black' if global_alert.mourning_notice else 'green' -%}
{#
{%- set breadcrumbs = [
  {
    'text': 'Home',
    'href': '/'
  }
] -%}
{%- set breadcrumbsStyle = 'accent-light' -%}
#}

{%- set pageTitle = 'Atomic Weapons Establishment: MERLIN Records Concerning Nuclear Test Veterans and the Nuclear Testing Programme' -%}

{% block content %}
<div class="tna-background-accent-light">
  {{ global_alert_banners(global_alert.global_alert, global_alert.mourning_notice) }}
</div>
<div class="tna-background-accent-light tna-!--padding-top-l tna-!--padding-bottom-xl">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <hgroup class="tna-hgroup-xl">
        <p class="tna-hgroup__supertitle">Series</p>
        <h1 class="tna-hgroup__title">{{ pageTitle }}</h1>
      </hgroup>
      <p>The transfer of the MERLIN Database records from the Atomic Weapons Establishment (AWE) to The National Archives started in September 2025. The Ministry of Defence and AWE anticipate that it will take around a year to transfer all MERLIN records to The National Archives.</p>
    </div>
  </div>
</div>
<div class="tna-container tna-!--margin-top-l">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
    <p class="tna-large-paragraph">Individual MERLIN records can be accessed through our online catalogue, Discovery. They are catalogued within the <a href="https://discovery.nationalarchives.gov.uk/details/r/C20816086">series ES 38</a>.</p>
    <p>In view of the size of the collection and ongoing public interest in these records, The National Archives has put in place a bulk access service. All records that are available to be viewed through Discovery can also be accessed and downloaded from this page.</p>
    <div class="tna-button-group">
      {{ tnaButton({
        'text': 'Download records (.zip)',
        'href': '#',
        'accent': True,
        'icon': 'file-zipper'
      }) }}
      {{ tnaButton({
        'text': 'Download records (.tar.gz)',
        'href': '#',
        'plain': True,
        'icon': 'file-zipper'
      }) }}
    </div>
    <p>The content will be updated as records are transferred to The National Archives and published on Discovery. Any content that has been redacted on the version that is available through Discovery will also be redacted on the version available through this bulk access service.</p>
  </div>
</div>
{% endblock %}
