.tna-global-header,
.tna-header {
  &__logo {
    position: relative;

    .tna-logo {
      position: relative;
      z-index: 3;
    }

    &::before,
    &::after {
      content: "";

      width: 49%;
      height: 32.3%;

      overflow: hidden;

      position: absolute;
      top: 1%;
      right: 1%;
      z-index: 2;
    }

    &::before {
      z-index: 1;
    }
  }
}
