{% extends 'base.html' %}

{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/pagination/macro.html' import tnaPagination -%}
{%- from 'components/quick-filters/macro.html' import tnaQuickFilters -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'macros/meta.html' import meta -%}

{%- set themeAccent = 'black' if page_data.mourning_notice else 'orange' -%}
{%- set pageTitle = page_data.title -%}

{% block head %}
{{ super() }}
{{ meta(page_data) }}
{% endblock %}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
{% endblock %}

{% block main %}
  {% block beforeContent %}
  {%- if breadcrumbs and breadcrumbs | length > 0 %}
    {%- if not page_data.hero_image %}
    <div class="tna-background-accent-light">
    {%- endif %}
    <div class="tna-container">
      <div class="tna-column tna-column--full tna-!--padding-vertical-s">
        {{ tnaBreadcrumbs({
          'items': breadcrumbs,
          'structuredData': True
        }) }}
      </div>
    </div>
    {%- if not page_data.hero_image %}
    </div>
    {%- endif %}
  {%- endif %}
  {% endblock %}
  <main class="tna-main {{ mainClasses }}" id="main-content">
    {%- if page_data.global_alert or page_data.mourning_notice %}
    <div class="tna-background-accent-light">
      {{ global_alert_banners(page_data.global_alert, page_data.mourning_notice) }}
    </div>
    {%- endif %}
    <div class="tna-background-accent-light tna-!--padding-top-l tna-!--padding-bottom-l">
      <div class="tna-container">
        <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
          <h1 class="tna-heading-xl">{{ page_data.title }}</h1>
          {%- if page_data.intro %}
          <div class="tna-large-paragraph tna-!--margin-top-s">
            {{ page_data.intro | tna_html | safe }}
          </div>
          {%- endif %}
        </div>
      </div>
    </div>
    {%- if page == 1 and blog_posts %}
    <div class="etna-background-accent-light-half">
      <div class="tna-container">
        <div class="tna-column tna-column--full">
          {% set featured_card_content = {
            'supertitle': 'TODO: Parent',
            'title': blog_posts[0].title,
            'headingLevel': 2,
            'headingSize': 'l',
            'href': blog_posts[0].full_url,
            'label': 'New' if blog_posts[0].is_newly_published,
            'meta': [
              {
                'title': 'Published',
                'text':  blog_posts[0].published_date.value | pretty_date_with_day
              }
            ],
            'body': blog_posts[0].teaser_text | tna_html | safe,
            'fullAreaClick': True,
            'horizontal': True,
            'horizontalFlipped': True,
            'style': 'contrast'
          } %}
          {%- if blog_posts[0].teaser_image %}
            {% set featured_card_content = dict(featured_card_content, **{
              'lazyImage': True,
              'imageSrc': blog_posts[0].teaser_image.jpeg.full_url,
              'imageAlt': blog_posts[0].teaser_image.alt_text or '',
              'imageWidth': blog_posts[0].teaser_image.jpeg.width,
              'imageHeight': blog_posts[0].teaser_image.jpeg.height,
              'imageSources': [
                {
                  'src': blog_posts[0].teaser_image.webp.full_url,
                  'type': 'image/webp',
                  'width': blog_posts[0].teaser_image.webp.width,
                  'height': blog_posts[0].teaser_image.webp.height
                }
              ]
            }) %}
          {%- endif %}
          {{ tnaCard(featured_card_content) }}
        </div>
      </div>
    </div>
    {%- endif %}
    <div class="tna-container tna-!--padding-top-m">
      <div class="tna-column tna-column--full">
        {%- if blogs %}
        <h2 class="tna-heading-m">Blogs</h2>
        {% set blogs_list = [{
          'label': 'All blogs',
          'href': '/blogs/',
          'selected': request.path == '/blogs/'
        }] %}
        {% for blog in blogs %}
          {% set blogs_list = blogs_list.append({
            'label': blog.title,
            'href': blog.full_url,
            'selected': request.path == blog.url
          }) %}
        {% endfor %}
        {{ tnaQuickFilters({
          'items': blogs_list,
          'classes': 'tna-!--margin-top-s'
        }) }}
        {%- endif %}
        {%- if page > 1 %}
        <h2 class="tna-heading-l">Blog posts, page {{ page }} of {{ pages }}</h2>
        {%- else %}
        <h2 class="tna-heading-l">Most recent posts</h2>
        {%- endif %}
      </div>
    </div>
    <ul class="tna-container">
      {% for blog_post in blog_posts %}
      {% if page > 1 or loop.index > 1 %}
      <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-m tna-!--margin-bottom-l">
        {% set card_content = {
          'supertitle': blog_post.type_label,
          'title': blog_post.title,
          'headingLevel': 3,
          'headingSize': 's',
          'href': blog_post.full_url,
          'body': blog_post.teaser_text,
          'label': 'New' if blog_post.is_newly_published,
          'fullAreaClick': True,
          'classes': 'tna-card--full-height'
        } %}
        {%- if blog_post.teaser_image %}
          {% set card_content = dict(card_content, **{
            'imageSrc': blog_post.teaser_image.jpeg.full_url,
            'imageAlt': blog_post.teaser_image.alt_text or '',
            'imageWidth': blog_post.teaser_image.jpeg.width,
            'imageHeight': blog_post.teaser_image.jpeg.height,
            'imageSources': [
              {
                'src': blog_post.teaser_image.webp.full_url,
                'type': 'image/webp',
                'width': blog_post.teaser_image.webp.width,
                'height': blog_post.teaser_image.webp.height
              }
            ]
          }) %}
        {%- endif %}
        {{ tnaCard(card_content) }}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    <div class="tna-container">
      <!--
      <div class="tna-column tna-column--full">
        <p>Page <strong>{{ page }}</strong> of <strong>{{ pages }}</strong></p>
        <p>Total posts: <strong>{{ total_blog_posts }}</strong></p>
        <p>Filtering by year: {{ date_filter.year }}<br>
          Filtering by month: {{ date_filter.month }}<br>
          Filtering by day: {{ date_filter.day }}</p>
      </div>
      -->
      {% if pages > 1 %}
      <div class="tna-column tna-column--full tna-!--margin-top-l">
        {{ tnaPagination(pagination) }}
      </div>
      {% endif %}
      <!-- <div class="tna-column tna-column--full tna-hide-on-print">
        <hr class="tna-!--margin-top-l">
        <div class="tna-button-group tna-!--margin-top-s">
          {{ tnaButton({
            'text': 'Back to top',
            'href': '#top',
            'icon': 'arrow-up',
            'small': True,
            'plain': True
          }) }}
        </div>
      </div> -->
    </div>
  </div>
</main>
{% endblock %}










