{% extends 'base.html' %}

{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'components/warning/macro.html' import tnaWarning -%}
{%- from 'macros/authors_list.html' import authors_list -%}
{%- from 'macros/back_to_top.html' import back_to_top -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'macros/meta.html' import meta -%}
{%- from 'macros/wagtail_blocks/featured_page.html' import wagtailFeaturedPage -%}
{%- from 'macros/wagtail_streamfield.html' import wagtail_streamfield -%}

{%- set themeAccent = 'black' if page_data.mourning_notice else 'orange' -%}
{%- set pageTitle = page_data.title -%}
{%- set breadcrumbsStyle = 'accent-light' -%}

{%- set bodyContainsMedia = page_data.body | wagtail_streamfield_contains_media -%}

{% block head %}
{{ super() }}
{{- meta(page_data) }}
    {%- if page_data.meta.parent %}
    <link rel="alternate" type="application/rss+xml" href="{{ url_for('feeds.rss_feed', blog_id=page_data.meta.parent.id) }}" title="{{ page_data.meta.parent.title }}">
    <link rel="alternate" type="application/atom+xml" href="{{ url_for('feeds.rss_feed', blog_id=page_data.meta.parent.id, format='atom') }}" title="{{ page_data.meta.parent.title }}">
    {%- endif %}
{% endblock %}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
    {%- if bodyContainsMedia %}
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
    {%- endif %}
{% endblock %}

{% block main %}
  {% block beforeContent %}
    {{ super() }}
  {% endblock %}
  <main class="tna-main {{ mainClasses }}" id="main-content">
    {%- if page_data.global_alert or page_data.mourning_notice %}
    <div class="tna-background-accent-light">
      {{ global_alert_banners(page_data.global_alert, page_data.mourning_notice) }}
    </div>
    {%- endif %}
    <article class="etna-article" itemscope itemtype="https://schema.org/BlogPosting">
      <meta itemprop="datePublished" content="{{ page_data.published_date.value }}">
      <meta itemprop="dateModified" content="{{ page_data.meta.last_published_at }}">
      <div class="tna-background-accent-light tna-section">
        <div class="tna-container">
          <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
            <hgroup class="tna-hgroup-xl">
              <p class="tna-hgroup__supertitle">{{ page_data.type_label }}</p>
              <h1 class="tna-hgroup__title" itemprop="name">{{ page_data.title }}</h1>
            </hgroup>
            {%- if page_data.intro %}
            <div class="tna-large-paragraph tna-!--margin-top-s" itemprop="headline">
              {{ page_data.intro | tna_html | safe }}
            </div>
            {%- endif %}
            <p>
              <small>Published {{ page_data.published_date.value | pretty_date }}
                {% set authors_list_top = [] %}
                {% for author in page_data.authors -%}
                  {% set authors_list_top = authors_list_top.append({
                    'name': author.title,
                    'url': author.url
                  }) %}
                {%- endfor -%}
                {% for author in page_data.external_authors -%}
                  {% set authors_list_top = authors_list_top.append({
                    'name': author.name,
                    'url': None
                  }) %}
                {%- endfor -%}
                {%- if authors_list_top | length %}
                by
                {% for author in authors_list_top -%}
                  {{ ' and ' if loop.index > 1 and loop.last else ', ' if loop.index > 1 else '' }}{% if author.url %}<a href="{{ author.url }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}
                {%- endfor -%}
                {%- endif %}
              </small>
            </p>
          </div>
        </div>
      </div>
      {%- if page_data.hero_image %}
      <div class="etna-background-accent-light-half">
        <div class="tna-container">
          <div class="tna-column tna-column--full">
            {% set hero_image_caption = page_data.hero_image_caption or '' %}
            {%- if page_data.hero_image.copyright %}
              {% set hero_image_caption = hero_image_caption ~ '<div class="tna-hero__copyright" itemprop="copyrightNotice">' ~ (page_data.hero_image.copyright | tna_html | safe) ~ '</div>' %}
            {%- endif %}
            {{ tnaHero({
              'imageSrc': page_data.hero_image.jpeg.full_url,
              'imageAlt': page_data.hero_image.description,
              'imageWidth': page_data.hero_image.jpeg.width,
              'imageHeight': page_data.hero_image.jpeg.height,
              'imageCaption': hero_image_caption,
              'imageSources': [
                {
                  'src': page_data.hero_image_small.webp.full_url,
                  'width': page_data.hero_image_small.webp.width,
                  'height': page_data.hero_image_small.webp.height,
                  'type': 'image/webp',
                  'media': '(max-width: 48em)'
                },
                {
                  'src': page_data.hero_image_small.jpeg.full_url,
                  'width': page_data.hero_image_small.jpeg.width,
                  'height': page_data.hero_image_small.jpeg.height,
                  'type': 'image/jpeg',
                  'media': '(max-width: 48em)'
                },
                {
                  'src': page_data.hero_image.webp.full_url,
                  'width': page_data.hero_image.webp.width,
                  'height': page_data.hero_image.webp.height,
                  'type': 'image/webp'
                }
              ],
              'narrow': True
            }, page_data.hero_image.uuid, page_data.hero_image.title) }}
          </div>
        </div>
      </div>
      {%- endif %}
      <div class="tna-section">
        <div class="tna-container tna-container--centred">
          <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny etna-!--full-width-on-print" itemprop="articleBody">
            {%- if page_data.custom_warning_text %}
            {{ tnaWarning({
              'headingLevel': 2,
              'body': page_data.custom_warning_text | tna_html | safe,
              'classes': 'tna-!--margin-bottom-m'
            }) }}
            {%- endif %}
            {{ wagtail_streamfield(page_data.body, 2, None, 'sharedContent') }}
          </div>
        </div>
      </div>
      {%- if page_data.authors | length or page_data.external_authors | length %}
      <div class="tna-section">
        <div class="tna-container tna-container--centred">
          {{ authors_list(page_data.authors, page_data.external_authors, False, 'tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny etna-!--full-width-on-print') }}
        </div>
      </div>
      {%- endif %}
    </article>
    {{ back_to_top() }}
  </main>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
    {%- if bodyContainsMedia %}
    <script src="{{ url_for('static', filename='media.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
    {%- endif %}
{% endblock %}
