{%- from 'components/picture/macro.html' import tnaPicture -%}
{%- from 'components/featured-records/macro.html' import tnaFeaturedRecords -%}

{% macro articleSidebar(blocks) %}
  <nav aria-label="Article sections" class="etna-article__sidebar tna-!--padding-top-s">
    <h2 class="tna-heading-m">Contents</h2>
    <ol class="tna-ol tna-ol--plain etna-article__sidebar-items">
      {%- for block in blocks %}
      <li>
        <a href="#{{ block.value.heading | slugify }}" class="etna-article__sidebar-item">{{ block.value.heading }}</a>
      </li>
      {%- endfor %}
    </ol>
  </nav>
{% endmacro %}
