{% extends 'layouts/page-with-contents-sidebar.html' %}

{%- from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/quick-filters/macro.html' import tnaQuickFilters -%}

{%- set themeAccent = 'blue' -%}
{%- set pageTitle = 'People' -%}
{%- set noPadding = True -%}
{%- set aToZSidebar = True -%}

{% block skipLink %}
{{ super() }}
{{ tnaSkipLink({
  'href': 'people',
  'text': 'Skip to list of people'
}) }}
{% endblock %}

{% block beforeContent %}
<div class="tna-container">
  <div class="tna-column tna-column--full">
    {{ tnaBreadcrumbs({
      'items': [
        {
          'text': 'Home',
          'href': '/'
        }
      ],
      'structuredData': True
    }) }}
  </div>
</div>
{% endblock %}

{% block contentHeader %}
<h1 class="tna-heading-xl">People</h1>
{% endblock %}

{% block afterContentHeader %}
<div class="tna-container tna-!--padding-top-m">
  <div class="tna-column tna-column--full">
    <h2 class="tna-heading-l">Filter people by role</h2>
    {% set roles_list = [{
      'label': 'All people',
      'href': '?',
      'selected': not request.args.get('role')
    }] %}
    {% for role in roles %}
      {% set roles_list = roles_list.append({
        'label': role + 's',
        'href': '?role=' + (role | lower),
        'selected': request.args.get('role') == (role | lower)
      }) %}
    {% endfor %}
    {{ tnaQuickFilters({
      'items': roles_list
    }) }}
  </div>
</div>
{% endblock %}

{% block content %}
  {% if request.args.get('role') %}
  <div class="tna-container tna-container--no-padding">
    <div class="tna-column tna-column--full">
      <p class="tna-!--margin-bottom-m">Showing {{ people | length }} of {{ people_length }} people.</p>
    </div>
  </div>
  {% endif %}

  <nav aria-label="People" id="people">
  {%- set ns = namespace(first_letter='') %}
  {%- for person in people %}
  {%- if ns.first_letter != person.last_name.0 %}
    
    {%- if ns.first_letter != '' %}
      </ul>
    {%- endif %}

    {%- set ns.first_letter = person.last_name.0 | upper %}
    <div class="tna-container tna-container--no-padding">
      <div class="tna-column tna-column--full">
        <h2 id="{{ ns.first_letter | lower }}" class="tna-heading-l tna-!--padding-top-s">{{ ns.first_letter }}</h2>
      </div>
    </div>
    <ul class="tna-ul tna-ul--plain tna-container tna-container--no-padding tna-!--margin-top-m">
  {%- endif %}

    <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
      {%- if person.photo %}
      {{ tnaCard({
        'title': person.last_name + ', ' + person.first_name,
        'headingLevel': 2,
        'body': person.role,
        'href': '#',
        'imageSrc': person.photo,
        'imageAlt': '',
        'imageWidth': 600,
        'imageHeight': 400,
        'htmlElement': 'article'
      }) }}
      {%- else %}
      {{ tnaCard({
        'title': person.last_name + ', ' + person.first_name,
        'headingLevel': 2,
        'body': person.role,
        'href': '#',
        'htmlElement': 'article'
      }) }}
      {%- endif %}
    </li>
    {%- endfor %}
  </ul>



    <!-- <ul class="tna-container tna-ul tna-ul--plain">
      {% for person in people %}
      <li class="tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
        {{ tnaCard({
          'title': person.first_name + ' ' + person.last_name,
          'headingLevel': 2,
          'headingSize': 'm',
          'href': '#',
          'text': person.role
        }) }}
      </li>
      {% endfor %}
    </ul> -->
  </nav>
{% endblock %}
