<nav aria-label="Result locations" class="etna-space-above">
  <ul class="etna-search-buckets">
    <li class="etna-search-buckets__item etna-search-buckets__item--current">
      <a href="#" class="etna-search-buckets__link">
        <span class="etna-search-buckets__name">Records at The National Archives</span>
        <span class="etna-search-buckets__meta">(24,521,421)</span></a>
    </li>
    <li class="etna-search-buckets__item">
      <a href="#" class="etna-search-buckets__link">
        <span class="etna-search-buckets__name">Online records at The National Archives</span>
        <span class="etna-search-buckets__meta">(9,041,961)</span></a>
    </li>
    <li class="etna-search-buckets__item">
      <a href="#" class="etna-search-buckets__link">
        <span class="etna-search-buckets__name">Records at other UK archives</span>
        <span class="etna-search-buckets__meta">(10,758,426)</span></a>
    </li>
    <li class="etna-search-buckets__item">
      <a href="#" class="etna-search-buckets__link">
        <span class="etna-search-buckets__name">Record creators</span>
        <span class="etna-search-buckets__meta">(270,146)</span></a>
    </li>
    <li class="etna-search-buckets__item">
      <a href="#" class="etna-search-buckets__link">
        <span class="etna-search-buckets__name">Find an archive</span>
        <span class="etna-search-buckets__meta">(3,477)</span></a>
    </li>
  </ul>
</nav>
