{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/select/macro.html' import tnaSelect -%}

<div class="tna-column tna-column--flex-1 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
  <p>Showing 1-20 (of 10,000) results for &quot;{{ query or '' }}&quot; in &quot;Records at the National Archives&quot;</p>
</div>
<div class="tna-column tna-column--flex-1-small tna-column--full-tiny etna-search-sort-view tna-!--margin-top-m">
  {{ tnaSelect({
    'label': 'Sort by',
    'headingLevel': 2,
    'headingSize': 'xs',
    'id': 'order',
    'name': 'order',
    'items': [
      {
        'text': 'Relevance',
        'value': 'relevance'
      },
      {
        'text': 'Date (newest first)',
        'value': 'date'
      },
      {
        'text': 'Title (A to Z)',
        'value': 'alphabetical'
      }
    ] if 'q' in request.args and request.args['q'] else [
      {
        'text': 'Date (newest first)',
        'value': 'date'
      },
      {
        'text': 'Title (A to Z)',
        'value': 'alphabetical'
      }
    ],
    'selected': request.args['order'] if 'order' in request.args else '',
    'inline': True,
    'attributes': {
      'form': 'search-form'
    }
  }) }}
  <div class="tna-button-group">
    {{ tnaButton({
      'text': 'Update',
      'small': True,
      'buttonElement': True,
      'buttonType': 'submit',
      'attributes': {
        'form': 'search-form'
      }
    }) }}
  </div>
</div>
<div class="tna-column tna-column--full-tiny etna-search-sort-view tna-!--margin-top-m">
  <div class="tna-button-group">
    {{ tnaButton({
      'text': 'View in list format',
      'href': '#',
      'icon': 'list',
      'small': True,
      'buttonElement': True,
      'buttonType': 'submit',
      'iconOnly': True,
      'accent': request.args['view'] != 'grid',
      'attributes': {
        'name': 'view',
        'value': 'list',
        'form': 'search-form'
      }
    }) }}
    {{ tnaButton({
      'text': 'View in grid format',
      'href': '#',
      'icon': 'table-cells-large',
      'small': True,
      'buttonElement': True,
      'buttonType': 'submit',
      'iconOnly': True,
      'accent': request.args['view'] == 'grid',
      'attributes': {
        'name': 'view',
        'value': 'grid',
        'form': 'search-form'
      }
    }) }}
  </div>
</div>