{% extends 'search/base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/checkboxes/macro.html' import tnaCheckboxes -%}
{%- from 'components/date-input/macro.html' import tnaDateInput -%}
{%- from 'components/pagination/macro.html' import tnaPagination -%}
{%- from 'components/select/macro.html' import tnaSelect -%}
{%- from 'components/text-input/macro.html' import tnaTextInput -%}
{%- from 'macros/feedback.html' import feedback -%}
{%- from 'search/elements/sort-view.html' import sortView -%}

{% block pageTitle %}{% if results %}{{ results.count | pretty_number }} results{% if query %} for &quot;{{ query }}&quot;{% endif %} - {% endif %}{{ super() }}{% endblock %}

{% block skipLink %}
{{ tnaSkipLink({
  'href': 'search-results',
  'text': 'Skip to search results'
}) }}
{{ super() }}
{% endblock %}

{% block content %}
{% set show_tabs = True %}
{% include 'search/elements/header.html' %}
{% if results.count %}
<section class="tna-section tna-container tna-!--no-padding-bottom">
  <div class="tna-column tna-column--full">
    <p>Catalogue results for records held at The National Archives that match your search term.</p>
    {% include 'search/elements/buckets.html' %}
  </div>
  {{ sortView(query, results.count, results.result_range_min, results.result_range_max, 'our records') }}
</section>
<section class="tna-container">
  <div id="search-filters" class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny etna-search-sidebar tna-!--padding-top-l">
    <h2 class="tna-visually-hidden">Search filters</h2>
    <div class="tna-aside tna-aside--tight tna-background-tint tna-!--no-margin-top">
      {{ tnaTextInput({
        'label': 'Refine results',
        'headingLevel': 3,
        'headingSize': 's',
        'hint': 'Search within results'
      }) }}
      <div class="tna-button-group tna-!--margin-top-s">
        {{ tnaButton({
          'text': 'Update',
          'small': True,
          'buttonElement': True,
          'buttonType': 'submit',
          'attributes': {
            'form': 'search-form'
          }
        }) }}
      </div>
    </div>
    <div class="tna-aside tna-aside--tight tna-background-tint">
      <h3 class="tna-heading-s">Covering date</h3>
      {{ tnaDateInput({
        'label': 'From',
        'headingLevel': 4,
        'headingSize': 'xs',
        'id': 'date-from',
        'name': 'date-from',
        'hint': 'For example, 27 3 2007 or 2007',
        'classes': 'tna-!--no-margin-top'
      }) }}
      {{ tnaDateInput({
        'label': 'To',
        'headingLevel': 4,
        'headingSize': 'xs',
        'id': 'date-to',
        'name': 'date-to',
        'classes': 'tna-!--margin-top-s'
      }) }}
      <div class="tna-button-group tna-!--margin-top-s">
        {{ tnaButton({
          'text': 'Update',
          'small': True,
          'buttonElement': True,
          'buttonType': 'submit',
          'attributes': {
            'form': 'search-form'
          }
        }) }}
      </div>
    </div>
    <div class="tna-aside tna-aside--tight tna-background-tint">
      {{ tnaCheckboxes({
        'label': 'Digitised records',
        'headingLevel': 3,
        'headingSize': 's',
        'id': 'digitised',
        'name': 'digitised',
        'items': [
          {
            'text': 'Digitised records',
            'value': 'true'
          }
        ],
        'small': True
      }) }}
      <div class="tna-button-group tna-!--margin-top-s">
        {{ tnaButton({
          'text': 'Update',
          'small': True,
          'buttonElement': True,
          'buttonType': 'submit',
          'attributes': {
            'form': 'search-form'
          }
        }) }}
      </div>
    </div>
    <div class="tna-aside tna-aside--tight tna-background-tint">
      {{ tnaCheckboxes({
        'label': 'Collections',
        'headingLevel': 3,
        'headingSize': 's',
        'id': 'collections',
        'name': 'collections',
        'items': [
          {
            'text': 'Admiralty, Navy, Royal Marines, and Coastguard',
            'value': 'ADM'
          },
          {
            'text': 'Air Ministry and Royal Air Force records',
            'value': 'AIR'
          },
          {
            'text': 'Board of Trade and successors',
            'value': 'BT'
          },
          {
            'text': 'Chancery, the Wardrobe, Royal Household, Exchequer and various commissions',
            'value': 'C'
          },
          {
            'text': 'Colonial Office, Commonwealth and Foreign and Commonwealth Offices',
            'value': 'CO'
          },
          {
            'text': 'Exchequer, Office of First Fruits and Tenths, and the Court of Augmentations',
            'value': 'E'
          },
          {
            'text': 'Foreign Office',
            'value': 'FO'
          },
          {
            'text': 'Home Office',
            'value': 'HO'
          },
          {
            'text': 'Prerogative Court of Canterbury',
            'value': 'PROB'
          },
          {
            'text': 'War Office, Armed Forces, Judge Advocate General, and related bodies',
            'value': 'WO'
          }
        ],
        'small': True
      }) }}
      <p><a href="#">More collections&hellip;</a></p>
      <div class="tna-button-group tna-!--margin-top-s">
        {{ tnaButton({
          'text': 'Update',
          'small': True,
          'buttonElement': True,
          'buttonType': 'submit',
          'attributes': {
            'form': 'search-form'
          }
        }) }}
      </div>
    </div>
    <div class="tna-aside tna-aside--tight tna-background-tint">
      {{ tnaCheckboxes({
        'label': 'Level',
        'headingLevel': 3,
        'headingSize': 's',
        'id': 'level',
        'name': 'level',
        'items': [
          {
            'text': 'Division',
            'value': 'a'
          },
          {
            'text': 'Item',
            'value': 'b'
          },
          {
            'text': 'Lettercode',
            'value': 'c'
          },
          {
            'text': 'Piece',
            'value': 'd'
          },
          {
            'text': 'Series',
            'value': 'e'
          },
          {
            'text': 'Sub-series',
            'value': 'f'
          },
          {
            'text': 'Sub-sub-series',
            'value': 'g'
          }
        ],
        'small': True
      }) }}
      <div class="tna-button-group tna-!--margin-top-s">
        {{ tnaButton({
          'text': 'Update',
          'small': True,
          'buttonElement': True,
          'buttonType': 'submit',
          'attributes': {
            'form': 'search-form'
          }
        }) }}
      </div>
    </div>
    <div class="tna-aside tna-aside--tight tna-background-tint">
      {{ tnaCheckboxes({
        'label': 'Closure Status',
        'headingLevel': 3,
        'headingSize': 's',
        'id': 'closure-status',
        'name': 'closure-status',
        'items': [
          {
            'text': 'Closed Or Retained Document, Closed Description',
            'value': 'a'
          },
          {
            'text': 'Closed Or Retained Document, Open Description',
            'value': 'b'
          },
          {
            'text': 'Open Document, Open Description',
            'value': 'c'
          }
        ],
        'small': True
      }) }}
      <div class="tna-button-group tna-!--margin-top-s">
        {{ tnaButton({
          'text': 'Update',
          'small': True,
          'buttonElement': True,
          'buttonType': 'submit',
          'attributes': {
            'form': 'search-form'
          }
        }) }}
      </div>
    </div>
    <div class="tna-aside tna-aside--tight tna-background-tint">
      <h3 class="tna-heading-s">Record opening date</h3>
      {{ tnaDateInput({
        'label': 'From',
        'headingLevel': 4,
        'headingSize': 'xs',
        'id': 'opening-date-from',
        'name': 'opening-date-from',
        'hint': 'For example, 27 3 2007 or 2007',
        'classes': 'tna-!--no-margin-top'
      }) }}
      {{ tnaDateInput({
        'label': 'To',
        'headingLevel': 4,
        'headingSize': 'xs',
        'id': 'opening-date-to',
        'name': 'opening-date-to',
        'classes': 'tna-!--margin-top-s'
      }) }}
      <div class="tna-button-group tna-!--margin-top-s">
        {{ tnaButton({
          'text': 'Update',
          'small': True,
          'buttonElement': True,
          'buttonType': 'submit',
          'attributes': {
            'form': 'search-form'
          }
        }) }}
      </div>
    </div>
  </div>
  {% if request.args['view'] == 'grid' %}
  <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny tna-!--padding-top-l" id="search-results">
    <h2 class="tna-heading-xl tna-!--hide-on-large tna-!--hide-on-medium tna-!--margin-bottom-m tna-column">Search results</h2>
    <!-- TODO: Make into ul -->
    <div class="tna-container tna-container--no-padding">
      {% for result in results.results %}
      <div class="tna-column tna-column--width-1-2 tna-column--full-tiny">
        {{ tnaCard({
          'title': result.title,
          'headingLevel': 3,
          'headingSize': 's',
          'href': url_for('catalogue.record', id=result.id),
          'body': '<p>' + result.description + '</p>' if result.description else '',
          'meta': [
            {
              'text': result.held_by
            } if result.held_by else None,
            {
              'text': result.covering_date,
              'icon': 'calendar'
            } if result.covering_date else None,
            {
              'text': 'Reference ' + result.ref
            } if result.ref else None
          ],
          'htmlElement': 'article',
          'classes': 'tna-!--margin-top-l'
        }) }}
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny tna-!--padding-top-l" id="search-results">
    <h2 class="tna-heading-xl tna-!--hide-on-large tna-!--hide-on-medium tna-!--margin-bottom-m">Search results</h2>
    <hr class="tna-!--margin-bottom-s">
    {% for result in results.results %}
    <article>
      <h3 class="tna-heading-m">
        <a href="{{ url_for('catalogue.record', id=result.id) }}">{{ result.title }}</a>
      </h3>
      <dl class="tna-dl tna-dl--plain tna-dl--icon-padding">
        {% if result.held_by %}
        <dt>
          <i class="fa-solid fa-landmark"></i>
          Held by
        </dt>
        <dd>{{ result.held_by }}</dd>
        {% endif %}
        {% if result.covering_date %}
        <dt>
          <i class="fa-solid fa-calendar"></i>
          Date
        </dt>
        <dd>{{ result.covering_date }}</dd>
        {% endif %}
        {% if result.ref %}
        <dt>
          <i class="fa-solid fa-database"></i>
          Reference
        </dt>
        <dd>{{ result.ref }}</dd>
        {% endif %}
      </dl>
    </article>
    <hr class="tna-!--margin-vertical-s">
    {% endfor %}
  </div>
  {% endif %}
  {% if pages > 1 %}
  <div class="tna-column tna-column--full tna-section">
    {{ tnaPagination(pagination) }}
  </div>
  <input type="hidden" value="{{ page }}" name="page" form="search-form">
  {% endif %}
</section>
{% else %}
<section class="tna-section tna-container tna-!--no-padding-bottom">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
    <h2 class="tna-heading-l">We did not find any results for your search</h2>
    <p>Some record descriptions are much less detailed than others, so you may not find what you are looking for using a simple keyword search.</p>
    <ul class="tna-ul">
      <li>Try different spellings or search terms</li>
      <li>Use the advanced search options such as the &quot;AND&quot;, &quot;OR&quot; and &quot;NOT&quot; operators</li>
      <li>Look at our research guides for search tips</li>
    </ul>
  </div>
</section>
{% endif %}
{{ feedback() }}
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{ url_for('static', filename='search.min.js') }}"></script>
{% endblock %}
