{% extends 'search/base.html' %}

{%- from 'components/search-field/macro.html' import tnaSearchField -%}
{%- from 'macros/feedback.html' import feedback -%}

{% block content %}
<!--
{% include 'search/elements/header.html' %}
<section class="tna-section tna-container">
  <div class="tna-column tna-column--full">
    <h2 class="tna-heading-l tna-!--padding-bottom-s" id="search-buckets-title">See all records from the catalogue</h2>
    {% include 'search/elements/buckets.html' %}
  </div>
</section>
-->
<section class="tna-section tna-container tna-!--padding-bottom-s">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
    <h1 class="tna-heading-xl">Search The National Archives</h1>
  </div>
</section>
<section class="tna-section tna-container tna-!--no-padding-top">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
    <form class="tna-aside tna-background-tint" method="get" action="https://discovery.nationalarchives.gov.uk/results/r">
      {{ tnaSearchField({
        'label': 'Search for records in our catalogue',
        'headingLevel': 2,
        'headingSize': 'l',
        'hint': 'Search by keyword, place, person, or catalogue reference',
        'id': 'search-catalogue',
        'name': '_q',
        'formGroupClasses': 'tna-search-field--no-border'
      }) }}
    </form>
    <form class="tna-aside tna-background-tint tna-!--margin-top-l" method="get" action="https://www.nationalarchives.gov.uk/search/results">
      {{ tnaSearchField({
        'label': 'Search our website',
        'headingLevel': 2,
        'headingSize': 'l',
        'hint': 'Search by keyword, place, person, or catalogue reference',
        'id': 'search-website',
        'name': '_q',
        'formGroupClasses': 'tna-search-field--no-border'
      }) }}
    </form>
    <form class="tna-aside tna-background-accent tna-!--margin-top-l" method="get" action="{{ url_for('search.featured') }}">
      <p class="tna-chip">Beta</p>
      {{ tnaSearchField({
        'label': 'Try our new search',
        'headingLevel': 2,
        'headingSize': 'l',
        'hint': 'Search by keyword, place, person, or catalogue reference',
        'id': 'search-new',
        'name': 'q',
        'formGroupClasses': 'tna-search-field--no-border'
      }) }}
    </form>
  </div>
  <div class="tna-column tna-column--width-1-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
    <h2 class="tna-heading-m">Other ways to search</h2>
    <p>You might find what you're looking for in:</p>
    <ul class="tna-ul">
      <li>
        <a href="#">UK Government Web Archive</a>
      </li>
      <li>
        <a href="#">Find case law</a>
      </li>
    </ul>
  </div>
</section>
{{ feedback() }}
{% endblock %}