{% extends 'search/base.html' %}

{%- from 'macros/feedback.html' import feedback -%}

{% block pageTitle %}Search our website - {{ super() }}{% endblock %}

{% block content %}
{% set show_tabs = True %}
{% include 'search/elements/header.html' %}
<section class="tna-section tna-container">
  <div class="tna-column tna-column--full">
    {% include 'search/elements/buckets.html' %}
  </div>
</section>
<section class="tna-container">
  <div class="tna-column tna-column--full">
    <h2 class="tna-heading-l">TODO - website</h2>
  </div>
</section>
{{ feedback() }}
{% endblock %}