{% extends 'search/base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/checkboxes/macro.html' import tnaCheckboxes -%}
{%- from 'components/pagination/macro.html' import tnaPagination -%}
{%- from 'components/select/macro.html' import tnaSelect -%}
{%- from 'macros/feedback.html' import feedback -%}
{%- from 'search/elements/sort-view.html' import sortView -%}

{% block pageTitle %}{% if results %}{{ results.count | pretty_number }} results{% if query %} for &quot;{{ query }}&quot;{% endif %} - {% endif %}{{ super() }}{% endblock %}

{% block content %}
{% set show_tabs = True %}
{% include 'search/elements/header.html' %}
{% if results.count %}
<section class="tna-container">
  {{ sortView(query, results.count, results.result_range_min, results.result_range_max, 'our website') }}
  {% if selected_filters %}
  <div class="tna-column tna-column--full">
    <ul class="tna-compound-filters tna-ul tna-ul--plain tna-!--margin-top-s">
      {% for filter in selected_filters %}
      <li class="tna-compound-filters__item">
        <span class="tna-compound-filters__label">{{ filter['group'] }}: {{ filter['filter'] }}</span>
        <a href="{{ filter.remove_url }}" class="tna-compound-filters__link">Remove &quot;{{ filter['group'] }}: {{ filter['filter'] }}&quot; filter</a>
      </li>
      {% endfor %}
      <li class="tna-compound-filters__item tna-compound-filters__item--remove">
        {% if 'q' in request.args and request.args['q'] %}
        <a href="?q={{ request.args['q'] }}">
          {% else %}
          <a href="?">
        {% endif %}
          Remove all filters
        </a>
      </li>
    </ul>
  </div>
  {% endif %}
</section>
<section class="tna-container">
  <div id="search-filters" class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny etna-search-sidebar tna-!--padding-top-l" data-selectedfilters="{{ selected_filters | length }}">
    <h2 class="tna-visually-hidden">Search filters</h2>
    {% for filter in filters %}
    <div class="tna-aside tna-aside--tight tna-background-tint{{ ' tna-!--no-margin-top' if loop.index == 1 }}">
      {% if filter.type == 'multiple' %}
      {{ tnaCheckboxes({
        'label': filter.title,
        'headingLevel': 3,
        'headingSize': 's',
        'id': filter.slug,
        'name': filter.slug + '[]',
        'items': filter.options,
        'small': True,
        'attributes': {
          'form': 'search-form'
        }
      }) }}
      {% endif %}
      <div class="tna-button-group tna-!--margin-top-s">
        {{ tnaButton({
          'text': 'Update',
          'small': True,
          'buttonElement': True,
          'buttonType': 'submit',
          'attributes': {
            'form': 'search-form'
          }
        }) }}
      </div>
    </div>
    {% endfor %}
  </div>
  {% if request.args['view'] == 'grid' %}
  <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny tna-!--padding-top-l" id="search-results">
    <h2 class="tna-heading-xl tna-!--hide-on-large tna-!--hide-on-medium tna-!--margin-bottom-m tna-column">Search results</h2>
    <!-- TODO: Make into ul -->
    <div class="tna-container tna-container--no-padding">
      {% for result in results.results %}
      <div class="tna-column tna-column--width-1-2 tna-column--full-tiny">
        {{ tnaCard({
          'title': result.title,
          'headingLevel': 3,
          'headingSize': 's',
          'href': result.url,
          'text': result.description,
          'label': result.type | article_type,
          'meta': [
            {
              'text': 'Published ' + (result.first_published | pretty_date),
              'icon': 'calendar'
            }
          ],
          'imageSrc': result.image.full_url,
          'imageAlt': result.image.title,
          'imageWidth': result.image.width,
          'imageHeight': result.image.height,
          'htmlElement': 'article',
          'classes': 'tna-!--margin-top-l'
        }) }}
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny tna-!--padding-top-l" id="search-results">
    <h2 class="tna-heading-xl tna-!--hide-on-large tna-!--hide-on-medium tna-!--margin-bottom-m">Search results</h2>
    <hr>
    <!-- TODO: Make into ul -->
    {% for result in results.results %}
    <article class="tna-container tna-container--no-padding">
      <div class="tna-column tna-column--width-7-12 tna-column--width-1-2-medium tna-column--width-2-3-small tna-column--full-tiny tna-!--margin-top-m">
        <hgroup class="tna-hgroup-m">
          <p class="tna-hgroup__supertitle tna-hgroup__supertitle--plain-">{{ result.type | article_type }}</p>
          <h3 class="tna-hgroup__title">
            <a href="{{ result.url }}">{{ result.title }}</a>
          </h3>
        </hgroup>
        <p>{{ result.description or result.teaser }}</p>
        <p>
          <small>Published {{ result.first_published | pretty_date }}</small>
        </p>
      </div>
      <div class="tna-column tna-column--width-5-12 tna-column--width-1-2-medium tna-column--width-1-3-small tna-column--full-tiny tna-!--margin-top-m">
        <img src="{{ result.image.full_url }}" width="{{ result.image.width }}" height="{{ result.image.height }}" alt="{{ result.image.alt }}">
      </div>
    </article>
    <hr class="tna-!--margin-top-m">
    {% endfor %}
  </div>
  {% endif %}
  {% if pages > 1 %}
  <div class="tna-column tna-column--full tna-section">
    {{ tnaPagination(pagination) }}
  </div>
  <input type="hidden" value="{{ page }}" name="page" form="search-form">
  {% endif %}
</section>
{% else %}
<section class="tna-section tna-container tna-!--no-padding-bottom">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
    <h2 class="tna-heading-l">We did not find any results for your search</h2>
    <p>Try again with different spellings or search terms or view <a href="{{ url_for('search.website') }}">all website results</a>.</p>
  </div>
</section>
{% endif %}
{{ feedback() }}
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="{{ url_for('static', filename='search.min.js') }}"></script>
{% endblock %}
