{%- from 'components/hero/macro.html' import tnaHero -%}

{% macro shopBlock(shop) %}
  {% set shop_hero_body %}
    <p>{{ shop.description }}</p>
    <meta itemprop="url" content="{{ url_for('wagtail.image_page', image_uuid=shop.background_image.uuid, _external=True, _scheme='https') }}">
  {% endset %}

  {% set shop_hero_image_caption %}
    {%- if shop.background_image.copyright %}
      <div class="tna-hero__copyright" itemprop="copyrightNotice">{{ shop.background_image.copyright | tna_html | safe }}</div>
    {%- endif %}
  {% endset %}

  {{ tnaHero({
    'headingLevel': 2,
    'headingSize': 'l',
    'title': shop.title,
    'body': shop_hero_body,
    'imageSrc': shop.background_image.jpeg.full_url,
    'imageAlt': shop.background_image.description,
    'imageWidth': shop.background_image.jpeg.width,
    'imageHeight': shop.background_image.jpeg.height,
    'imageCaption': shop_hero_image_caption,
    'imageSources': [
      {
        'src': shop.background_image_small.webp.full_url,
        'width': shop.background_image_small.webp.width,
        'height': shop.background_image_small.webp.height,
        'type': 'image/webp',
        'media': '(max-width: 48em)'
      },
      {
        'src': shop.background_image_small.jpeg.full_url,
        'width': shop.background_image_small.jpeg.width,
        'height': shop.background_image_small.jpeg.height,
        'type': 'image/jpeg',
        'media': '(max-width: 48em)'
      },
      {
        'src': shop.background_image.webp.full_url,
        'width': shop.background_image.webp.width,
        'height': shop.background_image.webp.height,
        'type': 'image/webp'
      }
    ],
    'actions': [
      {
        'text': shop.cta_text,
        'href': shop.url
      }
    ],
    'narrow': True,
    'style': 'accent',
    'attributes': {
      'id': shop.title | slugify
    },
    'element': 'div'
  }) }}
{% endmacro %}