{% extends 'base.html' %}

{%- from 'components/accordion/macro.html' import tnaAccordion -%}
{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/gallery/macro.html' import tnaGallery -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'macros/meta.html' import meta -%}
{%- from 'macros/wagtail_blocks/media.html' import wagtailMedia -%}
{%- from 'macros/wagtail_blocks/youtube_video.html' import wagtailYouTubeVideo -%}
{%- from 'macros/wagtail_body.html' import wagtail_body -%}

{%- set themeAccent = 'black' if page_data.mourning_notice else (page_data.accent_colour or 'pink') -%}

{% block head %}
{{ super() }}
{{ meta(page_data) }}
{% endblock %}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='exhibition.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
    {%- if page_data.video %}
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
    {%- endif %}
{% endblock %}

{% block content %}
{{ global_alert_banners(page_data.global_alert, page_data.mourning_notice, None, 'm') }}
{% set hero_intro = '' %}
{% if page_data.subtitle %}
  {% set hero_intro = hero_intro + (('<div class="tna-large-paragraph tna-!--margin-top-s">' + page_data.subtitle + '</div>') | tna_html) %}
{% endif %}
{% if page_data.start_date or page_data.end_date %}
  {% set hero_intro = hero_intro + '<p>' + pretty_date_range(page_data.start_date, page_data.end_date, not page_data.exclude_days) + '</p>' %}
{% endif %}
{% if page_data.price %}
  {% set hero_intro = hero_intro + '<p>' + ('Free' if page_data.price == 0 else 'From &pound;' + (page_data.price | string)) + '</p>' %}
{% endif %}
{% set hero_image_caption = page_data.hero_image_caption or '' %}
{%- if page_data.hero_image.copyright %}
  {% set hero_image_caption = hero_image_caption + '<p>&copy; ' + page_data.hero_image.copyright + '</p>' %}
{%- endif %}
{{ tnaHero({
  'supertitle': page_data.type_label,
  'title': page_data.title,
  'body': hero_intro | safe,
  'imageSrc': page_data.hero_image.jpeg.full_url,
  'imageAlt': '',
  'imageWidth': page_data.hero_image.jpeg.width,
  'imageHeight': page_data.hero_image.jpeg.height,
  'imageCaption': hero_image_caption,
  'imageSources': [
    {
      'src': page_data.hero_image_small.webp.full_url,
      'width': page_data.hero_image_small.webp.width,
      'height': page_data.hero_image_small.webp.height,
      'type': 'image/webp',
      'media': '(max-width: 48em)'
    },
    {
      'src': page_data.hero_image_small.jpeg.full_url,
      'width': page_data.hero_image_small.jpeg.width,
      'height': page_data.hero_image_small.jpeg.height,
      'type': 'image/jpeg',
      'media': '(max-width: 48em)'
    },
    {
      'src': page_data.hero_image.webp.full_url,
      'width': page_data.hero_image.webp.width,
      'height': page_data.hero_image.webp.height,
      'type': 'image/webp'
    }
  ],
  'narrow': True,
  'layout': 'shift',
  'style': page_data.hero_style
}) }}
<div class="tna-container">
  <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <div class="tna-large-paragraph">
      {{ page_data.intro | safe }}
    </div>
    {{ wagtail_body(page_data.body, 2, page_data.footnotes) }}
    <aside class="tna-aside tna-background-accent">
      <p>Get emails about Great Escapes</p>
      <p>Be the first to hear updates about the exhibition, and more.</p>
    </aside>
  </div>
  <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <aside class="tna-aside tna-aside--top-bottom-borders tna-background-tint-">
      <dl class="tna-dl tna-dl--icon-padding tna-dl--plain tna-dl--stacked">
        {% if page_data.open_days %}
        <dt>
          <i class="fa-solid fa-calendar" aria-hidden="true"></i>
          {{ page_data.open_days }}
        </dt>
        <dd>See full <a href="https://www.nationalarchives.gov.uk/about/visit-us/opening-times/">opening times</a></dd>
        {% endif %}
        {% if page_data.price %}
        <dt>
          <i class="fa-solid fa-ticket" aria-hidden="true"></i>
          {{ page_data.price }}
        </dt>
        <dd>{{ page_data.booking_details | safe }}</dd>
        {% endif %}
        {% if page_data.audience_heading and page_data.audience_detail %}
        <dt>
          <i class="fa-solid fa-user" aria-hidden="true"></i>
          {{ page_data.audience_heading }}
        </dt>
        <dd>{{ page_data.audience_detail }}</dd>
        {% endif %}
        {% if page_data.location_space_name and page_data.location_link_text and page_data.location_link_url %}
        <dt>
          <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
          {{ page_data.location_space_name }}
        </dt>
        <dd>
          <a href="{{ page_data.location_link_url }}">{{ page_data.location_link_text }}</a>
        </dd>
        {% endif %}
        <dt>
          <i class="fa-solid fa-universal-access" aria-hidden="true"></i>
          Accessibility
        </dt>
        <dd>See our <a href="https://www.nationalarchives.gov.uk/about/visit-us/information-for-disabled-visitors/">accessibility guide</a></dd>
      </dl>
      <div class="tna-button-group">
        {{ tnaButton({
          'text': 'Plan your visit',
          'href': 'https://www.nationalarchives.gov.uk/about/visit-us/'
        }) }}
      </div>
    </aside>
  </div>
</div>
{% for exhibition_highlights in page_data.exhibition_highlights %}
{% set gallery_images = [] %}
{% for image in exhibition_highlights.value.images %}
  {% set gallery_images = gallery_images.append({
    'alt': image.alt_text,
    'width': image.image.jpeg.width,
    'height': image.image.jpeg.height,
    'src': image.image.jpeg.full_url,
    'description': image.caption | safe
  }) %}
{% endfor %}
<section class="tna-section tna-background-contrast tna-!--margin-top-l">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {{ tnaGallery({
        'title': exhibition_highlights.value.title,
        'headingLevel': 2,
        'text': exhibition_highlights.value.description,
        'items': gallery_images,
        'id': exhibition_highlights.id
      }) }}
    </div>
  </div>
</section>
{% endfor %}
{% for review in page_data.review %}
<section class="tna-section tna-background-accent">
  <div class="tna-container">
    <blockquote class="tna-column tna-column--full tna-exhibition-quote">
      <p>
        <span class="tna-visually-hidden">{{ review.value.stars }} stars</span>
        {% for star in range(0, review.value.stars | int) %}
        <i class="fa-solid fa-star" aria-hidden="true"></i>
        {% endfor %}
      </p>
      <div class="tna-heading-l tna-!--no-margin-top tna-exhibition-quote__body">{{ review.value.quote | safe }}</div>
      <p class="tna-exhibition-quote__attribution">
        <cite>{{ review.value.attribution }}</cite>
      </p>
    </blockquote>
  </div>
</section>
{% endfor %}
{% for video in page_data.video %}
<section class="tna-section tna-background-tint">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {% if video.type == 'youtube' %}
      {{ wagtailYouTubeVideo(video.value, video.id) }}
      {% elif video.type == 'media' %}
      <!-- {{ wagtailMedia(video.value, video.id, 2) }} -->
      <video id="{{ video.id }}" class="etna-video etna-video--selfhosted video-js vjs-16-9" controls{%- if video.value.media.transcript %} aria-label="Transcript provided below"{%- endif %}>
        <source src="{{ video.value.media.full_url }}" type="{{ video.value.media.mime }}">
        {% if video.value.media.subtitles_file_full_url %}
        <track kind="captions" src="{{ video.value.media.subtitles_file_full_url }}" srclang="en" label="English" default>
        {% endif %}
        {% if video.value.media.chapters_file_full_url %}
        <track kind="chapters" src="{{ video.value.media.chapters_file_full_url }}" srclang="en">
        {% endif %}
        <p>Your browser doesn't support HTML5 video. <a href="{{ video.value.media.full_url }}">Download the video file</a>.</p>
      </video>
      {% endif %}
    </div>
  </div>
</section>
{% endfor %}
<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h2 class="tna-heading-l">{{ page_data.related_pages_title }}</h2>
      {%- if page_data.featured_page %}
      {% set card_content = {
        'supertitle': page_data.featured_page.type_label,
        'title': page_data.featured_page.title,
        'headingLevel': 3,
        'headingSize': 'l',
        'href': page_data.featured_page.full_url,
        'body': page_data.featured_page.teaser_text,
        'label': 'New' if page_data.featured_page.is_newly_published,
        'labelColour': 'green',
        'horizontal': True,
        'style': 'accent',
        'fullAreaClick': True
      } %}
      {%- if page_data.featured_page.teaser_image %}
        {% set card_content = dict(card_content, **{
          'imageSrc': page_data.featured_page.teaser_image.jpeg.full_url,
          'imageAlt': page_data.featured_page.teaser_image.alt_text or '',
          'imageWidth': page_data.featured_page.teaser_image.jpeg.width,
          'imageHeight': page_data.featured_page.teaser_image.jpeg.height,
          'imageSources': [
            {
              'src': page_data.featured_page.teaser_image.webp.full_url,
              'type': 'image/webp',
              'width': page_data.featured_page.teaser_image.webp.width,
              'height': page_data.featured_page.teaser_image.webp.height
            }
          ]
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
      {%- endif %}
    </div>
    {% for page in page_data.related_pages %}
    <div class="tna-column tna-column--width-1-3 tna-!--margin-top-l">
      {% if page.type == 'featured_page' %}
        {% set card_content = {
          'title': page.value.page.title,
          'headingLevel': 3,
          'headingSize': 's',
          'href': page.value.page.full_url,
          'body': page.value.page.teaser_text,
          'label': 'New' if page.value.page.is_newly_published,
          'labelColour': 'green',
          'fullAreaClick': True,
          'classes': 'tna-card--full-height'
        } %}
        {%- if page.value.page.type_label %}
          {% set card_content = dict(card_content, **{
            'supertitle': page.value.page.type_label
          }) %}
        {%- endif %}
        {%- if page.value.page.published_date %}
          {% set card_content = dict(card_content, **{
            'meta': [
              {
                'title': 'Published',
                'text':  page.value.page.published_date.value | pretty_date
              }
            ]
          }) %}
        {%- endif %}
        {%- if page.value.page.teaser_image %}
          {% set card_content = dict(card_content, **{
            'imageSrc': page.value.page.teaser_image.jpeg.full_url,
            'imageAlt': page.value.page.teaser_image.alt_text or '',
            'imageWidth': page.value.page.teaser_image.jpeg.width,
            'imageHeight': page.value.page.teaser_image.jpeg.height,
            'imageSources': [
              {
                'src': page.value.page.teaser_image.webp.full_url,
                'type': 'image/webp',
                'width': page.value.page.teaser_image.webp.width,
                'height': page.value.page.teaser_image.webp.height
              }
            ]
          }) %}
        {%- endif %}
      {%- elif page.type == 'featured_external_link' %}
        {% set card_content = {
          'title': page.value.title,
          'headingLevel': 3,
          'headingSize': 's',
          'href': page.value.url,
          'body': page.value.description,
          'labelColour': 'green',
          'fullAreaClick': True,
          'classes': 'tna-card--full-height'
        } %}
        {%- if page.value.image %}
          {% set card_content = dict(card_content, **{
            'imageSrc': page.value.image.jpeg.full_url,
            'imageAlt': page.value.image.alt_text or '',
            'imageWidth': page.value.image.jpeg.width,
            'imageHeight': page.value.image.jpeg.height,
            'imageSources': [
              {
                'src': page.value.image.webp.full_url,
                'type': 'image/webp',
                'width': page.value.image.webp.width,
                'height': page.value.image.webp.height
              }
            ]
          }) %}
        {%- endif %}
      {%- endif %}
      {%- if card_content %}
      {{ tnaCard(card_content) }}
      {%- endif %}
    </div>
    {% endfor %}
  </div>
</section>
{% for event_links in page_data.event_links %}
<section class="tna-section tna-background-contrast">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h2 class="tna-heading-l">{{ page_data.event_title }}</h2>
    </div>
    {% for event in event_links.value %}
    <div class="tna-column tna-column--width-1-2 tna-column--full-tiny tna-!--margin-top-l">
      {% set card_content = {
        'title': event.title,
        'headingLevel': 3,
        'headingSize': 's',
        'href': event.url,
        'text': event.description,
        'fullAreaClick': True,
        'style': 'contrast',
        'classes': 'tna-card--full-height-'
      } %}
      {%- if event.image %}
        {% set card_content = dict(card_content, **{
          'imageSrc': event.image.jpeg.full_url,
          'imageAlt': event.image.alt_text or '',
          'imageWidth': event.image.jpeg.width,
          'imageHeight': event.image.jpeg.height,
          'imageSources': [
            {
              'src': event.image.webp.full_url,
              'type': 'image/webp',
              'width': event.image.webp.width,
              'height': event.image.webp.height
            }
          ]
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
    </div>
    {% endfor %}
  </div>
</section>
{%- endfor %}
{% for shop in page_data.shop %}
{% set shop_hero_image_caption = '' %}
{%- if shop.value.background_image.copyright %}
  {% set shop_hero_image_caption = shop_hero_image_caption + '<p>&copy; ' + page_data.hero_image.copyright + '</p>' %}
{%- endif %}
{{ tnaHero({
  'title': shop.value.title,
  'body': '<p>' | safe + shop.value.description + '</p>' | safe + '<div class="tna-button-group">' | safe + tnaButton({'text': shop.value.cta_text, 'href': shop.value.url}) + '</div>' | safe,
  'imageSrc': shop.value.background_image.jpeg.full_url,
  'imageAlt': '',
  'imageWidth': shop.value.background_image.jpeg.width,
  'imageHeight': shop.value.background_image.jpeg.height,
  'imageCaption': shop_hero_image_caption,
  'imageSources': [
    {
      'src': shop.value.background_image.webp.full_url,
      'width': shop.value.background_image.webp.width,
      'height': shop.value.background_image.webp.height,
      'type': 'image/webp'
    }
  ],
  'narrow': True,
  'style': 'accent'
}) }}
{% endfor %}
<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h2 class="tna-heading-l">Plan your visit</h2>
    </div>
    {% for plan_your_visit in page_data.plan_your_visit %}
    {% set accordion_items = [] %}
    {% for item in plan_your_visit.value %}
      {% set accordion_items = accordion_items.append({
        'title': item.title,
        'body': item.body | tna_html
      }) %}
    {% endfor %}
    {% if accordion_items %}
    <div class="tna-column tna-column--width-1-2 tna-!--margin-top-l">
      {{ tnaAccordion({
        'itemHeadingLevel': 3,
        'items': accordion_items
      }) }}
    </div>
    {% endif %}
    {% endfor %}
    <div class="tna-column tna-column--width-1-2 tna-!--margin-top-l">
      <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyDVqFIhr6gc5IqXsU4qRBHoR4kY5oz7jvQ&signature=YOUR_SIGNATURE">
    </div>
  </div>
</section>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
    <script src="{{ url_for('static', filename='exhibition.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
    {%- if page_data.video %}
    <script src="{{ url_for('static', filename='media.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
    {%- endif %}
{% endblock %}
