{% extends 'explore/base.html' %}

{%- from 'macros/article-blocks.html' import articleBlocks -%}
{%- from 'macros/article-sidebar.html' import articleSidebar -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'macros/feedback.html' import feedback -%}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='article.css') }}">
{% endblock %}

{% block content %}
<article class="etna-article" itemscope itemtype="https://schema.org/Article">
  <header class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <hgroup class="tna-hgroup-xl">
          <h1>
            <span class="tna-hgroup__supertitle">{{ page_data.meta.type | article_supertitle }}</span>
            <span class="tna-hgroup__title" itemprop="name">{{ page_data.title }}</span>
          </h1>
        </hgroup>
        <div class="tna-large-paragraph tna-!--margin-top-s">
          {{ page_data.intro | safe }}
        </div>
      </div>
    </div>
  </header>
  {% if 'hero_image_jpg' in page_data %}
  {{ tnaHero({
    'imageSrc': page_data.hero_image_jpg.full_url,
    'imageAlt': page_data.hero_image_jpg.alt,
    'imageWidth': page_data.hero_image_jpg.width,
    'imageHeight': page_data.hero_image_jpg.height,
    'imageCaption': page_data.hero_image_caption,
    'imageSources': [
      {
        'src': page_data.hero_image_webp_small.full_url,
        'width': page_data.hero_image_webp_small.width,
        'height': page_data.hero_image_webp_small.height,
        'type': 'image/webp',
        'media': '(max-width: 48em)'
      }
    ]
  }) }}
  {% endif %}
  <div class="tna-section tna-!--padding-top-m">
    <div class="tna-container">
      <div class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny">
        {{ articleSidebar(page_data.body) }}
      </div>
      <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny etna-article__sections">
        {{ articleBlocks(page_data.body, get_wagtail_image, get_wagtail_page, get_wagtail_media, config) }}
      </div>
      <div class="tna-column tna-column--full tna-!--margin-top-m">
        <p>
          <small>&quot;{{ page_data.meta.type | article_supertitle }} {{ page_data.title }}&quot; was first published on <time datetime="{{ page_data.meta.first_published_at | iso_date }}">{{ page_data.meta.first_published_at | pretty_date }}</time>.</small>
        </p>
      </div>
    </div>
  </div>
</article>
<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h2 class="tna-heading-l">You may also be interested in</h2>
    </div>
    {% for page in similar_items %}
    <div class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny">
      {{ tnaCard({
        'supertitle': page.meta.type | article_supertitle,
        'title': page.title,
        'headingLevel': 3,
        'headingSize': 's',
        'href': page.meta.html_url,
        'body': page.teaser_text,
        'imageSrc': page.teaser_image_jpg.full_url,
        'imageAlt': page.teaser_image_jpg.alt,
        'imageWidth': page.teaser_image_jpg.width,
        'imageHeight': page.teaser_image_jpg.height,
        'plainSupertitle': True,
        'htmlElement': 'article',
        'classes': 'tna-!--margin-top-l'
      }) }}
    </div>
    {% endfor %}
  </div>
</section>
<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h2 class="tna-heading-l">Discover highlights from the collection</h2>
    </div>
    TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO
  </div>
</section>
<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h2 class="tna-heading-l">More stories</h2>
    </div>
    {% for page in latest_items %}
    <div class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny">
      {{ tnaCard({
        'supertitle': page.meta.type | article_supertitle,
        'title': page.title,
        'headingLevel': 3,
        'headingSize': 's',
        'href': page.meta.html_url,
        'body': page.teaser_text,
        'imageSrc': page.teaser_image_jpg.full_url,
        'imageAlt': page.teaser_image_jpg.alt,
        'imageWidth': page.teaser_image_jpg.width,
        'imageHeight': page.teaser_image_jpg.height,
        'plainSupertitle': True,
        'htmlElement': 'article',
        'classes': 'tna-!--margin-top-l'
      }) }}
    </div>
    {% endfor %}
  </div>
</section>
{{ feedback() }}
{% endblock %}

{% block bodyEnd %}
<script src="{{ url_for('static', filename='article.min.js') }}"></script>
{{ super() }}
{% endblock %}
