{% extends 'explore/base.html' %}

{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'components/index-grid/macro.html' import tnaIndexGrid -%}
{%- from 'macros/feedback.html' import feedback -%}

{% block content %}
<!-- TODO: Heading and body? -->
{{ tnaHero({
  'title': page_data.title,
  'body': page_data.intro | safe,
  'imageSrc': page_data.hero_image.image_jpeg.full_url,
  'imageAlt': page_data.hero_image.image_jpeg.alt or 'TODO',
  'imageWidth': page_data.hero_image.image_jpeg.width,
  'imageHeight': page_data.hero_image.image_jpeg.height,
  'imageSources': [
    {
      'src': page_data.hero_image_small.image_webp.full_url,
      'width': page_data.hero_image_small.image_webp.width,
      'height': page_data.hero_image_small.image_webp.height,
      'type': 'image/webp',
      'media': '(max-width: 48em)'
    },
    {
      'src': page_data.hero_image_small.image_jpeg.full_url,
      'width': page_data.hero_image_small.image_jpeg.width,
      'height': page_data.hero_image_small.image_jpeg.height,
      'type': 'image/jpeg',
      'media': '(max-width: 48em)'
    },
    {
      'src': page_data.hero_image.image_webp.full_url,
      'width': page_data.hero_image.image_webp.width,
      'height': page_data.hero_image.image_webp.height,
      'type': 'image/webp'
    }
  ]
}) }}
<section class="tna-section">
  {{ tnaIndexGrid({
    'title': page_data.title + ' highlights in pictures',
    'headingLevel': 2,
    'items': children_index_grid,
    'columns': 3,
    'columnsSmall': 2,
    'columnsTiny': 1
  }) }}
</section>
{{ feedback() }}
{% endblock %}
