{% extends 'explore/base.html' %}

{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'components/index-grid/macro.html' import tnaIndexGrid -%}
{%- from 'macros/feedback.html' import feedback -%}

{% block content %}
{{ tnaHero({
  'heading': page_data.title,
  'body': page_data.intro | safe,
  'imageSrc': page_data.hero_image_jpg.full_url,
  'imageAlt': page_data.hero_image_jpg.alt,
  'imageWidth': page_data.hero_image_jpg.width,
  'imageHeight': page_data.hero_image_jpg.height,
  'imageSources': [
    {
      'src': page_data.hero_image_jpg_small.full_url,
      'type': 'image/jpeg',
      'media': '(max-width: 48em)',
      'width': page_data.hero_image_jpg_small.width,
      'height': page_data.hero_image_jpg_small.height
    },
    {
      'src': page_data.hero_image_webp_small.full_url,
      'type': 'image/webp',
      'media': '(max-width: 48em)',
      'width': page_data.hero_image_webp_small.width,
      'height': page_data.hero_image_webp_small.height
    },
    {
      'src': page_data.hero_image_webp.full_url,
      'type': 'image/webp',
      'width': page_data.hero_image_webp.width,
      'height': page_data.hero_image_webp.height
    }
  ]
}) }}
<section class="tna-section">
  {{ tnaIndexGrid({
    'title': page_data.title + ' highlights in pictures',
    'headingLevel': 2,
    'items': children_index_grid,
    'columns': 3,
    'columnsSmall': 2,
    'columnsTiny': 1
  }) }}
</section>
{{ feedback() }}
{% endblock %}
