{% extends 'explore/base.html' %}

{%- from 'macros/feedback.html' import feedback -%}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='highlight-gallery.css') }}">
{% endblock %}

{% block content %}
<article>
  <header class="tna-section tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <hgroup class="tna-hgroup-xl">
        <p class="tna-hgroup__supertitle">{{ page_data.meta.type | article_supertitle }}</p>
        <h1 class="tna-hgroup__title">{{ page_data.title }}</h1>
      </hgroup>
      {{ page_data.intro | safe }}
    </div>
  </header>
  <section class="tna-background-contrast">
    {% for highlight in page_data.page_highlights %}
    {% if not loop.first %}
    <hr>
    {% endif %}
    {% with image = get_wagtail_image(highlight.image) %}
    <div class="tna-section tna-container tna-container--centred tna-!--padding-top-s" itemscope itemtype="https://schema.org/ImageObject">
      <div class="tna-column tna-column--width-1-2 tna-column--full-medium tna-column--full-small tna-column--full-tiny tna-column--order-3 tna-column--order-1-medium tna-column--order-1-small tna-column--order-1-tiny tna-!--padding-top-m">
        <img src="{{ config.WAGTAIL_MEDIA_URL }}{{ highlight.image_details.meta.download_url }}" width="{{ highlight.image_details.width }}" height="{{ highlight.image_details.height }}" alt="{{ highlight.alt_text }}" class="etna-highlight-gallery__image" itemprop="contentUrl">
      </div>
      <div class="tna-column tna-column--width-1-2 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-column--order-2 tna-!--padding-top-m">
        <h2 class="tna-heading-l" itemprop="name">{{ highlight.image_details.title }}</h2>
        <dl class="tna-dl tna-dl--plain">
          <dt>Date</dt>
          <dd>{{ highlight.image_details.record_dates }}</dd>
          <dt>Catalogue reference</dt>
          <dd>{{ highlight.record_data.ref }}</dd>
        </dl>
        <div class="etna-space-above" itemprop="description">
          {{ image.description | safe }}
        </div>
        <div class="tna-button-group">
          <a href="{{ url_for('catalogue.details', id=highlight.record_data.id) }}" class="tna-button tna-button--small" itemprop="url">View record details</a>
        </div>
      </div>
    </div>
    {% endwith %}
    {% endfor %}
  </section>
  <aside>
    <div class="tna-section tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h2 class="tna-heading-l">More to explore</h2>
        <p>[TODO]</p>
      </div>
    </div>
  </aside>
</article>
{{ feedback() }}
{% endblock %}
