{% extends 'base.html' %}

{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/index-grid/macro.html' import tnaIndexGrid -%}
{%- from 'macros/feedback.html' import feedback -%}

{% block content %}
<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">{{ page_data['title'] }}</h1>
      {{ page_data['intro'] | safe }}
    </div>
  </div>
  {{ tnaIndexGrid({
    'title': page_data['title'],
    'items': large_cards,
    'columns': 2,
    'columnsTiny': 1
  }) }}
</section>
<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h2 class="tna-heading-l">{{ page_data['articles_title'] }}</h2>
      <p>{{ page_data['articles_introduction'] }}</p>
    </div>
    <div class="tna-column tna-column--full">
      {{ tnaCard({
        'supertitle': featured_article['meta']['type'] | article_supertitle,
        'title': featured_article['title'],
        'headingLevel': 3,
        'headingSize': 'l',
        'href': featured_article['meta']['html_url'],
        'body': featured_article['teaser_text'],
        'imageSrc': featured_article['teaser_image_jpg']['full_url'],
        'imageAlt': featured_article['teaser_image_jpg']['alt'],
        'imageWidth': featured_article['teaser_image_jpg']['width'],
        'imageHeight': featured_article['teaser_image_jpg']['height'],
        'actions': [
          {
            'text': 'Read about ' + featured_article['title'],
            'href': featured_article['meta']['html_url']
          }
        ],
        'plainSupertitle': True,
        'htmlElement': 'article',
        'horizontal': True,
        'style': 'accent',
        'classes': 'tna-!--margin-top-l'
      }) }}
    </div>
    {% for featured_page in featured_pages %}
    <div class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny">
      {{ tnaCard({
        'supertitle': featured_page['meta']['type'] | article_supertitle,
        'title': featured_page['title'],
        'headingLevel': 3,
        'headingSize': 's',
        'href': featured_page['meta']['html_url'],
        'body': featured_page['teaser_text'],
        'imageSrc': featured_page['teaser_image_jpg']['full_url'],
        'imageAlt': featured_page['teaser_image_jpg']['alt'],
        'imageWidth': featured_page['teaser_image_jpg']['width'],
        'imageHeight': featured_page['teaser_image_jpg']['height'],
        'plainSupertitle': True,
        'htmlElement': 'article',
        'classes': 'tna-!--margin-top-l'
      }) }}
    </div>
    {% endfor %}
  </div>
  <div class="tna-container tna-container--centred tna-!--margin-top-l">
    <div class="tna-column">
      <a href="/explore-the-collection/stories/" class="tna-button " role="button">Browse all stories</a>
    </div>
  </div>
</section>
{{ feedback() }}
{% endblock %}
