{% extends "base.html" %}

{% block content %}
<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <hgroup class="tna-hgroup-xl">
        <p class="tna-hgroup__supertitle">{{ data['meta']['type'] | article_supertitle }}</p>
        <h1 class="tna-hgroup__title">{{ data['title'] }}</h1>
      </hgroup>
      {{ data['intro'] | safe }}
    </div>
  </div>
  {% if 'hero_image_jpg' in data %}
  <div class="tna-hero">
    <figure class="tna-hero__figure">
      <figcaption class="tna-hero__caption">
        <details class="tna-hero__details">
          <summary class="tna-hero__details-summary">
            <span class="tna-hero__details-summary-icon">I</span>mage caption
          </summary>
          <div class="tna-hero__information">
            {{ data['hero_image_caption'] | safe }}
          </div>
        </details>
      </figcaption>
      <picture class="tna-hero__image">
        <img class="tna-picture__image" width="{{ data['hero_image_jpg']['width'] }}" height="{{ data['hero_image_jpg']['height'] }}" src="{{ data['hero_image_jpg']['full_url'] }}" alt="">
      </picture>
    </figure>
  </div>
  {% endif %}
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <p>TODO</p>
    </div>
  </div>
</section>
{% endblock %}
