{%- from 'components/button/macro.html' import tnaButton -%}

{% macro authors_list(authors, external_authors, horizontal, width_classes) %}
  <div class="etna-author-list{% if horizontal %} etna-author-list--horizontal{% endif %} tna-column{% if width_classes %} {{ width_classes }} {% else %} tna-column--full{% endif %}">
    <h2 class="etna-author-list__heading{% if horizontal %} tna-heading-s{% else %} tna-heading-m{% endif %}">Author{{ 's' if authors | length > 1 or external_authors | length > 1 or (authors and external_authors) }}</h2>
    <ul class="etna-author-list__items">
      {%- for author in authors %}
      <li class="etna-author-list__item" itemprop="author" itemscope itemtype="https://schema.org/Person">
        {%- if author.image_small %}
        <img src="{{ author.image_small.jpeg.url }}" alt="Profile photo for {{ author.title }}." width="{{ author.image_small.jpeg.width }}" height="{{ author.image_small.jpeg.height }}" class="etna-author-list__image" itemprop="image">
        {%- else %}
        <img src="{{ url_for('static', filename='images/blank-profile.svg') }}" width="128" height="128" class="etna-author-list__image" alt="">
        {%- endif %}
        <div class="etna-author-list__details">
          <p class="etna-author-list__name">
            <strong>
              <a href="{{ author.url }}" rel="author">
                <span itemprop="name">{{ author.title }}</span>
              </a>
              <link itemprop="url" href="{{ author.url }}">
            </strong>
          </p>
          <p class="etna-author-list__description" itemprop="jobTitle">{{ author.role }}</p>
        </div>
      </li>
      {%- endfor %}
      {%- if external_authors %}
      {%- for author in external_authors %}
      <li class="etna-author-list__item" itemprop="author" itemscope itemtype="https://schema.org/Person">
        {%- if author.image %}
        <img src="{{ author.image.jpeg.url }}" alt="Profile photo for {{ author.name }}." width="{{ author.image.jpeg.width }}" height="{{ author.image.jpeg.height }}" class="etna-author-list__image" itemprop="image">
        {%- else %}
        <img src="{{ url_for('static', filename='images/blank-profile.svg') }}" width="128" height="128" class="etna-author-list__image" alt="">
        {%- endif %}
        <div class="etna-author-list__details">
          <p class="etna-author-list__name">
            <strong itemprop="name">{{ author.name }}</strong>
          </p>
          <p class="etna-author-list__description" itemprop="jobTitle">{{ author.description }}</p>
        </div>
      </li>
      {%- endfor %}
      {%- endif %}
    </ul>
  </div>
{% endmacro %}
