{%- from 'components/button/macro.html' import tnaButton -%}

{% macro feedback() %}
<div class="tna-container tna-container--centred tna-section">
  <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny">
    <div class="etna-feedback tna-background-tint">
      <h2 class="tna-heading-s">What did you think of this page?</h2>
      <div class="tna-button-group tna-button-group--full">
        {{ tnaButton({
          'text': 'Easy to use',
          'icon': 'thumbs-up',
          'buttonElement': True
        }) }}
        {{ tnaButton({
          'text': 'Hard to use',
          'icon': 'thumbs-down',
          'buttonElement': True
        }) }}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
