{%- from 'components/hero/macro.html' import tnaHero -%}

{% macro hero(page_data, hero_image, hero_image_small, options) %}
  {%- set options = options or {} %}
  {%- set hero_image_caption %}
    {{- page_data.hero_image_caption | safe -}}
    {%- if page_data.hero_image.copyright -%}
      <div class="tna-hero__copyright" itemprop="copyrightNotice">{{ page_data.hero_image.copyright | tna_html | safe }}</div>
    {%- endif -%}
  {%- endset %}
  {{ tnaHero({
    'supertitle': options.supertitle or page_data.type_label,
    'title': options.title or page_data.title,
    'body': caller() if caller else ((page_data.intro | tna_html | safe) or ''),
    'imageSrc': hero_image.jpeg.full_url,
    'imageAlt': hero_image.description,
    'imageWidth': hero_image.jpeg.width,
    'imageHeight': hero_image.jpeg.height,
    'imageCaption': hero_image_caption,
    'imageSources': [
      {
        'src': hero_image_small.webp.full_url,
        'width': hero_image_small.webp.width,
        'height': hero_image_small.webp.height,
        'type': 'image/webp',
        'media': '(max-width: 48em)'
      },
      {
        'src': hero_image_small.jpeg.full_url,
        'width': hero_image_small.jpeg.width,
        'height': hero_image_small.jpeg.height,
        'type': 'image/jpeg',
        'media': '(max-width: 48em)'
      },
      {
        'src': hero_image.webp.full_url,
        'width': hero_image.webp.width,
        'height': hero_image.webp.height,
        'type': 'image/webp'
      }
    ],
    'large': options.large if 'large' in options and options.large is not none else False,
    'style': 'accent-light' if 'style' not in options or options.style is none else options.style,
    'layout': options.layout if 'layout' in options and options.layout is not none else 'split'
  }, hero_image.uuid, hero_image.title) }}
{% endmacro %}
