{% macro meta(page_data) %}
{% set siteName = page_data.siteName if 'siteName' in page_data else 'The National Archives' %}
{% set title = page_data.meta.seo_title if page_data.meta and page_data.meta.seo_title else page_data.title or '' %}
{% set description = page_data.meta.search_description if page_data.meta else '' %}
{% set url = page_data.meta.html_url if page_data.meta else request.url %}
    <meta property="og:logo" content="{{ url_for('static', filename='assets/images/icon-1024x1024.png') }}">
    <meta name="apple-mobile-web-app-title" content="{{ siteName }}">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:site_name" content="{{ siteName }}">
    <meta property="og:type" content="{{ og_type | default('website') }}">
    <meta property="og:locale" content="en_GB">
    <meta name="twitter:card" content="summary">
{% if title %}
    <meta property="og:title" content="{{ title }}">
{%- endif %}
{% if page_data.meta and page_data.meta.twitter_og_title %}
    <meta name="twitter:title" content="{{ page_data.meta.twitter_og_title }}">
{%- endif %}

    <meta name="description" content="{{ description or page_data.meta.teaser_text }}">
    <meta property="og:description" content="{{ description or page_data.meta.teaser_text }}">
{% if page_data.meta and page_data.meta.twitter_og_description %}
    <meta name="twitter:description" content="{{ page_data.meta.twitter_og_description }}">
{%- endif %}

{% if url %}
    <meta property="og:url" content="{{ url }}">
{%- endif %}

{%- set og_image = None %}
{% if page_data.meta and page_data.meta.facebook_og_image %}
    {% set og_image = {
        'src': page_data.meta.facebook_og_image.jpeg.full_url,
        'width': page_data.meta.facebook_og_image.jpeg.width,
        'height': page_data.meta.facebook_og_image.jpeg.height,
        'type': 'image/jpeg'
      } %}
{%- elif page_data.meta and page_data.meta.teaser_image %}
{%- set og_image = {
    'src': page_data.meta.teaser_image.jpeg.full_url,
    'width': page_data.meta.teaser_image.jpeg.width,
    'height': page_data.meta.teaser_image.jpeg.height,
    'type': 'image/jpeg'
  } %}
{%- endif %}

{% if og_image %}
    <meta property="og:image" content="{{ og_image.src }}">
    <meta property="og:image:width" content="{{ og_image.width }}">
    <meta property="og:image:height" content="{{ og_image.height }}">
    <meta property="og:image:type" content="{{ og_image.type }}">
{%- endif %}

{%- set og_image_twitter = None %}
{% if page_data.meta and page_data.meta.twitter_og_image %}
    {% set og_image_twitter = {
        'src': page_data.meta.twitter_og_image.jpeg.full_url
      } %}
{%- elif og_image %}
    {% set og_image_twitter = og_image %}
{%- elif page_data.meta and page_data.meta.teaser_image %}
    {% set og_image_twitter = {
        'src': page_data.meta.teaser_image.jpeg.full_url
    } %}
{%- endif %}
{% if og_image_twitter %}
    <meta name="twitter:image" content="{{ og_image_twitter.src }}">
{%- endif %}

{% if page_data.id %}
    <meta name="tna.page.wagtail.id" content="{{ page_data.id }}">
{%- endif %}

{% if page_data.title %}
    <meta name="tna.page.title" content="{{ page_data.title }}">
{%- endif %}

{% if page_data.meta and page_data.meta.type %}
    <meta name="tna.page.wagtail.type" content="{{ page_data.meta.type }}">
    <meta name="tna_root:page_type" content="{{ page_data.meta.type }}">
{%- endif %}

{% if page_data.tags and page_data.tags | length %}
    <meta name="tna_root:taxonomy_term" content="{{ page_data.tags | join('; ') }}">
{%- endif %}

{% if page_data.topics and page_data.topics | length %}
    {% set topics = [] %}
    {% for topic in page_data.topics %}
        {% set topics = topics.append(topic.title) %}
    {% endfor %}
    <meta name="tna_root:taxonomy_topic" content="{{ topics | join('; ') }}">
{%- endif %}

{% if page_data.time_periods and page_data.time_periods | length %}
    {% set time_periods = [] %}
    {% for time_period in page_data.time_periods %}
        {% set time_periods = time_periods.append(time_period.title) %}
    {% endfor %}
    <meta name="tna_root:time_period" content="{{ time_periods | join('; ') }}">
{%- endif %}
{% endmacro %}
