{% macro simplePageWithSidebar(page_content) %}
<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-section tna-!--no-padding-bottom">
      <h1 class="tna-heading-xl">TEST</h1>
    </div>
  </div>
</section>
<div class="tna-container">
  {% set headings = page_content | headings_list %}
  {%- if headings %}
  <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny">
    <!-- {{ headings }} -->
    <nav class="etna-article__sidebar" aria-label="Table of contents">
      {# TODO: Make a marco for this recursion #}
      <ol class="tna-ol tna-ol--plain etna-article__sidebar-items">
        {%- for heading in headings %}
        <li>
          <a href="#{{ heading.id }}" class="etna-article__sidebar-item">
            {{ heading.title }}
          </a>
          {%- if heading.children %}
          <ol class="tna-ol tna-ol-plain">
            {%- for child in heading.children %}
            <li>
              <a href="#{{ child.id }}" class="etna-article__sidebar-item-child">
                {{ child.title }}
              </a>
            </li>
            {%- endfor %}
          </ol>
          {%- endif %}
        </li>
        {%- endfor %}
      </ol>
    </nav>
  </div>
  {%- endif %}
  <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny">
    {{ page_content | safe }}
  </div>
</div>
{% endmacro %}