{% macro simplePageWithSidebar() %}
<div class="tna-container tna-section tna-!--no-padding-top">
  {% set headings = caller() | headings_list %}
  {%- if headings %}
  <div class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny tna-!--padding-top-m">
    <nav class="etna-article__sidebar" aria-label="Table of contents">
      {# TODO: Make a marco for this recursion #}
      <h2 class="tna-heading-m">Contents</h2>
      <ol class="tna-ol tna-ol--plain etna-article__sidebar-items">
        {%- for heading in headings %}
        {%- if heading.level == '2' %}
        <li>
          <a href="#{{ heading.id }}" class="etna-article__sidebar-item">
            {{ heading.title }}
          </a>
          {%- if heading.children %}
          <ol class="tna-ol tna-ol-plain">
            {%- for child in heading.children %}
            <li>
              <a href="#{{ child.id }}" class="etna-article__sidebar-item-child">
                {{ child.title }}
              </a>
            </li>
            {%- endfor %}
          </ol>
          {%- endif %}
        </li>
        {%- endif %}
        {%- endfor %}
      </ol>
    </nav>
  </div>
  {%- endif %}
  <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny tna-!--padding-top-m">
    {{ caller() }}
  </div>
</div>
{% endmacro %}