{%- from 'macros/wagtail_block.html' import wagtail_block -%}

{% macro wagtail_streamfield(body, initial_next_heading_level, footnotes, picture_itemprop) %}
  {%- set ns = namespace(next_heading_level=initial_next_heading_level) %}
  {% for body_item in body %}
    {%- if body_item.type == 'content_section' %}
      <section class="tna-!--margin-top-m" id="section-heading-{{ body_item.value.heading | slugify }}-{{ body_item.id }}" data-sectionfor="{{ body_item.value.heading | slugify }}-{{ body_item.id }}">
        {% set ns.next_heading_level = initial_next_heading_level + 1 %}
        {{ wagtail_block({
          'type': 'sub_heading',
          'id': body_item.id,
          'value': {
            'heading': body_item.value.heading
          }
        }, ns.next_heading_level, True, 'tna-!--padding-top-s', picture_itemprop) }}
        {% for block in body_item.value.content %}
          {%- if block.type == 'sub_heading' %}
            {% set ns.next_heading_level = initial_next_heading_level + 2 %}
          {%- elif block.type == 'sub_sub_heading' %}
            {% set ns.next_heading_level = initial_next_heading_level + 3 %}
          {%- endif %}
          {{ wagtail_block(block, ns.next_heading_level, True, None, picture_itemprop) }}
        {% endfor %}
      </section>
    {%- else %}
      {# This shouldn't be needed as sub_headings and sub_sub_headings can't yet go directly into the body #}
      {%- if body_item.type == 'sub_heading' %}
        {% set ns.next_heading_level = initial_next_heading_level + 1 %}
      {%- elif body_item.type == 'sub_sub_heading' %}
        {% set ns.next_heading_level = initial_next_heading_level + 2 %}
      {%- endif %}
      {{ wagtail_block(body_item, ns.next_heading_level, True, None, picture_itemprop) }}
    {%- endif %}
  {% endfor %}
  {% if footnotes %}
    <h2 class="tna-heading-l" id="footnotes">Footnotes</h2>
    <ol id="footnotes-list" class="tna-ol tna-ol--footnotes">
      {% for footnote in footnotes %}
      <li id="footnote-{{ footnote.uuid }}" data-footnoteid="{{ footnote.uuid }}" data-footnoteidshort="{{ footnote.uuid[0:6] }}">
        {{ footnote.text | safe }}
      </li>
      {% endfor %}
    </ol>
  {% endif %}
{% endmacro %}
