{% extends 'layouts/page_with_contents_sidebar.html' %}

{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/quick-filters/macro.html' import tnaQuickFilters -%}
{%- from 'macros/feedback.html' import feedback -%}
{%- from 'macros/meta.html' import meta -%}

{%- set pageTitle = page_data.title -%}
{%- set themeAccent = 'green' -%}
{%- set noPadding = True -%}
{%- set aToZSidebar = True -%}

{% block skipLink %}
{{ tnaSkipLink({
  'href': 'people',
  'text': 'Skip to list of people'
}) }}
{{ super() }}
{% endblock %}

{% block head %}
{{ super() }}
{{ meta(page_data) }}
{% endblock %}

{% block contentHeader %}
<h1 class="tna-heading-xl">{{ page_data.title }}</h1>
{{ page_data.intro | safe }}
{% endblock %}

{% block afterContentHeader %}
{#
<div class="tna-background-tint tna-!--padding-vertical-s">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h2 class="tna-heading-s">Filter people by role</h2>
      {% set roles_list = [{
        'label': 'All people',
        'href': page_data.meta.url,
        'selected': not request.args.get('role')
      }] %}
      {% for role in roles %}
        {% set roles_list = roles_list.append({
          'label': role + 's',
          'href': '?role=' + (role | lower),
          'selected': request.args.get('role') == (role | lower)
        }) %}
      {% endfor %}
      {{ tnaQuickFilters({
        'items': roles_list,
        'classes': 'tna-!--margin-top-s'
      }) }}
    </div>
  </div>
</div>
#}
{% endblock %}

{% set sidebarTitle = 'People by last name' %}
{% set sidebarHeadingSize = 's' %}
{% block content %}
  {#
  {%- if request.args.get('role') %}
  <div class="tna-container tna-container--no-padding">
    <div class="tna-column tna-column--full">
      <p class="tna-!--margin-bottom-m">Showing {{ page_data.people_pages | length }} of ??? people.</p>
    </div>
  </div>
  {%- endif %}
  #}

  <nav aria-label="People" id="people">
  {%- set ns = namespace(first_letter='') %}
  {%- for person in page_data.people_pages %}
  {%- if ns.first_letter != person.last_name.0 | upper %}
    
    {%- if ns.first_letter != '' %}
      </ul>
    {%- endif %}

    {%- set ns.first_letter = person.last_name.0 | upper %}
    <div class="tna-container tna-container--no-padding">
      <div class="tna-column tna-column--full">
        <h2 id="{{ ns.first_letter | lower }}" class="tna-heading-l tna-!--padding-top-s tna-!--padding-bottom-m"><span class="tna-visually-hidden">Last names starting with </span>{{ ns.first_letter }}</h2>
      </div>
    </div>
    <ul class="tna-container tna-container--no-padding tna-!--margin-top-m-">
  {%- endif %}

    <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
      {% set role_tags = [] %}
      {% for role_tag in person.role_tags %}
        {% set role_tags = role_tags.append({
          'title': 'Role',
          'text': role_tag.name
        }) %}
      {% endfor %}
      {% set card_content = {
        'title': person.title,
        'headingLevel': 3,
        'headingSize': 's',
        'href': person.url,
        'text': person.role,
        'meta': role_tags,
        'accentMeta': True,
        'fullAreaClick': True,
        'classes': 'tna-card--person tna-card--padded- tna-card--full-height-'
      } %}
      {%- if person.image %}
        {% set card_content = dict(card_content, **{
          'imageSrc': person.image.jpeg.full_url,
          'imageAlt': person.image.description,
          'imageWidth': person.image.jpeg.width,
          'imageHeight': person.image.jpeg.height,
          'imageSources': [
            {
              'src': person.image.webp.full_url,
              'type': 'image/webp',
              'width': person.image.webp.width,
              'height': person.image.webp.height
            }
          ]
        }) %}
      {%- else %}
        {% set card_content = dict(card_content, **{
          'imageSrc': url_for('static', filename='images/blank-profile.svg'),
          'imageAlt': 'Profile photo for ' + person.title,
          'imageWidth': 512,
          'imageHeight': 512
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
    </li>
    {%- endfor %}
  </ul>
  </nav>
{% endblock %}
