{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/pagination/macro.html' import tnaPagination -%}
{%- from 'components/sidebar/macro.html' import tnaSidebar -%}
{%- from 'macros/feedback.html' import feedback -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'macros/meta.html' import meta -%}
{%- from 'macros/wagtail_body.html' import wagtail_body -%}

{%- set themeAccent = 'black' if page_data.mourning_notice else 'green' -%}
{%- set pageTitle = page_data.title -%}

{% block head %}
{{ super() }}
{{ meta(page_data) }}
{% endblock %}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='person-profile.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
{% endblock %}

{% block main %}
  {%- if breadcrumbs and breadcrumbs | length > 0 %}
  <div class="tna-background-accent-light">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        {{ tnaBreadcrumbs({
          'items': breadcrumbs,
          'structuredData': True,
          'classes': 'tna-!--padding-vertical-s'
        }) }}
      </div>
    </div>
  </div>
  {%- endif %}
  <main class="tna-main {{ mainClasses }}" id="main-content" itemscope itemtype="https://schema.org/ProfilePage">
    <meta itemprop="dateCreated" content="{{ page_data.meta.first_published_at }}">
    {%- if page_data.global_alert or page_data.mourning_notice %}
    <div class="tna-background-accent-light">
      {{ global_alert_banners(page_data.global_alert, page_data.mourning_notice) }}
    </div>
    {%- endif %}
    <article itemprop="mainEntity" itemtype="https://schema.org/Person">
      <div class="tna-background-accent-light tna-!--padding-top-l tna-!--padding-bottom-xl">
        <div class="tna-container tna-container--centred">
          {%- if page_data.image or page_data.meta.teaser_image_square %}
          <div class="tna-column tna-column--width-1-6 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny tna-column--margin-right-1-12 tna-column--no-margin-right-medium tna-column--no-margin-right-small tna-column--no-margin-right-tiny tna-column--margin-left-1-12 tna-column--no-margin-left-medium tna-column--no-margin-left-small tna-column--no-margin-left-tiny tna-column--align-centre">
            {%- if page_data.image %}
            <img src="{{ page_data.image.jpeg.full_url }}" alt="Photo of {{ page_data.title }}" width="{{ page_data.image.jpeg.width }}" height="{{ page_data.image.jpeg.height }}" class="etna-person-image" itemprop="image">
            {%- elif page_data.meta.teaser_image_square %}
            <img src="{{ page_data.meta.teaser_image_square.jpeg.full_url }}" alt="Photo of {{ page_data.title }}" width="{{ page_data.meta.teaser_image_square.jpeg.width }}" height="{{ page_data.meta.teaser_image_square.jpeg.height }}" class="etna-person-image" itemprop="image">
            {%- endif %}
          </div>
          {%- endif %}
          <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-column--align-centre">
            <h1 class="tna-heading-xl" itemprop="name">{{ page_data.title }}</h1>
            {%- if page_data.role_tags %}
            <dl class="tna-dl-chips tna-!--margin-top-s">
              <dt>Role{{ 's' if page_data.role_tags | length > 1 }}</dt>
              {% for role in page_data.role_tags %}
              <dd>
                <span class="tna-dl-chips__item">
                  {{ role.name }}
                </span>
              </dd>
              {% endfor %}
            </dl>
            {%- endif %}
            <p class="tna-large-paragraph tna-!--margin-top-xs" itemprop="jobTitle">{{ page_data.role | safe }}</p>
          </div>
        </div>
      </div>
      {% if page %}
      <div class="tna-container">
        <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
          <div class="tna-button-group">
            {{ tnaButton({
              'text': 'Back to ' + page_data.first_name + '’s profile',
              'href': page_data.meta.url,
              'small': True,
              'plain': True,
              'icon': 'arrow-left'
            }) }}
          </div>
          <h2 class="tna-heading-l tna-!--no-margin-top">Articles by {{ page_data.first_name }}{% if pages > 1 %}, page {{ page }} of {{ pages }}{% endif %}</h2>
        </div>
      </div>
      <ul class="tna-container">
        {%- for article in articles %}
        <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--small-tiny tna-column--full-tiny tna-!--margin-top-l">
          {% set card_content = {
            'supertitle': article.type_label,
            'title': article.title,
            'headingLevel': 3,
            'headingSize': 's',
            'href': article.url,
            'body': article.teaser_text,
            'label': 'New' if article.is_newly_published,
            'labelColour': 'green',
            'fullAreaClick': True,
            'classes': 'tna-card--full-height'
          } %}
          {%- if article.teaser_image %}
            {% set card_content = dict(card_content, **{
              'imageSrc': article.teaser_image.jpeg.full_url,
              'imageAlt': article.teaser_image.alt_text or '',
              'imageWidth': article.teaser_image.jpeg.width,
              'imageHeight': article.teaser_image.jpeg.height,
              'imageSources': [
                {
                  'src': article.teaser_image.webp.full_url,
                  'type': 'image/webp',
                  'width': article.teaser_image.webp.width,
                  'height': article.teaser_image.webp.height
                }
              ]
            }) %}
          {%- endif %}
          {{ tnaCard(card_content) }}
          <meta itemprop="significantLink" content="{{ article.url }}">
        </li>
        {%- endfor %}
      </ul>
      <div class="tna-container tna-!--margin-top-xl">
        {% if pages > 1 %}
        <div class="tna-column tna-column--full">
          {{ tnaPagination(pagination) }}
        </div>
        {% endif %}
      </div>
      {% else %}
      <div class="tna-container tna-container--centred">
        {% set sidebar_items = [] %}
        {% set sidebar_items = sidebar_items + [{
          'text': 'About',
          'href': '#about'
        }] %}
        {%- if page_data.research_summary %}
          {% set sidebar_items = sidebar_items + [{
            'text': 'Research activity',
            'href': '#research-activity'
          }] %}
        {%- endif %}
        {%- if articles %}
          {% set sidebar_items = sidebar_items + [{
            'text': 'Articles',
            'href': '#articles'
          }] %}
        {%- endif %}
        {%- if page_data.shop_items %}
          {% set sidebar_items = sidebar_items + [{
            'text': 'Shop items',
            'href': '#shop-items'
          }] %}
        {%- endif %}
        {%- if sidebar_items | length > 1 %}
        <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--padding-top-m tna-!--hide-on-print">
          {{ tnaSidebar({
            'title': 'On this page',
            'headingLevel': 2,
            'items': sidebar_items,
            'type': 'sections',
            'sticky': True,
            'classes': 'tna-sidebar--static-on-mobile tna-!--padding-top-s'
          }) }}
        </div>
        {%- endif %}
        <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny etna-!--full-width-on-print etna-article__sections etna-article__sections">
          <section class="tna-section tna-!--padding-top-m etna-article__section">
            <h2 id="about" class="tna-heading-l tna-!--padding-top-s">About</h2>
            {{ page_data.summary | tna_html | safe }}
          </section>
          {%- if page_data.research_summary %}
          <hr class="tna-!--margin-top-s">
          <section class="tna-section tna-!--padding-top-m etna-article__section">
            <h2 id="research-activity" class="tna-heading-l tna-!--padding-top-s">Research activity</h2>
            {{ wagtail_body(page_data.research_summary, 3, page_data.footnotes) }}
          </section>
          {%- endif %}
          {%- if articles %}
          <hr class="tna-!--margin-top-s">
          <section class="tna-section tna-!--no-padding-bottom etna-article__section">
            <h2 id="articles" class="tna-heading-l tna-!--padding-bottom-m">Articles</h2>
            <ul class="tna-container tna-container--nested">
              {%- for article in articles %}
              <li class="tna-column tna-column--width-1-2 tna-column--full-tiny tna-!--margin-bottom-l">
                {% set card_content = {
                  'supertitle': article.type_label,
                  'title': article.title,
                  'headingLevel': 3,
                  'headingSize': 's',
                  'href': article.url,
                  'body': article.teaser_text,
                  'label': 'New' if article.is_newly_published,
                  'labelColour': 'green',
                  'fullAreaClick': True,
                  'classes': 'tna-card--full-height'
                } %}
                {%- if article.teaser_image %}
                  {% set card_content = dict(card_content, **{
                    'imageSrc': article.teaser_image.jpeg.full_url,
                    'imageAlt': article.teaser_image.alt_text or '',
                    'imageWidth': article.teaser_image.jpeg.width,
                    'imageHeight': article.teaser_image.jpeg.height,
                    'imageSources': [
                      {
                        'src': article.teaser_image.webp.full_url,
                        'type': 'image/webp',
                        'width': article.teaser_image.webp.width,
                        'height': article.teaser_image.webp.height
                      }
                    ],
                    'lazyImage': True
                  }) %}
                {%- endif %}
                {{ tnaCard(card_content) }}
                <meta itemprop="significantLink" content="{{ article.url }}">
              </li>
              {%- endfor %}
            </ul>
            {% if more_articles %}
            <div class="tna-button-group tna-button-group--centred tna-!--margin-bottom-l">
              {{ tnaButton({
                'text': 'Browse all ' + page_data.first_name + '’s articles',
                'href': '?page=1'
              }) }}
            </div>
            {% endif %}
          </section>
          {%- endif %}
          {%- if page_data.shop_items %}
          <hr class="tna-!--margin-top-s">
          <section class="tna-section tna-!--padding-top-m etna-article__section">
            <h2 id="shop-items" class="tna-heading-l tna-!--padding-top-s">Shop items</h2>
            <ul class="tna-container tna-container--nested">
              {% for item in page_data.shop_items %}
              <li class="tna-column tna-column--full tna-!--margin-top-m">
                {{ tnaCard({
                  'title': item.title,
                  'headingLevel': 3,
                  'headingSize': 's',
                  'href': item.url,
                  'meta': [
                    {
                      'title': 'Price',
                      'text': ('&pound;' | safe) + item.price
                    }
                  ],
                  'imageSrc': item.image.jpeg.full_url,
                  'imageAlt': '',
                  'imageWidth': item.image.jpeg.width,
                  'imageHeight': item.image.jpeg.height,
                  'fullAreaClick': True,
                  'horizontal': True,
                  'horizontalOnSmall': True,
                  'horizontalSmallImage': True,
                  'style': 'tint',
                  'fullAreaClick': True,
                  'classes': 'tna-card--full-height'
                }) }}
              </li>
              {% endfor %}
            </ul>
          </section>
          {%- endif %}
        </div>
      </div>
      {% endif %}
    </article>
  </main>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
    <script src="{{ url_for('static', filename='sections-sidebar.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
{% endblock %}
