{% extends 'base.html' %}

{%- from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs -%}
{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'macros/simple-page-with-sidebar.html' import simplePageWithSidebar -%}

{%- set themeAccent = 'blue' -%}
{%- set pageTitle = 'Details about cookies' -%}

{% block main %}
  <div class="tna-background-accent">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        {{ tnaBreadcrumbs({
          'items': [
            {
              'text': 'Home',
              'href': '/'
            }
          ],
          'structuredData': True
        }) }}
      </div>
    </div>
  </div>
  <main class="tna-main {{ mainClasses }}" id="main-content">
    <div class="tna-background-accent">
      <div class="tna-container tna-section tna-!--padding-bottom-xl">
        <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
          <hgroup class="tna-hgroup-xl">
            <p class="tna-hgroup__supertitle">Legal</p>
            <h1 class="tna-hgroup__title">Accessibility statement</h1>
          </hgroup>
          <p class="tna-large-paragraph">We are continually working to improve the accessibility of our digital services, and to develop our skills in relevant standards and techniques.</p>
        </div>
      </div>
    </div>
    {% call simplePageWithSidebar() %}





      <p>
        This statement applies to content published on the <strong>nationalarchives.github.io/design-system</strong> site.
      </p>
      <p>
        This website is run by The National Archives Digital Services team. We want as many people as possible to be able to use this website. For example, that means you should be able to:
      </p>
      <ul class="tna-ul">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without problems</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using just a mouse and on-screen keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>
      <p>
        We’ve also made the website text as simple as possible to understand.
      </p>
      <p>
        AbilityNet has <a href="https://mcmw.abilitynet.org.uk/">advice on making your device easier to use</a> if you have a disability.
      </p>
      <h3 id="feedback-and-contact-information" class="tna-heading-m tna-heading--no-link-arrow">
        Feedback and contact information
      </h3>
      <p>
        The National Archives Design System team is always looking to improve the accessibility of this website. If you find any problems that are not listed on this page or think this website is not meeting accessibility requirements, email us at <a href="mailto:webmaster@nationalarchives.gov.uk">webmaster@nationalarchives.National Archives</a>.
      </p>
      <p>
        The National Archives Design System team will review your request and get back to you in 2 working days.
      </p>
      <h3 id="enforcement-procedure" class="tna-heading-m tna-heading--no-link-arrow">
        Enforcement procedure
      </h3>
      <p>
        The National Archives Digital Service Team is committed to making its websites accessible, in accordance with the <a href="https://www.legislation.gov.uk/uksi/2018/952/contents">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a>.
      </p>
      <p>
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you contact us with a complaint and you’re not happy with our response, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
      </p>
      <h3 id="compliance-status" class="tna-heading-m tna-heading--no-link-arrow">
        Compliance status
      </h3>
      <p>
        The Design System website at <a href="https://nationalarchives.github.io/design-system">nationalarchives.github.io/design-system</a> is partially compliant with the Web Content Accessibility Guidelines (WCAG) version 2.2 AA standard. Non-accessible content is documented in the next section.
      </p>
      <p>
        The TNA Frontend Storybook website at <a href="https://nationalarchives.github.io/tna-frontend">nationalarchives.github.io/tna-frontend</a> is partially compliant with the Web Content Accessibility Guidelines (WCAG) version 2.2 AA standard. Non-accessible content is documented in the next section.
      </p>
      <p>
        The TNA Frontend codebase at <a href="https://github.com/nationalarchives/tna-frontend">github.com/nationalarchives/tna-frontend</a> is fully compliant with the Web Content Accessibility Guidelines (WCAG) version 2.1 AA standard.
      </p>
      <h3 id="non-accessible-content" class="tna-heading-m tna-heading--no-link-arrow">
        Non-accessible content
      </h3>
      <p>
        In this section, we only list non-accessible content that has been reported, verified and tracked in the following repositories:
      </p>
      <ul class="tna-ul">
        <li><a href="https://nationalarchives.github.io/design-system">National Archives Design System website</a></li>
    <li><a href="https://nationalarchives.github.io/tna-frontend">TNA Frontend Storybook website</a></li>
    <li><a href="https://github.com/nationalarchives/tna-frontend">TNA Frontend codebase</a></li>
    
      </ul>
      <h4 id="non-compliance-with-the-accessibility-regulations" class="tna-heading-s tna-heading--no-link-arrow">
        Non-compliance with the accessibility regulations
      </h4>
      <p>
        These accessibility concerns have been classified as being non-compliant, due to a failure in one or more WCAG 2.2 Level A and AA criteria.
      </p>
      <p>
        From the National Archives Design System website:
      </p>
      <p>
        There is currently no known non-compliant content in the National Archives Design System website.
      </p>
      <p>
        From the TNA Frontend Storybook website:
      </p>
      <p>
        There is currently no known non-compliant content in the TNA Frontend Storybook website.
      </p>
      <p>
        From the TNA Frontend codebase:
      </p>
      <p>
        There is currently no known non-compliant content in the TNA Frontend codebase.
      </p>
      <h4 id="disproportionate-burden" class="tna-heading-s tna-heading--no-link-arrow">
        Disproportionate burden
      </h4>
      <p>
        We do not currently make any claims of disproportionate burden for any of our services.
      </p>
      <h4 id="content-that%E2%80%99s-not-within-the-scope-of-the-accessibility-regulations" class="tna-heading-s tna-heading--no-link-arrow">
        Content that’s not within the scope of the accessibility regulations
      </h4>
      <p>
        The accessibility regulations apply to all portions of the National Archives Design System website, TNA Frontend Storybook website and TNA Frontend codebase.
      </p>
      <p>
        We do not have any content within these products which we consider to be outside the scope of the accessibility regulations.
      </p>
      <h4 id="other-identified-and-tracked-accessibility-concerns" class="tna-heading-s tna-heading--no-link-arrow">
        Other identified and tracked accessibility concerns
      </h4>
      <p>
        Above and beyond non-compliant content, we also track accessibility concerns which:
      </p>
      <ul class="tna-ul">
        <li>show strong evidence of being accessibility barriers</li>
    <li>do not constitute a failure in one or more WCAG 2.1 Level AA criteria</li>
    <li>are not classified as non-compliance with the accessibility regulations</li>
    <li>are determined as worth featuring in this accessibility statement</li>
    
      </ul>
      <p>
        From the National Archives Design System website:
      </p>
      <p>
        There are currently no known accessibility concerns in the National Archives Design System website which we have determined to be worth featuring in this accessibility statement.
      </p>
      <p>
        From the TNA Frontend Storybook website:
      </p>
      <p>
        There are currently no known accessibility concerns in the TNA Frontend Storybook website which we have determined to be worth featuring in this accessibility statement.
      </p>
      <p>
        From the TNA Frontend codebase:
      </p>
      <ol class="tna-ol">
        <li>The details component doesn’t work well with Dragon and VoiceOver. This is a known issue with the assistive tech and the <code>&lt;details&gt;</code> HTML element, rather than an issue with our details component specifically. Track the progress of GOV.UK Design System team with regards to this on the <a href="https://github.com/alphagov/govuk-frontend/issues/3693">GitHub issue: ‘Details component does not work well with Dragon and VoiceOver’</a>.</li>
    
      </ol>
      <h3 id="testing-our-products-for-accessibility" class="tna-heading-m tna-heading--no-link-arrow">
        Testing our products for accessibility
      </h3>
      <p>
        The <a href="https://nationalarchives.github.io/design-system/">National Archives Design System website</a> was last tested internally for accessibility issues on 9th November 2023.
      </p>
      <p>
        The <a href="https://nationalarchives.github.io/tna-frontend">TNA Frontend Storybook website</a> was last tested internally for accessibility issues on 9th November 2023.
      </p>
      <p>
        The <a href="https://github.com/nationalarchives/tna-frontend">TNA Frontend codebase</a> was last tested internally for accessibility issues on 9th November 2023.
      </p>
      <h3 id="how-the-national-archives-design-system-team-makes-their-websites-accessible" class="tna-heading-m tna-heading--no-link-arrow">
        How the National Archives Design System team makes their websites accessible
      </h3>
      <p>
        The National Archives Design System team works to make sure the Design System and Frontend websites, and the codebase they use, are accessible.
      </p>
      <p>
        Where possible, the team aims to research components and patterns with a representative range of users, including those with disabilities.
      </p>
      <p>
        We also test components to make sure they work with a broad range of browsers, devices and assistive technologies — including screen magnifiers, screen readers and speech recognition tools.
      </p>
      <p>
        When we publish new content, we’ll continue to make sure that it meets accessibility standards.
      </p>
      <h3 id="preparation-of-this-accessibility-statement" class="tna-heading-m tna-heading--no-link-arrow">
        Preparation of this accessibility statement
      </h3>
      <p>
        This statement was prepared on <time datetime="2023-11-09">9 November 2023</time>. It was last reviewed on <time datetime="2023-11-09">9 November 2023</time>.
      </p>










    {% endcall %}
  </main>
{% endblock %}
