{% extends 'base.html' %}

{%- from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs -%}
{%- from 'components/card/macro.html' import tnaCard -%}

{%- set themeAccent = 'blue' -%}
{%- set pageTitle = 'Terms of use' -%}

{% block main %}
  <div class="tna-background-accent">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        {{ tnaBreadcrumbs({
          'items': [
            {
              'text': 'Home',
              'href': '/'
            }
          ],
          'structuredData': True
        }) }}
      </div>
    </div>
  </div>
  <main class="tna-main {{ mainClasses }}" id="main-content">
    <div class="tna-background-accent">
      <div class="tna-container tna-section tna-!--padding-bottom-xl">
        <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">Terms of use</h1>
           <p>Welcome to The National Archives. Please help us safeguard our records by <a href="#">following our rules (PDF, 0.41 MB)</a>.</p>
           <p>This list of rules is also available from the welcome desk and our Enquiry Service Manager.</p>
        </div>
      </div>
    </div>
    <nav class="tna-section" aria-label="Child pages">
      <ul class="tna-container">
        <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
          {{ tnaCard({
            'title': 'Fair and reasonable use',
            'headingLevel': 2,
            'headingSize': 'm',
            'href': '#',
            'text': 'The National Archives permits registered users to order and download a reasonable number of documents for free and has set a maximum order limit of 100 documents in a 30-day period.'
          }) }}
        </li>
        <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
          {{ tnaCard({
            'title': 'Cookies',
            'headingLevel': 2,
            'headingSize': 'm',
            'href': url_for('legal.cookies'),
            'text': 'Information about how and why we use cookies on our website.'
          }) }}
        </li>
      </ul>
    </nav>
  </main>
{% endblock %}
