{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/date-search/macro.html' import tnaDateSearch -%}
{%- from 'components/quick-filters/macro.html' import tnaQuickFilters -%}
{%- from 'macros/back_to_top.html' import back_to_top -%}
{%- from 'macros/feedback.html' import feedback -%}

{%- set pageTitle = page_data.title -%}

{% block content %}
<div class="tna-container tna-section tna-!--padding-bottom-s">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
    <hgroup class="tna-hgroup-xl">
      <p class="tna-hgroup__supertitle">{{ page_data.type_label }}</p>
      <h1 class="tna-hgroup__title">{{ pageTitle }}</h1>
    </hgroup>
    <div class="tna-large-paragraph">{{ page_data.intro | tna_html | safe }}</div>
  </div>
</div>
{%- if events | length %}
<div class="tna-container">
  <div class="tna-column tna-column--full tna-!--padding-top-m">
    <p>Showing <strong>{{ events | length }}</strong> current event{{ '' if (events | length == 1) else 's' }}.</p>
  </div>
</div>
<ul class="tna-container tna-container--nested">
  {% for event in events %}
  <li class="tna-column tna-column--width-1-2 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
    {% set event_card_content = {
      'supertitle': event.type_label,
      'title': event.title,
      'headingLevel': 2,
      'headingSize': 'm',
      'href': event.url,
      'meta': [
        {
          'title': 'Date',
          'text': pretty_date_range(event.start_date, event.end_date),
          'icon': 'calendar'
        },
        {
          'title': 'Location',
          'text': event.short_location,
          'icon': 'location-dot'
        },
        {
          'title': 'Cost',
          'text': event.price_range,
          'icon': 'ticket'
        }
      ],
      'text': event.teaser_text,
      'fullAreaClick': True,
      'style': 'plain',
      'classes': 'tna-card--full-height'
    } %}
    {%- if event.teaser_image %}
      {% set event_card_content = dict(event_card_content, **{
        'lazyImage': True,
        'imageSrc': event.teaser_image.jpeg.full_url,
        'imageAlt': event.teaser_image.description,
        'imageWidth': event.teaser_image.jpeg.width,
        'imageHeight': event.teaser_image.jpeg.height,
        'imageSources': [
          {
            'src': event.teaser_image.webp.full_url,
            'type': 'image/webp',
            'width': event.teaser_image.webp.width,
            'height': event.teaser_image.webp.height
          }
        ]
      }) %}
    {%- endif %}
    {{ tnaCard(event_card_content) }}
    </li>
  {% endfor %}
</ul>
{%- else %}
<div class="tna-container">
  <div class="tna-column tna-column--full tna-!--padding-top-m">
    <p class="tna-heading-m">No events found.</p>
    {%- endif %}
  </div>
</div>

{{ feedback() }}
{{ back_to_top() }}
{% endblock %}

{% block bodyEnd %}
{{ super() }}
    <script src="{{ url_for('static', filename='events.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
{% endblock %}
