{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/hero/macro.html' import tnaHero -%}

{%- set pageTitle = page_data.title -%}

{%- set breadcrumbsStyle = 'accent' -%}
{%- set breadcrumbs = [
  {
    'text': 'Home',
    'href': '/'
  },
  {
    'text': 'What’s on',
    'href': '/whats-on/'
  },
  {
    'text': 'Events',
    'href': '/whats-on/events/'
  }
] -%}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='event.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
{% endblock %}

{% block content %}
{{ tnaHero({
  'supertitle': 'Online event',
  'title': 'Spies, Secrets and Archives',
  'body': '<p class="tna-large-paragraph">Join Gordon Corera for the inside scoop on a career reporting on the world of secrets and spies.</p><dl class="tna-dl-chips"><dt>Date</dt><dd><span class="tna-dl-chips__item"><i class="fa-solid fa-calendar" aria-hidden="true"></i>Saturday 28 June 2014</span></dd></dl>',
  'imageSrc': 'https://picsum.photos/600/480',
  'imageAlt': '',
  'imageWidth': 600,
  'imageHeight': 480,
  'narrow': True,
  'style': 'accent',
  'layout': 'split'
}) }}
<div class="tna-container tna-section tna-!--no-padding-top">
  <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <h2 class="tna-heading-l">Join us for an in-depth online talk</h2>
    <p>As Security Correspondent for BBC News, over the past 20 years, Gordon Corera has reported on issues relating to national security and intelligence. He has covered some of the world’s biggest spy stories ranging from the Edward Snowden leaks through to the poisonings of Sergei Skripal and Alexander Litvinenko.</p>
    <p>Join him as he discusses insights from his career covering the changing world of British intelligence through to his latest work investigating the secrets of the KGB archives and the remarkable story of KGB archivist, Vasili Mitrokhin.</p>
  </div>
  <div class="tna-column tna-column--width-1-3 tna-column--width-3-4-small tna-column--full-tiny tna-!--margin-top-l">
    <div class="tna-aside tna-aside--tight etna-event-details">
      <h2 class="tna-visually-hidden">Event details</h2>
      <dl class="tna-dl tna-dl--plain tna-dl--stacked tna-dl--icon-padding tna-!--no-margin-top">
        <dt>
          <i class="fa-solid fa-ticket" aria-hidden="true"></i>
          Pay what you can
        </dt>
        <dd>Free&mdash;&pound;15</dd>
        <dt>
          <i class="fa-solid fa-user" aria-hidden="true"></i>
          Everyone welcome
        </dt>
        <dd>???</dd>
        <dt>
          <i class="fa-solid fa-calendar" aria-hidden="true"></i>
          Wednesday 2 May 2025
        </dt>
        <dd>Starts at 19.30</dd>
        <dt>
          <i class="fa-solid fa-database" aria-hidden="true"></i>
          Online only
        </dt>
        <dd>Live-streamed on Vimeo</dd>
      </dl>
      <div class="tna-button-group">
        {{ tnaButton({
          'text': 'Book tickets on Eventbrite',
          'url': '#'
        }) }}
      </div>
    </div>
  </div>
  <div class="tna-column tna-column--full">
    <div class="etna-author-list etna-author-list--horizontal tna-column tna-!--margin-top-l">
      <h2 class="etna-author-list__heading tna-heading-m">Host</h2>
      <ul class="etna-author-list__items">
        <li class="etna-author-list__item" itemprop="author" itemscope itemtype="https://schema.org/Person">
          <img src="{{ url_for('static', filename='images/blank-profile.svg') }}" width="128" height="128" class="etna-author-list__image" alt="">
          <div class="etna-author-list__details">
            <p class="etna-author-list__name">
              <strong>
                <a href="#" rel="author">
                  <span itemprop="name">Godron Corera</span>
                </a>
                <link itemprop="url" href="#">
              </strong>
            </p>
            <p class="etna-author-list__description" itemprop="jobTitle">British author and journalist</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="tna-column tna-column--full">
    <div class="etna-author-list etna-author-list--horizontal tna-column tna-!--margin-top-l">
      <h2 class="etna-author-list__heading tna-heading-m">Speaker</h2>
      <ul class="etna-author-list__items">
        <li class="etna-author-list__item" itemprop="author" itemscope itemtype="https://schema.org/Person">
          <img src="{{ url_for('static', filename='images/blank-profile.svg') }}" width="128" height="128" class="etna-author-list__image" alt="">
          <div class="etna-author-list__details">
            <p class="etna-author-list__name">
              <strong>
                <a href="#" rel="author">
                  <span itemprop="name">Godron Corera</span>
                </a>
                <link itemprop="url" href="#">
              </strong>
            </p>
            <p class="etna-author-list__description" itemprop="jobTitle">British author and journalist</p>
          </div>
        </li>
      </ul>
      <p>Lorem ipsum</p>
    </div>
  </div>
  <div class="tna-column tna-column--full">
    <div class="etna-author-list etna-author-list--horizontal- tna-column tna-!--margin-top-l">
      <h2 class="etna-author-list__heading tna-heading-m">Speakers</h2>
      <ul class="etna-author-list__items">
        <li class="etna-author-list__item" itemprop="author" itemscope itemtype="https://schema.org/Person">
          <img src="{{ url_for('static', filename='images/blank-profile.svg') }}" width="128" height="128" class="etna-author-list__image" alt="">
          <div class="etna-author-list__details">
            <p class="etna-author-list__name">
              <strong>
                <a href="#" rel="author">
                  <span itemprop="name">Godron Corera</span>
                </a>
                <link itemprop="url" href="#">
              </strong>
            </p>
            <p class="etna-author-list__description" itemprop="jobTitle">British author and journalist</p>
          </div>
        </li>
        <li class="etna-author-list__item" itemprop="author" itemscope itemtype="https://schema.org/Person">
          <img src="{{ url_for('static', filename='images/blank-profile.svg') }}" width="128" height="128" class="etna-author-list__image" alt="">
          <div class="etna-author-list__details">
            <p class="etna-author-list__name">
              <strong>
                <a href="#" rel="author">
                  <span itemprop="name">Godron Corera</span>
                </a>
                <link itemprop="url" href="#">
              </strong>
            </p>
            <p class="etna-author-list__description" itemprop="jobTitle">British author and journalist</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="tna-background-tint">
  <section class="tna-container tna-section">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h2 class="tna-heading-l">This is an online only event</h2>
      <p> This event will be presented on Vimeo. You do not need a Vimeo account to join an event, and can join from your browser from a laptop or mobile device. For the best experience we recommend using either a laptop or desktop computer.</p>
      <p>You will receive a reminder email, including a link to join in advance of the event. For more information on registering and accessing an event, visit our <a href="https://www.nationalarchives.gov.uk/about/visit-us/whats-on/events/event-faq/">FAQs page</a>, or visit <a href="https://help.vimeo.com/hc/en-us/articles/12426085581073-How-to-watch-a-live-event-on-Vimeo">How to watch a live event on Vimeo</a>.</p>
      <p>Talks are available to watch on catch-up for a limited period of 48 hours only.</p>
    </div>
  </section>
  <hr>
  <section class="tna-section tna-!--padding-top-m">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        <h2 id="plan-your-visit" class="tna-heading-l tna-!--padding-top-s">Plan your visit</h2>
      </div>
      <div class="tna-column tna-column--width-1-2 tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
        <div class="tna-accordion" data-multiselectable="true" data-module="tna-accordion">
          <div class="tna-accordion__details">
            <h3><button class="tna-accordion__summary" type="button" aria-controls="plan-your-visit-details-content-1" aria-expanded="false" aria-label="What is The National Archives?, Show this section">What is The National Archives?</button></h3>
            <div class="tna-accordion__content" id="plan-your-visit-details-content-1" hidden="">
              <p>The National Archives is the official archive of the UK government, and England and Wales. We are the guardians of over 1,000 years of iconic national documents.</p>
              <p>Everyone is welcome to visit our headquarters in Kew. We put on exhibitions, events and displays and offer reading rooms giving access to our collections there.</p>
              <p><a href="https://www.nationalarchives.gov.uk/about/our-role/">Find out more about who we are</a></p>
            </div>
          </div>
          <div class="tna-accordion__details">
            <h3><button class="tna-accordion__summary" type="button" aria-controls="plan-your-visit-details-content-2" aria-expanded="false" aria-label="Getting here, Show this section">Getting here</button></h3>
            <div class="tna-accordion__content" id="plan-your-visit-details-content-2" hidden="">
              <p>The National Archives is located by the River Thames in Kew, 30 minutes from Central London. We offer advice on travelling to us by car, bike, train or bus.</p>
              <p><a href="https://www.nationalarchives.gov.uk/about/visit-us/how-to-find-us/">Read our advice on getting here</a></p>
            </div>
          </div>
          <div class="tna-accordion__details">
            <h3><button class="tna-accordion__summary" type="button" aria-controls="plan-your-visit-details-content-3" aria-expanded="false" aria-label="Opening times, Show this section">Opening times</button></h3>
            <div class="tna-accordion__content" id="plan-your-visit-details-content-3" hidden="">
              <p>MI5: Official Secrets is open at the following times:</p>
              <ul class="tna-ul">
                <li>Monday: CLOSED</li>
                <li>Tuesday: 09:00 to 19:00</li>
                <li>Wednesday: 09:00 to 17:00</li>
                <li>Thursday: 09:00 to 19:00</li>
                <li>Friday: 09:00 to 17:00</li>
                <li>Saturday: 09:00 to 17:00</li>
                <li>Sunday: 11:00 to 16:00</li>
              </ul>
              <p>It will be open for shorter hours on some bank holiday weekend dates. Check our full <a href="https://www.nationalarchives.gov.uk/about/visit-us/opening-times/">Opening times</a> for details.</p>
            </div>
          </div>
        </div>
        <div class="tna-button-group">
          <a href="https://www.nationalarchives.gov.uk/about/visit-us/" class="tna-button " data-tna-cta="">Visit us</a>
        </div>
      </div>
      <div class="tna-column tna-column--width-1-2 tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
        <figure class="tna-picture tna-picture--plain" data-module="tna-picture" data-information-label-open="Open details" data-information-label-close="Close details" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject" data-overwritten-component-template="true">
          <meta itemprop="url" content="https://beta.nationalarchives.gov.uk/media/images/mi5-e.max-900x900.format-jpeg.jpegquality-60.bgcolor-fff.jpg">
          <meta itemprop="contentUrl" content="https://beta.nationalarchives.gov.uk/media/images/mi5-e.max-900x900.format-jpeg.jpegquality-60.bgcolor-fff.jpg">
          <meta itemprop="width" content="900">
          <meta itemprop="height" content="600">
          <meta itemprop="acquireLicensePage" content="https://www.nationalarchives.gov.uk/legal/copyright/image-reproduction/">
          <div class="tna-picture__image-wrapper tna-background-tint">
            <picture>
              <source class="tna-picture__image" srcset="https://beta.nationalarchives.gov.uk/media/images/mi5-_me6Rd8S.max-900x900.format-webp.webpquality-60.bgcolor-fff.webp" type="image/webp" width="900" height="600">
              <img class="tna-picture__image" width="900" height="600" src="https://beta.nationalarchives.gov.uk/media/images/mi5-e.max-900x900.format-jpeg.jpegquality-60.bgcolor-fff.jpg" alt="View of the outside of The National Archives' building, featuring modern glass and 60s brutalism." loading="lazy">
            </picture>
          </div>
        </figure>
      </div>
    </div>
  </section>
</div>




<section class="tna-container tna-container--centred tna-section">
  <div class="tna-column tna-column--full tna-column--order-1">
    <h2 class="tna-heading-l">Simon Schama - British Historian and TV Host</h2>
  </div>
  <div class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--width-1-2-tiny tna-column--margin-right-1-12 tna-column--no-margin-right-medium tna-column--no-margin-right-small tna-column--no-margin-right-tiny  tna-column--margin-left-1-12 tna-column--no-margin-left-medium tna-column--no-margin-left-small tna-column--no-margin-left-tiny tna-!--margin-top-m tna-column--order-4 tna-column--order-2-small tna-column--order-2-tiny">
    <img src="https://picsum.photos/600/400?1" alt="" width="600" height="400">
  </div>
  <div class="tna-column tna-column--width-1-2 tna-column--width-3-4-small tna-column--full-tiny tna-!--margin-top-m tna-column--order-3">
    <p>Sir Simon Michael Schama CBE FBA FRHistS FRSL is a British historian and television presenter. He specialises in art history, Dutch history, Jewish history, and French history. He is a Professor of History and Art History at Columbia University. Wikipedia.</p>
    <p>Schama first came to public attention with his history of the French Revolution titled Citizens, published in 1989.[1] He is also known for writing and hosting the 15-part BBC television documentary series A History of Britain (2000—2002),[3][4] as well as other documentary series such as The American Future: A History (2008) and The Story of the Jews (2013).</p>
  </div>
</section>




<div class="tna-container tna-section">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
    <h2 class="tna-heading-l">You may also be interested in</h2>
    {{ tnaCard({
      'supertitle': 'Event type',
      'title': 'Event name',
      'text': 'Event description',
      'headingLevel': 2,
      'headingSize': 'm',
      'href': '#',
      'imageSrc': 'https://picsum.photos/600/400?1',
      'imageAlt': '',
      'imageWidth': 600,
      'imageHeight': 400,
      'body': '<p>Lorem ipsum</p>',
      'fullAreaClick': True,
      'horizontal': True,
      'horizontalFlipped': True,
      'horizontalSmallImage': True,
      'style': 'accent',
      'classes': 'tna-!--margin-top-m'
    }) }}
    {{ tnaCard({
      'supertitle': 'Event type',
      'title': 'Event name',
      'text': 'Event description',
      'headingLevel': 2,
      'headingSize': 'm',
      'href': '#',
      'imageSrc': 'https://picsum.photos/600/400?2',
      'imageAlt': '',
      'imageWidth': 600,
      'imageHeight': 400,
      'body': '<p>Lorem ipsum</p>',
      'fullAreaClick': True,
      'horizontal': True,
      'horizontalFlipped': True,
      'horizontalSmallImage': True,
      'style': 'accent',
      'classes': 'tna-!--margin-top-s'
    }) }}
  </div>
</div>
{% endblock %}
