{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/date-search/macro.html' import tnaDateSearch -%}
{%- from 'components/quick-filters/macro.html' import tnaQuickFilters -%}

{%- set pageTitle = page_data.title -%}

{% block content %}
<div class="tna-container tna-section">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
    <hgroup class="tna-hgroup-xl">
      <p class="tna-hgroup__supertitle">{{ page_data.type_label }}</p>
      <h1 class="tna-hgroup__title">{{ pageTitle }}</h1>
    </hgroup>
    <div class="tna-large-paragraph">{{ page_data.intro | tna_html | safe }}</div>
    {%- if date_from or date_to %}
    <p>Searching {{ pretty_date_range(date_from, date_to, sentence_case=True) }}</p>
    {%- endif %}
  </div>
</div>


<div class="tna-container">
  <div class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny tna-!--margin-bottom-l">
    
    <h2 class="tna-!--hide-on-large tna-!--hide-on-medium">
      Filter events
      <button hidden>Show/hide</button>
    </h2>
    <div id="event-filters">
      <form id="search-site" method="get" action="{{ request.url }}" role="search" novalidate>
        <h3 class="tna-heading-m tna-!--no-margin-top">Event date</h3>


        <div class="tna-button-group tna-button-group--small tna-!--margin-top-xs">
          {{ tnaButton({
            'text': 'Events in the next 7 days',
            'href': '?date_from=' + date_today + '&date_to=' + date_seven_days
          }) }}
          {{ tnaButton({
            'text': 'Events in the next 30 days',
            'href': '?date_from=' + date_today + '&date_to=' + date_thirty_days
          }) }}
        </div>
        

        {{ tnaDateSearch({
          'label': 'From',
          'headingLevel': 4,
          'headingSize': 's',
          'id': 'date-from',
          'name': 'date_from',
          'value': date_from,
          'formGroupClasses': 'tna-!--margin-top-xs'
        }) }}
        {{ tnaDateSearch({
          'label': 'To',
          'headingLevel': 4,
          'headingSize': 's',
          'id': 'date-to',
          'name': 'date_to',
          'value': date_to,
          'error': {
            'text': date_error
          } if date_error else None,
          'formGroupClasses': 'tna-!--margin-top-xs'
        }) }}
        <div class="tna-button-group tna-button-group--small tna-!--margin-top-s">
          {{ tnaButton({
            'text': 'Filter events by date',
            'buttonElement': True,
            'buttonType': 'submit'
          }) }}
        </div>



      </form>



      <h3 class="tna-heading-m tna-!--margin-top-s">Event locations</h3>
      {{ tnaQuickFilters({
        'items': location_quick_filters,
        'stack': True,
        'classes': 'tna-!--margin-top-xs'
      }) }}
    </div>

  </div>
  <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny tna-!--margin-bottom-l">


    <h2 class="tna-heading-l tna-!--no-margin-top">Results</h2>

    {%- if events | length %}


    <p class="tna-!--margin-top-xs">Showing <strong>{{ events | length }}</strong> event{{ '' if (events | length == 1) else 's' }}</p>


    <ul class="tna-container tna-container--nested tna-!--margin-top-m">
      {% for event in events %}
      <li class="tna-column tna-column--width-1-2 tna-column--full-small tna-column--full-tiny">
        {% set event_card_content = {
          'supertitle': event.type_label,
          'title': event.title,
          'headingLevel': 2,
          'headingSize': 'm',
          'href': event.url,
          'meta': [
            {
              'title': 'Date',
              'text': pretty_date_range(event.start_date, event.end_date),
              'icon': 'calendar'
            },
            {
              'title': 'Location',
              'text': event.short_location,
              'icon': 'location-dot'
            },
            {
              'title': 'Cost',
              'text': event.price_range,
              'icon': 'ticket'
            }
          ],
          'text': event.teaser_text,
          'fullAreaClick': True,
          'style': 'plain',
          'classes': 'tna-!--margin-bottom-m'
        } %}
        {%- if event.teaser_image %}
          {% set event_card_content = dict(event_card_content, **{
            'lazyImage': True,
            'imageSrc': event.teaser_image.jpeg.url,
            'imageAlt': event.teaser_image.description,
            'imageWidth': event.teaser_image.jpeg.width,
            'imageHeight': event.teaser_image.jpeg.height,
            'imageSources': [
              {
                'src': event.teaser_image.webp.url,
                'type': 'image/webp',
                'width': event.teaser_image.webp.width,
                'height': event.teaser_image.webp.height
              }
            ]
          }) %}
        {%- endif %}
        {{ tnaCard(event_card_content) }}
        </li>
      {% endfor %}
    </ul>
    {%- else %}
    <p>No events found.</p>
    {%- endif %}
  </div>
</div>



{% endblock %}
