{% extends "wagtail_base.html" %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'macros/back_to_top.html' import back_to_top -%}
{%- from 'macros/feedback.html' import feedback -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'macros/wagtail_streamfield.html' import wagtail_streamfield -%}

{%- set breadcrumbs_style = '' if page_data.hero_image else 'accent-light' -%}
{%- set bodyContainsMedia = page_data.body | wagtail_streamfield_contains_media -%}
{%- set bodyContainsCodeBlock = page_data.body | wagtail_streamfield_contains_code_block -%}
{%- set alert_banner_top_margin = None if breadcrumbs or (page_data and page_data.meta and page_data.meta.breadcrumbs) else 'm' %}

{% block head %}
{{ super() }}
    <link rel="canonical" href="{{ page_data.meta.url }}">
{% endblock head %}

{% block stylesheets %}
{{ super() }}
    {%- if bodyContainsMedia %}
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
    {%- endif %}
    {%- if bodyContainsCodeBlock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='code.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
    {%- endif %}
{% endblock stylesheets %}

{% block main %}
  {% block beforeContent %}
    {{ super() }}
  {% endblock beforeContent %}
  <main class="tna-main {{ mainClasses }}" id="main-content">
  {% block hero %}
  {%- if page_data.hero_image %}
    {{ global_alert_banners(page_data.global_alert, page_data.mourning_notice, alert_banner_top_margin, 'm') }}
    {%- set hero_image_caption %}
      {{- page_data.hero_image_caption | safe -}}
      {%- if page_data.hero_image.copyright -%}
        <div class="tna-hero__copyright" itemprop="copyrightNotice">{{ page_data.hero_image.copyright | tna_html | safe }}</div>
      {%- endif -%}
    {%- endset %}
    {{ tnaHero({
      'title': page_data.title,
      'body': (('<div class="tna-large-paragraph tna-!--margin-top-s">' ~ page_data.intro ~ '</div>') | tna_html | safe) if page_data.intro else '',
      'imageSrc': page_data.hero_image.jpeg.full_url,
      'imageAlt': page_data.hero_image.description,
      'imageWidth': page_data.hero_image.jpeg.width,
      'imageHeight': page_data.hero_image.jpeg.height,
      'imageCaption': hero_image_caption,
      'imageSources': [
        {
          'src': page_data.hero_image.small_webp.full_url,
          'width': page_data.hero_image.small_webp.width,
          'height': page_data.hero_image.small_webp.height,
          'type': 'image/webp',
          'media': '(max-width: 48em)'
        },
        {
          'src': page_data.hero_image.small_jpeg.full_url,
          'width': page_data.hero_image.small_jpeg.width,
          'height': page_data.hero_image.small_jpeg.height,
          'type': 'image/jpeg',
          'media': '(max-width: 48em)'
        },
        {
          'src': page_data.hero_image.webp.full_url,
          'width': page_data.hero_image.webp.width,
          'height': page_data.hero_image.webp.height,
          'type': 'image/webp'
        }
      ],
      'style': 'accent-light',
      'layout': 'shift'
    }, page_data.hero_image.uuid, page_data.hero_image.title) }}
  {%- else %}
    {%- if page_data.global_alert or page_data.mourning_notice %}
    <div class="tna-background-accent-light">
      {{ global_alert_banners(page_data.global_alert, page_data.mourning_notice, alert_banner_top_margin) }}
    </div>
    {%- endif %}
    <div class="tna-background-accent-light tna-!--padding-top-m tna-!--padding-bottom-l">
      <div class="tna-container">
        <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
          <h1 class="tna-heading-xl">{{ page_data.title }}</h1>
          {%- if page_data.intro %}
          <div class="tna-large-paragraph tna-!--margin-top-s">
            {{ page_data.intro | tna_html | safe }}
          </div>
          {%- endif %}
        </div>
      </div>
    </div>
  {%- endif %}
  {% endblock hero %}

  <div class="tna-!--padding-top-l tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny etna-!--full-width-on-print">
      {%- if page_data.body | selectattr('type', 'equalto', 'content_section') | list | length %}
      <div class="tna-!--hide-on-print">
        <h2 class="tna-heading-m">Contents</h2>
        <ul class="tna-ul tna-ul--dashed">
          {%- for section in page_data.body | selectattr('type', 'equalto', 'content_section') %}
          <li>
            <a href="#section-heading-{{ section.value.heading | slugify }}-{{ section.id }}">{{ section.value.heading }}</a>
          </li>
          {%- endfor %}
        </ul>
      </div>
      {%- endif %}
      
      {% block content %}
        {{ wagtail_streamfield(page_data.body, 2) }}
      {% endblock content %}
    </div>
  </div>

  {{ feedback('xl') }}
  {{ back_to_top('l') }}
</main>
{% endblock main %}

{% block bodyEnd %}
{{ super() }}
    {%- if bodyContainsMedia %}
    <script src="{{ url_for('static', filename='media.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
    {%- endif %}
    {%- if bodyContainsCodeBlock %}
    <script src="{{ url_for('static', filename='code.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
    {%- endif %}
{% endblock bodyEnd %}
