{% extends "base.html" %}

{%- from 'components/accordion/macro.html' import tnaAccordion -%}
{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/gallery/macro.html' import tnaGallery -%}
{%- from 'components/hero/macro.html' import tnaHero -%}
{%- from 'components/sidebar/macro.html' import tnaSidebar -%}
{%- from 'whats_on/partials/shop_block.html' import shopBlock -%}
{%- from 'macros/back_to_top.html' import back_to_top -%}
{%- from 'macros/feedback.html' import feedback -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'macros/meta.html' import meta -%}
{%- from 'macros/wagtail_blocks/media.html' import wagtailMedia -%}
{%- from 'macros/wagtail_blocks/youtube_video.html' import wagtailYouTubeVideo -%}
{%- from 'macros/wagtail_streamfield.html' import wagtail_streamfield -%}

{%- set themeAccent = 'black' if page_data.mourning_notice else (page_data.accent_colour or 'pink') -%}
{%- set pageTitle = page_data.short_title or page_data.title -%}

{% block head %}
{{ super() }}
{{- meta(page_data) }}
    <link rel="canonical" href="{{ page_data.meta.url }}">
{% endblock head %}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='exhibition.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
    {%- if page_data.video %}
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css', v=app_config.BUILD_VERSION) }}" media="screen,print">
    {%- endif %}
{% endblock stylesheets %}

{% block content %}
{{ global_alert_banners(page_data.global_alert, page_data.mourning_notice, None, 'm') }}
<div itemscope itemtype="https://schema.org/Event">
  <meta itemprop="name" content="{{ page_data.title }}">
  <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode">
  <meta itemprop="eventStatus" content="https://schema.org/EventScheduled">
  {% if page_data.price == 0 %}
  <meta itemprop="isAccessibleForFree" content="true">
  {% endif %}
  {%- if page_data.start_date %}
  <meta itemprop="startDate" content="{{ page_data.start_date }}">
  {%- endif %}
  {%- if page_data.end_date %}
  <meta itemprop="endDate" content="{{ page_data.end_date }}">
  {%- endif %}
  <div itemprop="organizer" itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="The National Archives">
    <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
      <meta itemprop="addressLocality" content="Kew">
      <meta itemprop="addressRegion" content="Richmond">
      <meta itemprop="postalCode" content="TW9 4DU">
      <meta itemprop="addressCountry" content="GB">
    </div>
    <meta itemprop="url" content="https://www.nationalarchives.gov.uk/">
  </div>

  {%- set hero_intro %}
    {% if page_data.subtitle %}
      <div class="tna-large-paragraph tna-!--margin-top-s">{{ page_data.subtitle | tna_html | safe }}</div>
    {% endif %}
    {%- if page_data.start_date or page_data.end_date or page_data.price %}
      <dl class="tna-dl-chips tna-dl-chips--plain">
        {%- if page_data.start_date or page_data.end_date %}
        <dt>Date</dt>
        <dd>
          <span class="tna-dl-chips__item">
            <i class="fa-solid fa-calendar" aria-hidden="true"></i>
            {{ 'All-year round' if page_data.all_year else pretty_date_range(page_data.start_date, page_data.end_date, omit_days=page_data.exclude_days) }}
          </span>
        </dd>
        {%- endif %}
        {%- if 'price' in page_data %}
        <dt>Price</dt>
        <dd>
          <span class="tna-dl-chips__item">
            <i class="fa-solid fa-ticket" aria-hidden="true"></i>
            {{ page_data.price | pretty_price }}
          </span>
        </dd>
        {%- endif %}
      </dl>
    {%- endif %}
  {%- endset %}

  {%- set hero_image_caption %}
    {{- page_data.hero_image_caption | safe -}}
    {%- if page_data.hero_image.copyright -%}
      <div class="tna-hero__copyright" itemprop="copyrightNotice">{{ page_data.hero_image.copyright | tna_html | safe }}</div>
    {%- endif -%}
  {%- endset %}

  {{ tnaHero({
    'supertitle': page_data.type_label,
    'title': page_data.title,
    'body': hero_intro,
    'imageSrc': page_data.hero_image.jpeg.full_url,
    'imageAlt': page_data.hero_image.description,
    'imageWidth': page_data.hero_image.jpeg.width,
    'imageHeight': page_data.hero_image.jpeg.height,
    'imageCaption': hero_image_caption,
    'imageSources': [
      {
        'src': page_data.hero_image_small.webp.full_url,
        'width': page_data.hero_image_small.webp.width,
        'height': page_data.hero_image_small.webp.height,
        'type': 'image/webp',
        'media': '(max-width: 48em)'
      },
      {
        'src': page_data.hero_image_small.jpeg.full_url,
        'width': page_data.hero_image_small.jpeg.width,
        'height': page_data.hero_image_small.jpeg.height,
        'type': 'image/jpeg',
        'media': '(max-width: 48em)'
      },
      {
        'src': page_data.hero_image.webp.full_url,
        'width': page_data.hero_image.webp.width,
        'height': page_data.hero_image.webp.height,
        'type': 'image/webp'
      }
    ],
    'narrow': True,
    'layout': page_data.hero_layout,
    'style': 'accent-light' if page_data.hero_style == 'accent' else page_data.hero_style,
    'attributes': {
      'itemprop': 'image'
    }
  }, page_data.hero_image.uuid, page_data.hero_image.title) }}
  <div class="tna-container tna-!--padding-vertical-m">
    <div class="tna-column tna-column--full">
      {% set ns = namespace(sidebar_items=[]) %}
      {% set ns.sidebar_items = [{
        'text': page_data.intro_title or ('About ' ~ page_data.title),
        'href': '#' ~ ((page_data.intro_title | slugify) if page_data.intro_title else 'about')
      }] %}
      {% if page_data.exhibition_highlights or page_data.video %}
        {% set ns.sidebar_items = ns.sidebar_items + [{
          'text': page_data.exhibition_highlights_title or 'Exhibition highlights',
          'href': '#' ~ ((page_data.exhibition_highlights_title | slugify) if page_data.exhibition_highlights_title else 'exhibition-highlights')
        }] %}
      {% endif %}
      {% if page_data.location and (page_data.end_date | get_date_from_string | is_today_or_future) %}
        {% set ns.sidebar_items = ns.sidebar_items + [{
          'text': 'Plan your visit',
          'href': '#plan-your-visit'
        }] %}
      {% endif %}
      {% if page_data.event_links %}
        {% set ns.sidebar_items = ns.sidebar_items + [{
          'text': page_data.event_title or 'Events',
          'href': '#' ~ ((page_data.event_title | slugify) if page_data.event_title else 'events')
        }] %}
      {% endif %}
      {% if page_data.related_pages_title and (page_data.featured_page or page_data.related_pages) %}
        {% set ns.sidebar_items = ns.sidebar_items + [{
          'text': page_data.related_pages_title,
          'href': '#' ~ (page_data.related_pages_title | slugify)
        }] %}
      {% endif %}
      {% if page_data.shop %}
        {% set ns.sidebar_items = ns.sidebar_items + [{
          'text': page_data.shop[0].value.title,
          'href': '#' ~ (page_data.shop[0].value.title | slugify)
        }] %}
      {% endif %}
      {{ tnaSidebar({
        'title': 'On this page',
        'headingLevel': 2,
        'headingSize': 's',
        'items': ns.sidebar_items,
        'type': 'contents'
      }) }}
    </div>
  </div>
  
  <hr>
  
  <div class="tna-container tna-!--margin-bottom-l">
    <div id="{{ (page_data.intro_title | slugify) if page_data.intro_title else 'about' }}" class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-m tna-!--padding-top-s">
      <h2 class="tna-visually-hidden">{{ page_data.intro_title or ('About ' ~ page_data.title) }}</h2>
      <div class="tna-large-paragraph tna-large-paragraph--bold tna-!--no-margin-top" itemprop="about">
        {{ page_data.intro | safe }}
      </div>
      <div class="tna-!--margin-top-s" itemprop="description">
        {{ wagtail_streamfield(page_data.body, 3, page_data.footnotes) }}
      </div>
    </div>
    <div class="tna-column tna-column--width-1-3 tna-column--width-2-3-medium tna-column--width-3-4-small tna-column--full-tiny tna-!--margin-top-l"{{ '' if (page_data.end_date | get_date_from_string | is_today_or_future) else ' hidden' }}>
      <div class="tna-aside tna-aside--top-bottom-borders">
        <dl class="tna-dl tna-dl--icon-padding tna-dl--plain tna-dl--stacked">
          {% if page_data.open_days %}
          <dt>
            <i class="fa-solid fa-fw fa-calendar" aria-hidden="true"></i>
            Date
          </dt>
          <dd class="tna-!--no-padding-bottom">{{ page_data.open_days }}</dd>
          <dd>See our <a href="https://www.nationalarchives.gov.uk/about/visit-us/opening-times/">opening times</a></dd>
          {% endif %}

          <dt>
            <i class="fa-solid fa-fw fa-ticket" aria-hidden="true"></i>
            Price
          </dt>
          <dd class="tna-!--no-padding-bottom">
            {{ page_data.price | pretty_price }}
            <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
              <meta itemprop="price" content="{{ page_data.price }}">
              <meta itemprop="priceCurrency" content="GBP">
              <link itemprop="availability" href="https://schema.org/InStock">
            </div>
          </dd>
          <dd>{{ page_data.booking_details | safe }}</dd>

          {% if page_data.age_detail %}
          <dt>
            <i class="fa-solid fa-fw fa-user" aria-hidden="true"></i>
            Age
          </dt>
          <dd itemprop="typicalAgeRange">{{ page_data.age_detail }}</dd>
          {% endif %}

          {%- if page_data.location %}
          <dt>
            <i class="fa-solid fa-fw fa-location-dot" aria-hidden="true"></i>
            Location
          </dt>
          {%- if page_data.location.online %}
          <dd class="tna-!--no-padding-bottom"><a href="#location-details">Online{% if page_data.location.online_detail %}, {{ page_data.location.online_detail }}{% endif %}</a>
          </dd>
          {% else %}
          <dd class="tna-!--no-padding-bottom">{{ page_data.location.space_name }}</dd>
          <dd>
            {{ page_data.location.full_address | safe }}
            {%- if page_data.location.postcode %}
              <div itemprop="location" itemscope itemtype="https://schema.org/Place">
                <meta itemprop="name" content="{{ page_data.location.space_name }}">
                <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                  {%- if page_data.location.address_line_1 %}
                  <meta itemprop="streetAddress" content="{{ page_data.location.address_line_1 }}">
                  {%- endif %}
                  {%- if page_data.location.address_line_2 %}
                  <meta itemprop="addressRegion" content="{{ page_data.location.address_line_2 }}">
                  {%- endif %}
                  <meta itemprop="postalCode" content="{{ page_data.location.postcode }}">
                  <meta itemprop="addressCountry" content="GB">
                </div>
              </div>
            {%- elif page_data.location.full_address %}
              <meta itemprop="location" content="{{ page_data.location.full_address | multiline_address_to_single_line | safe }}">
            {%- endif %}
          </dd>
          {%- endif %}
          {%- endif %}

          <dt>
            <i class="fa-solid fa-fw fa-universal-access" aria-hidden="true"></i>
            Accessibility
          </dt>
          <dd>See our <a href="https://www.nationalarchives.gov.uk/about/visit-us/information-for-disabled-visitors/">accessibility guide</a></dd>
        </dl>
      </div>
      {%- if page_data.partnership %}
      <p itemprop="contributor" itemscope itemtype="https://schema.org/Organization">
        <small>{{ page_data.partnership_lead_text or 'In partnership with' }} <span class="tna-visually-hidden" itemprop="name">{{ page_data.partnership.name }}.</span></small>
      </p>
      <picture class="tna-exhibition-partner-logo" aria-hidden="true">
        <source type="image/webp" srcset="{{ page_data.partnership.logo.webp.url }}" width="{{ (page_data.partnership.logo.webp.width / 2) | int }}" height="{{ (page_data.partnership.logo.webp.height / 2) | int }}">
        <img src="{{ page_data.partnership.logo.jpeg.url }}" width="{{ (page_data.partnership.logo.jpeg.width / 2) | int }}" height="{{ (page_data.partnership.logo.jpeg.height / 2) | int }}" alt="">
      </picture>
      {%- endif %}
    </div>
  </div>

  {% for review in page_data.review %}
  <section class="tna-section tna-background-accent" itemprop="review" itemscope itemtype="https://schema.org/Review">
    <div class="tna-container">
      <blockquote class="tna-column tna-column--full tna-exhibition-quote">
        <h2 class="tna-visually-hidden" itemprop="name">Review from {{ review.value.attribution }}</h2>
        <p class="tna-!--no-margin-top" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
          <meta itemprop="worstRating" content="0">
          <meta itemprop="bestRating" content="5">
          <span class="tna-visually-hidden"><span itemprop="ratingValue">{{ review.value.stars }}</span> stars</span>
          {% for star in range(0, review.value.stars | int) %}
          <i class="fa-solid fa-star" aria-hidden="true"></i>
          {% endfor %}
        </p>
        <div class="tna-heading-l tna-!--no-margin-top tna-exhibition-quote__body" itemprop="reviewBody">{{ review.value.quote | safe }}</div>
        <p class="tna-exhibition-quote__attribution" itemprop="author" itemscope itemtype="https://schema.org/Organization">
          <cite itemprop="name">{{ review.value.attribution }}</cite>
        </p>
      </blockquote>
    </div>
  </section>
  {% endfor %}

  {% for exhibition_highlights in page_data.exhibition_highlights %}
  <section class="tna-section tna-background-contrast tna-!--padding-top-m">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        <h2 id="{{ (page_data.exhibition_highlights_title | slugify) if page_data.exhibition_highlights_title else 'exhibition-highlights' }}" class="tna-heading-l tna-!--padding-top-s">{{ page_data.exhibition_highlights_title or 'Exhibition highlights' }}</h2>
        {% set gallery_images = [] %}
        {% for image in exhibition_highlights.value.images %}
          {% set gallery_images = gallery_images.append({
            'alt': image.image.description,
            'width': image.image.jpeg.width,
            'height': image.image.jpeg.height,
            'src': image.image.jpeg.full_url,
            'description': image.caption | safe
          }) %}
        {% endfor %}
        {{ tnaGallery({
          'title': exhibition_highlights.value.title,
          'headingLevel': 3,
          'body': exhibition_highlights.value.description | tna_html | safe,
          'items': gallery_images,
          'id': 'gallery-' ~ exhibition_highlights.id
        }) }}
      </div>
    </div>
  </section>
  {% endfor %}

  {% for video in page_data.video %}
  <section class="tna-section tna-background-accent-light">
    <div class="tna-container tna-container--centred">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h3 class="tna-heading-m">{{ page_data.video_title }}</h3>
        {% if video.type == 'youtube' %}
        {{ wagtailYouTubeVideo(video.value, video.id) }}
        {% elif video.type == 'media' %}
        <div class="tna-!--margin-top-m" itemscope itemtype="https://schema.org/VideoObject">
          <video id="video-{{ video.id }}" class="etna-video etna-video--selfhosted video-js"{% if video.value.thumbnail %} data-poster="{{ video.value.thumbnail.jpeg.full_url }}"{% endif %} controls{%- if video.value.media.transcript %} aria-label="Transcript provided below"{%- endif %}>
            <source src="{{ video.value.media.file }}" type="{{ video.value.media.mime }}">
            {% if video.value.media.subtitles_file %}
            <track kind="captions" src="{{ video.value.media.subtitles_file }}" srclang="en" label="English" default>
            {% endif %}
            {% if video.value.media.chapters_file %}
            <track kind="chapters" src="{{ video.value.media.chapters_file }}" srclang="en">
            {% endif %}
            <p>Your browser doesn't support HTML5 video. <a href="{{ video.value.media.url }}">Download the video file</a>.</p>
          </video>

          {%- if video.value.media.alternate_version_link %}
          {%- set alt_version_text = 'alternative version of "' ~ page_data.video_title ~ '"' %}
          {%- if video.value.media.alternate_version_type == 'Audio Described' %}
            {%- set alt_version_text = 'audio described version of "' ~ page_data.video_title ~ '"' %}
          {%- elif video.value.media.alternate_version_type == 'Subtitled' %}
            {%- set alt_version_text = 'subtitled version of "' ~ page_data.video_title ~ '"' %}
          {%- endif %}
          <p class="tna-!--margin-top-xs">
            <small>See the <a href="{{ video.value.media.alternate_version_link }}">{{ alt_version_text }}</a>.</small>
          </p>
          {%- endif %}

          <meta itemprop="name" content="{{ video.value.title }}">
          <meta itemprop="contentUrl" content="{{ video.value.media.file }}">
          {%- set media_page_url = url_for('wagtail.media_page', media_uuid=video.value.media.uuid, _external=True, _scheme='https') %}
          <meta itemprop="url" content="{{ media_page_url }}">
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endfor %}

  {% if page_data.location %}
  <section class="tna-section tna-!--padding-top-m tna-!--no-padding-bottom-tiny" id="plan-your-visit"{{ '' if (page_data.end_date | get_date_from_string | is_today_or_future) else ' hidden' }}>
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        <h2 class="tna-heading-l tna-!--padding-top-s">Plan your visit</h2>
      </div>
      {% for detail in page_data.location.details %}
      {% set accordion_items = [] %}
      {% for item in detail.value %}
        {% set accordion_items = accordion_items.append({
          'title': item.title,
          'body': item.body | tna_html
        }) %}
      {% endfor %}
      {% if accordion_items %}
      <div class="tna-column {{ 'tna-column--width-1-2' if page_data.location.image else 'tna-column--width-2-3 tna-column--width-5-6-medium' }} tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
        {{ tnaAccordion({
          'itemHeadingLevel': 3,
          'items': accordion_items,
          'id': 'plan-your-visit-details',
          'openMultipleItems': True
        }) }}
        {%- if page_data.location.venue_link and page_data.location.venue_link_text %}
        <div class="tna-button-group">
          {{ tnaButton({
            'text': page_data.location.venue_link_text,
            'href': page_data.location.venue_link,
            'attributes': {
              'data-tna-cta': ''
            }
          }) }}
        </div>
        {%- endif %}
      </div>
      {% endif %}
      {% endfor %}
      {%- if page_data.location.image %}
      <div class="tna-column tna-column--width-1-2 tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
        <figure class="tna-picture tna-picture--plain" data-module="tna-picture" data-information-label-open="Open details" data-information-label-close="Close details" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject" data-overwritten-component-template="true">
          {%- set image_page_url = url_for('wagtail.image_page', image_uuid=page_data.location.image.uuid, _external=True, _scheme='https') %}
          <meta itemprop="url" content="{{ image_page_url }}">
          <meta itemprop="contentUrl" content="{{ page_data.location.image.jpeg.full_url }}">
          <meta itemprop="width" content="{{ page_data.location.image.jpeg.width }}">
          <meta itemprop="height" content="{{ page_data.location.image.jpeg.height }}">
          <meta itemprop="acquireLicensePage" content="https://www.nationalarchives.gov.uk/legal/copyright/image-reproduction/">
          <div class="tna-picture__image-wrapper tna-background-tint">
            <picture>
              <source class="tna-picture__image" srcset="{{ page_data.location.image.webp.full_url }}" type="image/webp" width="{{ page_data.location.image.webp.width }}" height="{{ page_data.location.image.webp.height }}">
              <img class="tna-picture__image" width="{{ page_data.location.image.jpeg.width }}" height="{{ page_data.location.image.jpeg.height }}" src="{{ page_data.location.image.jpeg.full_url }}" alt="{{ page_data.location.image.description }}" loading="lazy">
            </picture>
          </div>
        </figure>
      </div>
      {%- endif %}
    </div>
  </section>
  {% endif %}
</div>

{% for event_links in page_data.event_links %}
<section class="tna-section tna-background-contrast tna-!--padding-top-m">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h2 id="{{ page_data.event_title | slugify if page_data.event_title else 'events' }}" class="tna-heading-l tna-!--padding-top-s">{{ page_data.event_title or 'Events' }}</h2>
      {%- if page_data.event_description %}
      {{ page_data.event_description | tna_html | safe }}
      {%- endif %}
    </div>
    {% for event in event_links.value %}
    <div class="tna-column tna-column--width-1-2 tna-column--full-tiny tna-!--margin-top-l">
      {% set card_content = {
        'title': event.title,
        'headingLevel': 3,
        'headingSize': 's',
        'href': event.url,
        'text': event.description,
        'fullAreaClick': True,
        'classes': 'tna-card--full-height-'
      } %}
      {%- if event.image %}
        {% set card_content = dict(card_content, **{
          'imageSrc': event.image.jpeg.full_url,
          'imageAlt': event.image.description,
          'imageWidth': event.image.jpeg.width,
          'imageHeight': event.image.jpeg.height,
          'imageSources': [
            {
              'src': event.image.webp.full_url,
              'type': 'image/webp',
              'width': event.image.webp.width,
              'height': event.image.webp.height
            }
          ]
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
    </div>
    {% endfor %}
  </div>
</section>
{%- endfor %}
{%- if page_data.related_pages_title and (page_data.related_pages_description or page_data.featured_page or page_data.related_pages) %}
<section class="tna-section tna-!--padding-top-m">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h2 class="tna-heading-l tna-!--padding-top-s" id="{{ page_data.related_pages_title | slugify }}">{{ page_data.related_pages_title }}</h2>
      {%- if page_data.related_pages_description %}
      {{ page_data.related_pages_description | tna_html | safe }}
      {%- endif %}
      {%- if page_data.featured_page %}
      {% set card_content = {
        'supertitle': page_data.featured_page.type_label,
        'title': page_data.featured_page.title,
        'headingLevel': 3,
        'headingSize': 'l',
        'href': page_data.featured_page.url,
        'text': page_data.featured_page.teaser_text,
        'label': 'New' if page_data.featured_page.is_newly_published,
        'labelColour': 'green',
        'horizontal': True,
        'style': 'accent',
        'fullAreaClick': True
      } %}
      {%- if page_data.featured_page.teaser_image %}
        {% set card_content = dict(card_content, **{
          'imageSrc': page_data.featured_page.teaser_image.jpeg.full_url,
          'imageAlt': page_data.featured_page.teaser_image.description,
          'imageWidth': page_data.featured_page.teaser_image.jpeg.width,
          'imageHeight': page_data.featured_page.teaser_image.jpeg.height,
          'imageSources': [
            {
              'src': page_data.featured_page.teaser_image.webp.full_url,
              'type': 'image/webp',
              'width': page_data.featured_page.teaser_image.webp.width,
              'height': page_data.featured_page.teaser_image.webp.height
            }
          ]
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
      {%- endif %}
    </div>
    {% for page in page_data.related_pages %}
    <div class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-l">
      {% if page.type == 'featured_page' %}
        {% set card_content = {
          'title': page.value.page.title,
          'headingLevel': 3,
          'headingSize': 's',
          'href': page.value.page.url,
          'text': page.value.page.teaser_text,
          'label': 'New' if page.value.page.is_newly_published,
          'labelColour': 'green',
          'fullAreaClick': True,
          'style': 'plain',
          'classes': 'tna-card--full-height'
        } %}
        {%- if page.value.page.type_label %}
          {% set card_content = dict(card_content, **{
            'supertitle': page.value.page.type_label
          }) %}
        {%- endif %}
        {%- if page.value.page.published_date %}
          {% set card_content = dict(card_content, **{
            'meta': [
              {
                'title': 'Published',
                'text':  page.value.page.published_date.value | pretty_date
              }
            ]
          }) %}
        {%- endif %}
        {%- if page.value.page.teaser_image %}
          {% set card_content = dict(card_content, **{
            'imageSrc': page.value.page.teaser_image.jpeg.full_url,
            'imageAlt': page.value.page.teaser_image.description,
            'imageWidth': page.value.page.teaser_image.jpeg.width,
            'imageHeight': page.value.page.teaser_image.jpeg.height,
            'imageSources': [
              {
                'src': page.value.page.teaser_image.webp.full_url,
                'type': 'image/webp',
                'width': page.value.page.teaser_image.webp.width,
                'height': page.value.page.teaser_image.webp.height
              }
            ]
          }) %}
        {%- endif %}
      {%- elif page.type == 'featured_external_link' %}
        {% set card_content = {
          'title': page.value.title,
          'headingLevel': 3,
          'headingSize': 's',
          'href': page.value.url,
          'body': page.value.description,
          'labelColour': 'green',
          'fullAreaClick': True,
          'style': 'plain',
          'classes': 'tna-card--full-height'
        } %}
        {%- if page.value.image %}
          {% set card_content = dict(card_content, **{
            'imageSrc': page.value.image.jpeg.full_url,
            'imageAlt': page.value.image.description,
            'imageWidth': page.value.image.jpeg.width,
            'imageHeight': page.value.image.jpeg.height,
            'imageSources': [
              {
                'src': page.value.image.webp.full_url,
                'type': 'image/webp',
                'width': page.value.image.webp.width,
                'height': page.value.image.webp.height
              }
            ]
          }) %}
        {%- endif %}
      {%- endif %}
      {%- if card_content %}
      {{ tnaCard(card_content) }}
      {%- endif %}
    </div>
    {% endfor %}
    <div class="tna-column tna-column--full tna-!--margin-top-l">
      <div class="tna-newsletter">
        <div class="tna-newsletter_inner">
          <i class="fa-solid fa-envelope tna-newsletter__icon" aria-hidden="true"></i>
          <div class="tna-newsletter__body">
            <h3 class="tna-heading-m"><a href="https://pages.enews.nationalarchives.gov.uk/pages/{{ 'spy' if page_data.meta.slug == 'mi5-official-secrets' else 'subscribe' }}">Get the latest updates</a></h3>
            <p>Subscribe to our weekly newsletter for exhibition updates and early booking for events, including talks and tours.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%- endif %}

{% for shop in page_data.shop %}
  {{ shopBlock(shop.value) }}
{% endfor %}

{{ feedback() }}
{{ back_to_top() }}
{% endblock content %}

{% block bodyEnd %}
{{ super() }}
    <script src="{{ url_for('static', filename='exhibition.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
    {%- if page_data.video %}
    <script src="{{ url_for('static', filename='media.min.js', v=app_config.BUILD_VERSION) }}" defer></script>
    {%- endif %}
{% endblock bodyEnd %}
