{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/index-grid/macro.html' import tnaIndexGrid -%}
{%- from 'macros/back_to_top.html' import back_to_top -%}
{%- from 'macros/feedback.html' import feedback -%}
{%- from 'macros/meta.html' import meta -%}

{%- set pageTitle = page_data.title -%}

{% block head %}
{{ super() }}
{{ meta(page_data) }}
{% endblock %}

{% block content %}
<div class="tna-container tna-section">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
    <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
    <div class="tna-large-paragraph">{{ page_data.intro | tna_html | safe }}</div>
    <div class="tna-button-group">
      {%- for child in groups.dates['items'] %}
      {{ tnaButton({
        'text': child.title,
        'href': child.url
      }) }}
      {%- endfor %}
    </div>
  </div>
</div>

{%- for section in page_data.whats_on_page_selections %}
{%- set alternative_block = loop.index % 2 == 1 %}
<div class="tna-section{{ ' tna-background-tint-' if alternative_block else '' }}">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h2 class="tna-heading-l">
        <a href="{{ section.selected_page.url }}">{{ section.selected_page.title }}</a>
      </h2>
      <p>{{ section.selected_page.teaser_text }}</p>
    </div>
  </div>
  <ul class="tna-container">
    {%- if section.featured_page %}
    <li class="tna-column tna-column--full">
      {%- set card_content = {
        'supertitle': section.featured_page.type_label,
        'title': section.featured_page.title,
        'headingLevel': 3,
        'headingSize': 'm',
        'href': section.featured_page.url,
        'meta': [
          {
            'title': 'Cost',
            'text': section.featured_page.price | pretty_price | safe,
            'icon': 'ticket'
          },
          {
            'title': 'Date',
            'text': pretty_date_range(section.featured_page.start_date, section.featured_page.end_date),
            'icon': 'calendar'
          }
        ],
        'metaStacked': True,
        'text': section.featured_page.teaser_text,
        'horizontal': True,
        'style': 'accent',
        'fullAreaClick': True,
        'classes': 'tna-!--margin-top-m'
      } %}
      {%- if section.featured_page.teaser_image %}
        {% set card_content = dict(card_content, **{
          'imageSrc': section.featured_page.teaser_image.jpeg.full_url,
          'imageAlt': section.featured_page.teaser_image.description,
          'imageWidth': section.featured_page.teaser_image.jpeg.width,
          'imageHeight': section.featured_page.teaser_image.jpeg.height,
          'imageSources': [
            {
              'src': section.featured_page.teaser_image.webp.full_url,
              'type': 'image/webp',
              'width': section.featured_page.teaser_image.webp.width,
              'height': section.featured_page.teaser_image.webp.height
            }
          ]
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
    </li>
    {%- endif %}
    {% for page in section.selected_page.latest_listings %}
    <li class="tna-column tna-column--width-1-{{ section.selected_page.latest_listings | length }} tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-m">
      {%- set card_content = {
        'supertitle': page.type_label,
        'title': page.title,
        'headingLevel': 3,
        'headingSize': 's',
        'href': page.url,
        'meta': [
          {
            'title': 'Cost',
            'text': page.price | pretty_price | safe,
            'icon': 'ticket'
          },
          {
            'title': 'Date',
            'text': pretty_date_range(page.start_date, page.end_date),
            'icon': 'calendar'
          }
        ],
        'metaStacked': True,
        'text': page.teaser_text,
        'style': 'plain',
        'fullAreaClick': True,
        'classes': 'tna-card--full-height'
      } %}
      {%- if page.teaser_image %}
        {% set card_content = dict(card_content, **{
          'imageSrc': page.teaser_image.jpeg.full_url,
          'imageAlt': page.teaser_image.description,
          'imageWidth': page.teaser_image.jpeg.width,
          'imageHeight': page.teaser_image.jpeg.height,
          'imageSources': [
            {
              'src': page.teaser_image.webp.full_url,
              'type': 'image/webp',
              'width': page.teaser_image.webp.width,
              'height': page.teaser_image.webp.height
            }
          ]
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
    </li>
    {% endfor %}
  </ul>
</div>
{%- endfor %}

{%- for group in ['children', 'series', 'categories', 'locations'] %}
<div class="tna-section">
  <!-- {%- set ns = namespace(indexGridItems=[]) %}
  {%- for child in groups[group]['items'] %}
    {%- set ns.indexGridItems = ns.indexGridItems + [{
      'href': child.url,
      'title': child.title,
      'subtitle': child.teaser_text,
      'src': child.teaser_image.jpeg.full_url if child.teaser_image else '',
      'alt': child.teaser_image.description if child.teaser_image else '',
      'width': child.teaser_image.jpeg.width if child.teaser_image else '',
      'height': child.teaser_image.jpeg.height if child.teaser_image else ''
    }] %}
  {%- endfor %}
  {{ tnaIndexGrid({
    'title': groups[group].title,
    'body': '',
    'headingLevel': 2,
    'headingSize': 'l',
    'items': ns.indexGridItems,
    'columns': 4,
    'columnsSmall': 2,
    'columnsTiny': 1
  }) }} -->
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h2 class="tna-heading-l">{{ groups[group].title }}</h2>
    </div>
  </div>
  <ul class="tna-container">
    {%- for page in groups[group]['items'] %}
    <li class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-m">
      {%- set card_content = {
        'supertitle': groups[group].card_supertitle or '',
        'title': page.title,
        'headingLevel': 3,
        'headingSize': 's',
        'href': page.url,
        'text': page.teaser_text,
        'style': 'contrast',
        'fullAreaClick': True,
        'classes': 'tna-card--full-height'
      } %}
      {%- if page.teaser_image_ %}
        {% set card_content = dict(card_content, **{
          'imageSrc': page.teaser_image.jpeg.full_url,
          'imageAlt': page.teaser_image.description,
          'imageWidth': page.teaser_image.jpeg.width,
          'imageHeight': page.teaser_image.jpeg.height,
          'imageSources': [
            {
              'src': page.teaser_image.webp.full_url,
              'type': 'image/webp',
              'width': page.teaser_image.webp.width,
              'height': page.teaser_image.webp.height
            }
          ]
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
    </li>
    {%- endfor %}
  </ul>
</div>
{%- endfor %}

{{ feedback() }}
{{ back_to_top() }}
{% endblock %}
