{%- from 'components/sidebar/macro.html' import tnaSidebar -%}

{% macro articleSidebar(blocks, sidebar_scroll_top_threshold) %}
  {% set ns = namespace(items=[]) %}
  {%- for block in blocks %}
    {% do ns.items.append({
      'text': block.value.heading,
      'href': '#' ~ (block.value.heading | slugify)
    }) %}
  {%- endfor %}
  {{ tnaSidebar({
    'title': 'On this page',
    'headingLevel': 2,
    'items': ns.items,
    'type': 'sections',
    'sticky': True,
    'classes': 'tna-!--padding-top-s tna-!--margin-bottom-l tna-!--hide-on-small- tna-!--hide-on-tiny-',
    'attributes': {
      'data-scroll-top-threshold': sidebar_scroll_top_threshold
    }
  }) }}
{% endmacro %}
