{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/index-grid/macro.html' import tnaIndexGrid -%}

{% macro articleFooter(similar_items, categories, latest_items) %}
{%- if similar_items | length or categories | length or latest_items | length %}
<section class="tna-!--hide-on-print">
{%- endif %}
  {%- if similar_items | length %}
  <div class="tna-section tna-!--padding-bottom-s">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        <h2 class="tna-heading-l">You may also be interested in</h2>
      </div>
    </div>
    <ul class="tna-container">
      {%- for page in similar_items %}
      <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-s tna-!--margin-bottom-m">
        {% set card_content = {
          'supertitle': page.type_label,
          'title': page.title,
          'headingLevel': 3,
          'headingSize': 's',
          'href': page.url,
          'text': page.teaser_text,
          'label': 'New' if page.is_newly_published,
          'labelColour': 'green',
          'fullAreaClick': True,
          'classes': 'tna-card--full-height'
        } %}
        {%- if page.teaser_image %}
          {% set card_content = dict(card_content, **{
            'imageSrc': page.teaser_image.jpeg.full_url,
            'imageAlt': page.teaser_image.alt_text or '',
            'imageWidth': page.teaser_image.jpeg.width,
            'imageHeight': page.teaser_image.jpeg.height,
            'imageSources': [
              {
                'src': page.teaser_image.webp.full_url,
                'type': 'image/webp',
                'width': page.teaser_image.webp.width,
                'height': page.teaser_image.webp.height
              }
            ],
            'lazyImage': True
          }) %}
        {%- endif %}
        {{ tnaCard(card_content) }}
      </li>
      {%- endfor %}
    </ul>
  </div>
  {%- endif %}

  {%- if categories | length %}
  <div class="tna-section">
    {{ tnaIndexGrid({
      'title': 'Discover highlights from the collection',
      'headingLevel': 2,
      'headingSize': 'l',
      'items': categories,
      'columns': 2,
      'columnsTiny': 1
    }) }}
  </div>
  {%- endif %}

  {%- if latest_items | length %}
  <div class="tna-section tna-!--padding-bottom-s">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        <h2 class="tna-heading-l">More stories</h2>
      </div>
    </div>
    <ul class="tna-container">
      {%- for page in latest_items %}
      <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-s tna-!--margin-bottom-m">
        {% set card_content = {
          'supertitle': page.type_label,
          'title': page.title,
          'headingLevel': 3,
          'headingSize': 's',
          'href': page.url,
          'text': page.teaser_text,
          'label': 'New' if page.is_newly_published,
          'labelColour': 'green',
          'fullAreaClick': True,
          'classes': 'tna-card--full-height'
        } %}
        {%- if page.teaser_image %}
          {% set card_content = dict(card_content, **{
            'imageSrc': page.teaser_image.jpeg.full_url,
            'imageAlt': page.teaser_image.alt_text or '',
            'imageWidth': page.teaser_image.jpeg.width,
            'imageHeight': page.teaser_image.jpeg.height,
            'imageSources': [
              {
                'src': page.teaser_image.webp.full_url,
                'type': 'image/webp',
                'width': page.teaser_image.webp.width,
                'height': page.teaser_image.webp.height
              }
            ],
            'lazyImage': True
          }) %}
        {%- endif %}
        {{ tnaCard(card_content) }}
      </li>
      {%- endfor %}
    </ul>
  </div>
  {%- endif %}
{%- if similar_items | length or categories | length or latest_items | length %}
</section>
{%- endif %}
{% endmacro %}
