{%- from 'components/sidebar/macro.html' import tnaSidebar -%}

{% macro articleSidebar(blocks) %}
  {% set items = [] %}
  {%- for block in blocks %}
    {% set items = items.append({
      'text': block.value.heading,
      'href': '#' + (block.value.heading | slugify)
    }) %}
  {%- endfor %}
  {{ tnaSidebar({
    'title': 'On this page',
    'headingLevel': 2,
    'items': items,
    'type': 'sections',
    'sticky': True,
    'classes': 'tna-!--padding-top-s tna-!--margin-bottom-l tna-!--hide-on-small- tna-!--hide-on-tiny-',
    'attributes': {
      'id': 'page-sidebar'
    }
  }) }}
{% endmacro %}
