{%- from 'components/search-field/macro.html' import tnaSearchField -%}

{% macro discoverySearch() %}
<form method="get" action="https://beta.nationalarchives.gov.uk/catalogue/search/" role="search">
  <p><span class="tna-chip">New</span></p>
  {{ tnaSearchField({
    'label': 'We’re working on a new catalogue search, try it here',
    'headingLevel': 2,
    'headingSize': 'l',
    'hint': 'Search by place, name or keyword.',
    'id': 'search-catalogue',
    'name': 'q',
    'formItemClasses': 'etna-etc-search tna-!--margin-top-xs'
  }) }}
</form>
<p class="tna-heading-xs tna-!--no-margin-top">
  <a href="https://discovery.nationalarchives.gov.uk/">Or search our current catalogue, Discovery</a>
</p>
{% endmacro %}