{% extends "layouts/base.html" %}

{%- from "components/breadcrumbs/macro.html" import tnaBreadcrumbs -%}
{%- from "components/cookie-banner/macro.html" import tnaCookieBanner -%}
{%- from "components/header/macro.html" import tnaHeader -%}
{%- from "components/footer/macro.html" import tnaFooter -%}

{%- set theme = "light" -%}
{%- set themeAccent = "yellow" -%}

{% block headIcons %}
<link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
<link rel="mask-icon" href="{{ url_for('static', filename='images/mask-icon.svg') }}" color="{{ themeColor | default('#000000') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon-180x180.png') }}">
<link rel="apple-touch-icon" sizes="167x167" href="{{ url_for('static', filename='images/apple-touch-icon-167x167.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/apple-touch-icon-152x152.png') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='/images/apple-touch-icon.png') }}">
{% endblock %}

{% block stylesheets %}
<link rel="preconnect" href="https://use.typekit.net">
<link rel="stylesheet" href="https://use.typekit.net/hkj3kuz.css">
<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
{% endblock %}

{% block cookies %}
{{ tnaCookieBanner({
  'cookiesUrl': '/cookies'
}) }}
{% endblock %}

{% block header %}
{%- set navigationItems = [] -%}
{%- for navigationItem in [
  {
    'text': "Explore the collection",
    'href': "/explore-the-collection"
  }
] -%}
  {{ navigationItems.append({
    'text': navigationItem.text,
    'href': navigationItem.href,
    'selected': request.path.startswith(navigationItem.href)
  }) or "" }}
{%- endfor -%}
{{ tnaHeader({
  'logo': {
    'href': '/'
  },
  'navigation': navigationItems,
  'accent': True
}) }}
{% endblock %}

{% block beforeContent %}
{% if breadcrumbs and breadcrumbs | length > 0 %}
<div class="tna-container">
  <div class="tna-column tna-column--full">
    {{ tnaBreadcrumbs({
      'items': breadcrumbs
    }) }}
  </div>
</div>
{% endif %}
{% endblock %}

{% block footer %}
{{ tnaFooter({}) }}
{% endblock %}

{% block bodyEnd %}
<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
