{% extends "base.html" %}

{% block content %}
<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">{{ data['title'] }}</h1>
      {{ data['intro'] | safe }}
    </div>
  </div>
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <article class="tna-card tna-!--margin-top-l tna-card--horizontal tna-card--accent">
        <div class="tna-card__inner">
          <hgroup class="tna-hgroup-l tna-card__heading">
            <h3 class="tna-hgroup__title">
              <!-- <span class="tna-hgroup__supertitle">Record revealed</span> -->
              <a href="#" class="tna-card__heading-link">{{ data["featured_article"]["title"] }}</a>
            </h3>
          </hgroup>
          <a href="#" class="tna-card__image-container" tabindex="-1">
            <picture class="tna-card__image">
              <img src="https://picsum.photos/800/600?1" alt="A placeholder image" width="800" height="600">
            </picture>
            <div class="tna-chip tna-card__image-label">
              New
            </div>
          </a>
          <div class="tna-card__body">
            <p>????????????????</p>
          </div>
          <div class="tna-card__actions">
            <a href="#" class="tna-card__action" role="button">
              Read about ??????????????????
            </a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h2 class="tna-heading-l">{{ data['featured_pages'][0]['value']['heading'] }}</h2>
      <p>{{ data['featured_pages'][0]['value']['description'] }}</p>
    </div>
  </div>
  <div class="tna-container">
    {% for page in featured_pages %}
    <div class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny">
      <article class="tna-card tna-!--margin-top-l">
        <div class="tna-card__inner">
          <hgroup class="tna-hgroup-s tna-card__heading">
            <h3 class="tna-hgroup__title">
              <span class="tna-hgroup__supertitle tna-hgroup__supertitle--plain">{{ page['supertitle'] }}</span>
              <a href="{{ page['url'] }}" class="tna-card__heading-link">{{ page['title'] }}</a>
            </h3>
          </hgroup>
          <a href="{{ page['url'] }}" class="tna-card__image-container" tabindex="-1">
            <picture class="tna-card__image">
              <img src="{{ page['image']['teaser_image_jpg']['full_url'] }}" alt="{{ page['image']['teaser_image_jpg']['alt'] }}" width="{{ page['image']['teaser_image_jpg']['width'] }}" height="{{ page['image']['teaser_image_jpg']['height'] }}">
            </picture>
          </a>
          <div class="tna-card__body">
            <p>{{ page['intro'] }}</p>
          </div>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</section>
<section class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1>TODO TODO TODO TODO TODO</h1>
    </div>
  </div>
  <div class="tna-container">
    {% for child in children %}
    <div class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny">
      <article class="tna-card tna-!--margin-top-l">
        <div class="tna-card__inner">
          <h3 class=" tna-heading-s tna-card__heading">
            <p>{{ child['supertitle'] }}</p>
            <a href="{{ child['url'] }}" class="tna-card__heading-link">{{ child['title'] }}</a>
          </h3>
          {% if 'teaser_image_jpg' in child['image'] %}
          <a href="{{ child['url'] }}" class="tna-card__image-container" tabindex="-1">
            <picture class="tna-card__image">
              <img src="{{ child['image']['teaser_image_jpg']['full_url'] }}" alt="{{ child['image']['teaser_image_jpg']['alt'] }}" width="{{ child['image']['teaser_image_jpg']['width'] }}" height="{{ child['image']['teaser_image_jpg']['height'] }}">
            </picture>
          </a>
          {% endif %}
          <div class="tna-card__body">
            <p>{{ child['intro'] }}</p>
          </div>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <nav class="tna-pagination tna-!--margin-top-xl" role="navigation" aria-label="Pagination">
        {% if page > 1 %}
        <div class="tna-pagination__prev">
          <a class="tna-button tna-pagination__link" href="?page={{ page - 1 }}" role="button" rel="prev">
            <svg class="tna-pagination__icon tna-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="tna-pagination__link-title">
              Previous
            </span>
          </a>
        </div>
        {% endif %}
        <ul class="tna-pagination__list">
          {% for pagination_item in pagination_list %}
          {% if pagination_item == '...' %}
          <li class="tna-pagination__item tna-pagination__item--ellipses">&ctdot;</li>
          {% elif pagination_item != '' %}
          <li class="tna-pagination__item{% if pagination_item == page %} tna-pagination__item--current{% endif %}">
            <a class="tna-button{% if pagination_item == page %} tna-button--accent{% endif %} tna-pagination__link" role="button" href="?page={{ pagination_item }}" aria-label="">
              {{ pagination_item }}
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        {% if page < max_pages %}
        <div class="tna-pagination__next">
          <a class="tna-button tna-pagination__link" href="?page={{ page + 1 }}" role="button" rel="next">
            <span class="tna-pagination__link-title">Next</span>
            <svg class="tna-pagination__icon tna-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
        {% endif %}
      </nav>





    </div>
  </div>
</section>
{% endblock %}
