{% extends 'base.html' %}

{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'components/pagination/macro.html' import tnaPagination -%}
{%- from 'components/search-field/macro.html' import tnaSearchField -%}
{%- from 'macros/global_alert_banners.html' import global_alert_banners -%}
{%- from 'explore-the-collection/partials/discovery-search.html' import discoverySearch -%}

{%- set themeAccent = 'black' if global_alert.mourning_notice else 'yellow' -%}

{%- set pageTitle = 'Search' -%}

{% block skipLink %}
{{ super() }}
{% if q %}
{{ tnaSkipLink({
  'href': 'results',
  'text': 'Skip to list of results'
}) }}
{% endif %}
{% endblock %}

{% block beforeContent %}
<div class="tna-background-accent-light">
  {{ super() }}
</div>
{% endblock %}

{% block content %}
<div class="tna-background-accent-light tna-!--padding-top-l tna-!--padding-bottom-xl">
  <div class="tna-container">
    <form class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny" method="get" action="{{ url_for('site_search.index') }}">
      {{ tnaSearchField({
        'label': 'Search The National Archives website',
        'headingLevel': 1,
        'headingSize': 'l',
        'hint': 'Find articles and research guides',
        'id': 'search',
        'name': 'q',
        'value': q
      }) }}
    </form>
  </div>
</div>
{% if total_results %}
<section id="results">
  {% if total_results %}
  <div class="tna-container">
    <div class="tna-column tna-column--full-tiny tna-!--margin-vertical-m">
      <p>Showing {{ (children_per_page * (page - 1)) + 1 }}&ndash;{{ children_per_page * page if children_per_page * page < total_results else total_results }} of {{ total_results }} results{% if q %} for &quot;{{ q }}&quot;{% endif %}</p>
    </div>
  </div>
  {% endif %}
  <ul class="tna-container">
    {% for item in results['items'] %}
    <li class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
      {% set card_content = {
        'supertitle': item.type_label,
        'headingLevel': 2,
        'headingSize': 's',
        'title': item.title,
        'href': item.full_url,
        'text': item.teaser_text,
        'fullAreaClick': True,
        'classes': 'tna-card--full-height'
      } %}
      {%- if item.teaser_image %}
        {% set card_content = dict(card_content, **{
          'imageSrc': item.teaser_image.jpeg.full_url,
          'imageAlt': item.teaser_image.alt_text or '',
          'imageWidth': item.teaser_image.jpeg.width,
          'imageHeight': item.teaser_image.jpeg.height,
          'imageSources': [
            {
              'src': item.teaser_image.webp.full_url,
              'type': 'image/webp',
              'width': item.teaser_image.webp.width,
              'height': item.teaser_image.webp.height
            }
          ]
        }) %}
      {%- endif %}
      {{ tnaCard(card_content) }}
    </li>
    {% endfor %}
  </ul>
  {% if pages > 1 %}
  <div class="tna-container">
    <div class="tna-column tna-column--full tna-!--margin-top-l">
      {{ tnaPagination(pagination) }}
    </div>
  </div>
  {% endif %}
</section>
{% elif results %}
<div class="tna-container tna-!--padding-top-l" id="results">
  <div class="tna-column tna-column--full">
    <h2 class="tna-heading-xl">No results found</h2>
    <p>Try the following:</p>
    <ul class="tna-ul">
      <li>Check your spelling</li>
      <li>Try different keywords</li>
      <li>Broaden your search keywords</li>
    </ul>
  </div>
</div>
{% else %}
<div class="tna-container tna-!--padding-top-l">
  <div class="tna-column tna-column--full">
    <h2 class="tna-heading-xl">SEARCH FOR SOMETHING</h2>
  </div>
</div>
{% endif %}
<section class="tna-!--margin-top-xl tna-!--margin-bottom-l">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {{ discoverySearch() }}
    </div>
  </div>
</section>
{% endblock %}
