{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}

{% block beforeContent %}
{% if request.referrer %}
<div class="tna-container">
  <div class="tna-column tna-column--full tna-!--padding-vertical-s">
    <div class="tna-button-group tna-button-group--back">
      {{ tnaButton({
        'text': 'Back',
        'href': request.referrer,
        'icon': 'arrow-left',
        'plain': True,
        'small': True
      }) }}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="tna-container tna-section tna-!--padding-top-s">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
    <hgroup class="tna-hgroup-xl">
      <p class="tna-hgroup__supertitle">Archive</p>
      <h1 class="tna-hgroup__title">{{ data.summaryTitle }}</h1>
    </hgroup>
    <aside class="tna-aside tna-background-tint">
      <h2 class="tna-heading-l">Contact information</h2>
      <dl class="tna-dl tna-dl--plain">
        <dt>Address</dt>
        <dd>
          <address>???</address>
        </dd>
        <dt>Website</dt>
        <dd>???</dd>
        <dt>Opening times</dt>
        <dd>???</dd>
      </dl>
    </aside>
    <h2 class="tna-heading-l">Key information</h2>
    <dl class="tna-dl tna-dl--plain">
      <dt>ARCHON code</dt>
      <dd>{{ data.referenceNumber }}</dd>
    </dl>
  </div>
</div>
{% endblock %}