{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'catalogue/elements/discovery.html' import discovery_info -%}

{% block pageTitle %}{{ data.name }} - {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<meta name="description" content="Record description for {{ data.name }}">
<link rel="canonical" href="{{ url_for('catalogue.details', id=data.id, _external=True) }}">
{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='catalogue.css') }}">
{% endblock %}

{% block beforeContent %}
{% if request.referrer %}
<!-- <div class="tna-container">
  <div class="tna-column tna-column--full tna-!--padding-vertical-s">
    <div class="tna-button-group tna-button-group--back">
      {{ tnaButton({
        'text': 'Back',
        'href': request.referrer,
        'icon': 'arrow-left',
        'plain': True,
        'small': True
      }) }}
    </div>
  </div>
</div> -->
{% endif %}
{% endblock %}

{% block content %}
<div class="tna-container tna-section tna-!--padding-top-s" itemscope itemtype="https://schema.org/Person">
  <div class="tna-column tna-column--width-2-3 tna-column--full-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
    <hgroup class="tna-hgroup-xl">
      <p class="tna-hgroup__supertitle">Person</p>
      <h1 class="tna-hgroup__title" itemprop="name">{{ data.name }}</h1>
    </hgroup>
    {% if 'Date' in details or 'Functions, occupations and activities' in details %}
    <p class="tna-large-paragraph">
      {%- if 'Date' in details -%}
        {{ details['Date'] }}
      {%- endif -%}
      {%- if 'Functions, occupations and activities' in details %}
        {%- if 'Date' in details %}, {% endif -%}
        {{ details['Functions, occupations and activities'] }}
      {%- endif -%}
    </p>
    {% endif -%}
    <h2 class="tna-heading-l">Details of this record creator</h2>
    <dl class="tna-dl">
      {% for detail in details %}
      <dt>{{ detail }}</dt>
      <dd>{{ details[detail] | safe }}</dd>
      {% endfor %}
    </dl>
  </div>
  <!-- {{ discovery_info('/details/c/' + data.id, config) }} -->
</div>
{% endblock %}