{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}

{%- set breadcrumbs = [
  {
    'text': 'Home',
    'href': '/'
  },
  {
    'text': 'Search',
    'href': url_for('search.index')
  },
  {
    'text': 'Catalogue',
    'href': url_for('search.catalogue')
  }
] -%}

{%- set pageTitle = data.name -%}

{% block head %}
{{ super() }}
    <meta name="description" content="Record description for {{ data.name }}">
    <link rel="canonical" href="{{ url_for('catalogue.details', id=data.id, _external=True, _scheme='https') }}">
{% endblock %}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='catalogue.css') }}">
{% endblock %}

{% block beforeContent %}
{{ super() }}
{% if request.referrer %}
<!-- <div class="tna-container">
  <div class="tna-column tna-column--full tna-!--padding-vertical-s">
    <div class="tna-button-group tna-button-group--back">
      {{ tnaButton({
        'text': 'Back',
        'href': request.referrer,
        'icon': 'arrow-left',
        'plain': True,
        'small': True
      }) }}
    </div>
  </div>
</div> -->
{% endif %}
{% endblock %}

{% block content %}
<div class="tna-container tna-section tna-!--padding-top-s" itemscope itemtype="https://schema.org/Person">
  <div class="tna-column tna-column--width-2-3 tna-column--full-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
    <hgroup class="tna-hgroup-xl">
      <p class="tna-hgroup__supertitle">Person</p>
      <h1 class="tna-hgroup__title" itemprop="name">{{ data.name }}</h1>
    </hgroup>
    {%- if data.birth or data.death or data.functions %}
    <p class="tna-large-paragraph">
      {%- if data.birth or data.death %}
      <span itemprop="birthDate">{{ data.birth }}</span>&ndash;<span itemprop="deathDate">{{ data.death }}</span>
        {%- if data.functions %}, {% endif %}
      {%- endif %}
      {%- if data.functions %}
        <span itemprop="jobTitle">{{ data.functions }}</span>
      {%- endif %}
    </p>
    {%- endif %}
    <h2 class="tna-heading-l">Details of this record creator</h2>
    <dl class="tna-dl">
      {%- if data.name_parts %}
        {%- if data.name_parts.surname %}
        <dt>
          <div class="etna-sticky-dt">Surname</div>
        </dt>
        <dd itemprop="familyName">{{ data.name_parts.surname }}</dd>
        {%- endif %}
        {%- if data.name_parts.forenames %}
        <dt>
          <div class="etna-sticky-dt">Forename{{ 's' if data.name_parts.forenames | length > 1 }}</div>
        </dt>
        <dd itemprop="givenName">{{ data.name_parts.forenames | join(' ') }}</dd>
        {%- endif %}
        {%- if data.name_parts.alternative_names %}
        <dt>
          <div class="etna-sticky-dt">Also known as</div>
        </dt>
        <dd itemprop="alternateName">{{ data.name_parts.alternative_names }}</dd>
        {%- endif %}
        {%- if data.name_parts.title %}
        <dt>
          <div class="etna-sticky-dt">Title</div>
        </dt>
        <dd>{{ data.name_parts.title }}</dd>
        {%- endif %}
      {%- endif %}
      {%- if data.gender %}
        <dt>
          <div class="etna-sticky-dt">Gender</div>
        </dt>
        <dd itemprop="gender">{{ data.gender }}</dd>
      {%- endif %}
      {%- if data.birth or data.death %}
        <dt>
          <div class="etna-sticky-dt">Lifespan</div>
        </dt>
        <dd>{{ data.birth }}&ndash;{{ data.death }}</dd>
      {%- endif %}
      {%- if data.places %}
        <dt>
          <div class="etna-sticky-dt">Places</div>
        </dt>
        <dd>{{ data.places | join('<br>') }}</dd>
      {%- endif %}
      {%- if data.functions %}
        <dt>
          <div class="etna-sticky-dt">Functions, occupations and activities</div>
        </dt>
        <dd>{{ data.functions | safe }}</dd>
      {%- endif %}
      {%- if data.history and data.history != data.functions %}
        <dt>
          <div class="etna-sticky-dt">History</div>
        </dt>
        <dd>{{ data.history | safe }}</dd>
      {%- endif %}
      {%- if data.biography %}
        <dt>
          <div class="etna-sticky-dt">Biography</div>
        </dt>
        <dd>{{ data.biography | safe }}</dd>
      {%- endif %}
      {%- if data.identifier %}
        <dt>
          <div class="etna-sticky-dt">Identifier</div>
        </dt>
        <dd>{{ data.identifier }}</dd>
      {%- endif %}
    </dl>
  </div>
</div>
{% endblock %}