{% extends 'base.html' %}

{%- from 'components/button/macro.html' import tnaButton -%}
{%- from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs -%}
{%- from 'components/pagination/macro.html' import tnaPagination -%}
{%- from 'catalogue/elements/discovery.html' import discovery_info -%}

{%- set breadcrumbs = [
  {
    'text': 'Home',
    'href': '/'
  },
  {
    'text': 'Search',
    'href': url_for('search.index')
  },
  {
    'text': 'Catalogue',
    'href': url_for('search.catalogue')
  }
] -%}

{% block pageTitle %}{{ data.title }} - {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<meta name="description" content="Record {{ data.ref or data.id }} - {{ data.summary_title }}">
<link rel="canonical" href="{{ url_for('catalogue.details', id=data.id, _external=True) }}">
{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='catalogue.css') }}">
{% endblock %}

{% block beforeContent %}
{{ super() }}
{% if request.referrer %}
<!-- <div class="tna-container">
  <div class="tna-column tna-column--full tna-!--padding-vertical-s">
    <div class="tna-button-group tna-button-group--back">
      {{ tnaButton({
        'text': 'Back',
        'href': request.referrer,
        'icon': 'arrow-left',
        'plain': True,
        'small': True
      }) }}
    </div>
  </div>
</div> -->
{% endif %}
{% endblock %}

{% block content %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <hgroup class="tna-hgroup-xl">
        <p class="tna-hgroup__supertitle">Record</p>
        <h1 class="tna-hgroup__title">{{ data.summary_title }}</h1>
      </hgroup>
    </div>
    {% if data.hierarchy %}
    <div class="tna-column tna-column--full">
      <aside class="etna-record-hierarchy-wrapper tna-!--margin-top-m">
        <h2 class="tna-heading-l">Detailed catalogue location</h2>
        {% if hierarchy_breadcrumb_items %}
        {{ tnaBreadcrumbs({
          'items': hierarchy_breadcrumb_items
        }) }}
        {% endif %}
        {% if data.held_by or data.hierarchy %}
        <ul class="etna-record-hierarchy">
          {% if data.held_by %}
          <li>
            <div class="etna-record-hierarchy__item">
              <p>
                This record is held at
                <strong>
                  <a href="{{ url_for('catalogue.details', id=data.held_by.id) }}">{{ data.held_by.name }}</a>
                </strong>
              </p>
            </div>
          {% endif %}
          {% for level in data.hierarchy %}
          <ul>
            <li>
            {% if level.id == data.id %}
            <div class="etna-record-hierarchy__item etna-record-hierarchy__item--current">
              <p>
                You are currently looking at the {{ level.level_name | lower }}
                <strong>{{ level.identifier or 'Unknown' }}</strong>
              </p>
              <p>
                <small>{{ level.title }}</small>
              </p>
            </div>
            {% else %}
            <div class="etna-record-hierarchy__item">
              <p>
                Within the {{ level.level_name | lower }}
                <strong>
                  <a href="{{ url_for('catalogue.details', id=level.id) }}">{{ level.identifier or 'Unknown' }}</a>
                </strong>
              </p>
              <p>
                <small>{{ level.title }}</small>
              </p>
            </div>
            {% endif %}
          {% endfor %}
          {% for level in data.hierarchy %}
            </li>
          </ul>
          {% endfor %}
        </ul>
        {% if data.ref %}
        {{ tnaPagination({
          'previous': {
            'href': '#',
            'text': 'TODO',
            'title': 'Previous in series: TODO'
          },
          'items': [],
          'currentItemText': 'Current item: ' + data.ref,
          'next': {
            'href': '#',
            'text': 'TODO',
            'title': 'Next in series: TODO'
          },
          'spaced': True
        }) }}
        {% endif %}
      </aside>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
<div class="tna-section tna-!--no-padding-top">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
      <h2 class="tna-heading-l">Description and record details</h2>
      <dl class="tna-dl etna-record-details">
        {% if data.ref %}
        <dt>
          <div class="etna-sticky-dt">Reference</div>
        </dt>
        <dd>{{ data.ref }}</dd>
        {% endif %}
        {% if data.former_ref %}
        <dt>
          <div class="etna-sticky-dt">Former reference in its original department</div>
        </dt>
        <dd>{{ data.former_ref }}</dd>
        {% endif %}
        {% if data.title and data.title != data.summary_title %}
        <dt>
          <div class="etna-sticky-dt">Title</div>
        </dt>
        <dd>{{ data.title | safe }}</dd>
        {% endif %}
        {% if data.date %}
        <dt>
          <div class="etna-sticky-dt">Date</div>
        </dt>
        <dd>{{ data.date }}</dd>
        {% endif %}
        {% if data.description %}
        <dt>
          <div class="etna-sticky-dt">Description</div>
        </dt>
        <dd>{{ data.description | replace_ext_ref | safe }}</dd>
        {% endif %}
        {% if data.held_by %}
        <dt>
          <div class="etna-sticky-dt">Held by</div>
        </dt>
        <dd><a href="{{ url_for('catalogue.details', id=data.held_by.id) }}">{{ data.held_by.name }}</a></dd>
        {% endif %}
        {% if data.legal_status %}
        <dt>
          <div class="etna-sticky-dt">Legal status</div>
        </dt>
        <dd>{{ data.legal_status }}</dd>
        {% endif %}
        {% if data.notes %}
        <dt>
          <div class="etna-sticky-dt">Notes</div>
        </dt>
        <dd>
          <ul class="tna-ul tna-ul--plain">
            {% for note in data.notes %}
            <li>{{ note }}</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if data.closure_status %}
        <dt>
          <div class="etna-sticky-dt">Closure status</div>
        </dt>
        <dd>{{ data.closure_status }}</dd>
        {% endif %}
        {% if data.access_condition %}
        <dt>
          <div class="etna-sticky-dt">Access condition</div>
        </dt>
        <dd>{{ data.access_condition }}</dd>
        {% endif %}
        {% if data.languages %}
        <dt>
          <div class="etna-sticky-dt">Language(s)</div>
        </dt>
        <dd>
          <ul class="tna-ul tna-ul--plain">
            {% for language in data.languages %}
            <li>{{ language }}</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if data.creators %}
        <dt>
          <div class="etna-sticky-dt">Creator(s)</div>
        </dt>
        <dd>
          <ul class="tna-ul tna-ul--plain">
            {% for creator in data.creators %}
            <li>{{ creator.name }} ({{ creator.date }}){% if creator.title %} &mdash; {{ creator.title }}{% endif %}</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if data.acquisition %}
        <dt>
          <div class="etna-sticky-dt">Immediate source of acquisition</div>
        </dt>
        <dd>
          <ul class="tna-ul tna-ul--plain">
            {% for acquisitor in data.acquisition %}
            <li>{{ acquisitor.title }}{% if acquisitor.date %} ({{ acquisitor.date }}){% endif %}</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if data.arrangement %}
        <dt>
          <div class="etna-sticky-dt">Arrangement</div>
        </dt>
        <dd>{{ data.arrangement | replace_ext_ref | replace_ref | safe }}</dd>
        {% endif %}
        {% if data.related_materials %}
        <dt>
          <div class="etna-sticky-dt">Related materials</div>
        </dt>
        <dd>
          <ul class="tna-ul tna-ul--plain">
            {% for related_material in data.related_materials %}
            <li>
            {% if related_material.id %}
              <a href="{{ url_for('catalogue.details', id=related_material.id) }}">{{ related_material.title or related_material.note }}</a>
            {% else %}
              {{ related_material.title or related_material.note }}
            {% endif %}
            </li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if data.physical_description %}
        <dt>
          <div class="etna-sticky-dt">Physical description</div>
        </dt>
        <dd>{{ data.physical_description }}</dd>
        {% endif %}
        {% if data.administrative_background %}
        <dt>
          <div class="etna-sticky-dt">Administrative/biographical background</div>
        </dt>
        <dd>{{ data.administrative_background | replace_ext_ref | safe }}</dd>
        {% endif %}
        {% if data.unpublished_finding_aids %}
        <dt>
          <div class="etna-sticky-dt">Unpublished finding aids</div>
        </dt>
        <dd>{{ data.unpublished_finding_aids }}</dd>
        {% endif %}
      </dl>
    </div>
  </div>
</div>
<div class="tna-section tna-!--no-padding-top">
  <div class="tna-container">
    {{ discovery_info('/details/r/' + data.id, config) }}
  </div>
</div>
{% endblock %}